<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <style type="text/css">
	body
	{
	  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;		
	  background-color: #fff;
	  text-align: center;
	}
	h1
	{
	  font-size: 2em;
	  font-weight: normal;
	}
	.align-center
	{
	  text-align: center;
	  margin-left: auto;
	  margin-right: auto;		
	}
  </style>
</head>

<script type="text/javascript"><!--

$(document).ready(function() {
  // See http://jquerytools.org/documentation/tooltip/#positioning
  $(".avatar_image").tooltip({
	predelay: 750,
	effect: 'fade',
	position: 'bottom center',
	offset: [-30,0],
	delay: 1000
  });
});

//--></script>

<body class="panel">

  <% avatars = Avatar.names.shuffle %>
  <% size = 125 %>

  <h1><%= message %></h1>
	
  <table class="align-center">
	<tr>
	  <td>
	  <img alt="<%= avatars[0]%>"
		   class="avatar_image"
		   height="<%= size %>"
		   width="<%= size %>"
		   src="/images/avatars/<%= avatars[0]%>.jpg" />		  
	  <div class="tooltip">
		<%= avatars[0] %> says <em>sorry</em>
	  </div>
	  </td>
	  <td><%= avatar_image(avatars[1],size) %></td>
	  <td><%= avatar_image(avatars[2],size) %></td>
	  <td><%= avatar_image(avatars[3],size) %></td>
	</tr>
	<tr>
	  <td><%= avatar_image(avatars[4],size) %></td>
	  <td><%= avatar_image(avatars[5],size) %></td>
	  <td><%= avatar_image(avatars[6],size) %></td>
	  <td><%= avatar_image(avatars[7],size) %></td>
	</tr>
	<tr>
	  <td><%= avatar_image(avatars[ 8],size) %></td>
	  <td><%= avatar_image(avatars[ 9],size) %></td>
	  <td><%= avatar_image(avatars[10],size) %></td>
	  <td><%= avatar_image(avatars[11],size) %></td>
	</tr>
	<tr>
	  <td><%= avatar_image(avatars[12],size) %></td>
	  <td><%= avatar_image(avatars[13],size) %></td>
	  <td><%= avatar_image(avatars[14],size) %></td>
	  <td><%= avatar_image(avatars[15],size) %></td>
	</tr>
  </table>      

  <h1>Sorry</h1>
	
</body>
</html>  
