
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>
    <%= title -%>
  </title>
    <style type="text/css">
      body
      {
	background-color: #fff;
	color: green;
	text-align: center;
	font-family: arial, sans-serif;
      }
      #center
      {
	align: center;
	width: 95%;
	padding: 0em;
	margin: 1em auto 0 auto;
      }
      h1
      {
	font-size: 3em;
	text-align:
	center; margin: 0;
      }
  </style>
</head>

<body>

  <%= render :partial => 'dojo/title',
             :locals => { :title =>  message } -%>

  <% avatars = Avatar.names.shuffle -%>
  <% size = 150 -%>

  <div id="center">
    
    <table align="center">
      <tr>
        <td><%= avatar_image(avatars[0],size) -%></td>
        <td><%= avatar_image(avatars[1],size) -%></td>
        <td><%= avatar_image(avatars[2],size) -%></td>
      </tr>
      <tr>
        <td><%= avatar_image(avatars[3],size) -%></td>
        <td>Sorry</td>
        <td><%= avatar_image(avatars[4],size) -%></td>
      </tr>
      <tr>
        <td><%= avatar_image(avatars[5],size) -%></td>
        <td><%= avatar_image(avatars[6],size) -%></td>
        <td><%= avatar_image(avatars[7],size) -%></td>
      </tr>
    </table>      
  </div>
</body>
</html>  
  
