
<script type="text/javascript"><!--

$(function() {

  //---------------------------------------------------------------------
  // The review page doubles, in one place, as a review dialog,
  // from the kata/edit page traffic-light click handlers.
  // Everywhere else review is its own page with its own URL.
  // The [branch] button is available only from the review *page*.
  // The [checkout] button is available only from the review *dialog*.
  //---------------------------------------------------------------------

  cd.setupReviewDialog = function(id, avatar, wasTag, nowTag) {
    param = { id:id, avatar:avatar, wasTag:wasTag, nowTag:nowTag };
    reviewRefresh();
  };

  var param = {
        id: "<%= @kata.id %>",
    avatar: "<%= @avatar.name %>",
    wasTag: "<%= @was_tag %>",
    nowTag: "<%= @now_tag %>",
  };
  var currentFilename = '';

  //-----------------------------------------
  // refresh diff? [x]
  //-----------------------------------------

  var refreshDiffCheckBox = function() {
    diffCheckBox()
      .attr('checked', inDiffMode())
      .unbind('click')
      .bind('click', function() { show(param.nowTag); });
  };

  var diffCheckBox = function() {
    return $('#diff-checkbox');
  };

  var inDiffMode = function() {
    return param.wasTag != param.nowTag;
  }

  //-----------------------------------------
  // refresh traffic-lights
  //-----------------------------------------

  var refreshTrafficLights = function() {
    var trafficLights = $('#review-traffic-lights');
    trafficLights.html(makeTrafficLightsHtml(param.lights));
    $.each($('img[src$="_gap.png"]'), function(_, light) {
      var index = $(this).data('index');
      var tag = $(this).data('tag');
      $(this)
        .attr('title', toolTip(index))
        .click(function() { show(tag); });
    });
  };

  var makeTrafficLightsHtml = function(lights) {
    var html = '';
    var index = 1;
    html += '<table><tr>'
    $.each(lights, function(n, light) {
      var barGap = (param.nowTag == light.number) ? 'bar' : 'gap';
      html +=
        "<td><div class='traffic-light'>" +
          "<img src='/images/bulb_" + light.colour + '_' + barGap + ".png'" +
              " data-index='" + index + "'" +
              " data-tag='" + light.number + "'/>" +
        '</div></td>';
        index += 1;
    });
    html += '</tr></table>';
    return html;
  };

  var toolTip = function(tag) {
    if (inDiffMode()) {
      return 'Show diff ' + (tag-1) + '<->' + tag;
    } else {
      return 'Show ' + tag;
    }
  };

  //-----------------------------------------
  // refresh [<] avatar [>]
  //-----------------------------------------

  var refreshAvatarControls = function() {
    refreshPrevAvatarHandler();
    refreshAvatarImage();
    refreshNextAvatarHandler();
  };

  var refreshAvatarImage = function() {
    $('#avatar').parent().html(makeAvatarImageHtml());
  };

  var makeAvatarImageHtml = function() {
    return '<img id="avatar" src="/images/avatars/' + param.avatar + '.jpg"/>';
  };

  var refreshPrevAvatarHandler = function() {
    refreshAvatarHandler('prev', param.prevAvatar);
  };

  var refreshNextAvatarHandler = function() {
    refreshAvatarHandler('next', param.nextAvatar);
  };

  var refreshAvatarHandler = function(id, name) {
    var title = function() {
      var text = 'Click to review ' + name + "'s ";
      return text + (inDiffMode() ? 'diffs' : 'current code');
    };
    $('#' + id + '-avatar')
      .attr('disabled', name == '')
      .attr('title', title())
      .unbind('click')
      .bind('click', function() {
        param.avatar = name;
        if (inDiffMode()) {
          show(1);
        } else {
          showLatestNoDiff();
        }
      });
  };

  //-----------------------------------------
  // refresh [<] tag [>]
  //-----------------------------------------

  var refreshTagControls = function() {
    var colour = param.lights[param.nowTag - 1].colour;
    var minTag = 1;
    var maxTag = param.lights.length;
    var hasPrevTag = minTag < param.nowTag;
    var hasNextTag =          param.nowTag < maxTag;

    $('#now-tag-number')
      .removeClass()
      .addClass(colour)
      .text(param.nowTag);

    refreshTag(hasPrevTag, $('#prev-tag'),  param.nowTag - 1);
    refreshTag(hasNextTag, $('#next-tag'),  param.nowTag + 1);
  };

  var refreshTag = function(on, button, newTag) {
    button
      .attr('disabled', !on)
      .css('cursor', on ? 'pointer' : 'default');
    if (on) {
      button
        .attr('title', toolTip(newTag))
        .unbind('click')
        .bind('click', function() { show(newTag); });
    }
  };

  //-----------------------------------------
  // refresh files
  //-----------------------------------------

  var refreshFiles = function() {
    var diffContent = $('#diff-content');
    var diffFilenames = $('#diff-filenames');
    diffFilenames.html(makeDiffFilenames(param.diffs));
    resetFilenameAddedDeletedLineCountHandlers();
    diffContent.html(makeDiffContent(param.diffs));
    buildDiffFilenameHandlers(param.idsAndSectionCounts);
    showFile(param.currentFilenameId);
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  var makeDiffFilenames = function(diffs) {
    // align-right is for diff toggling added/deleted line counts
    return '' +
      '<table align="right">' +
        '<tr>' +
            cd.td(makeDiffFilenamesColumn(diffs)) +
            cd.td(makeDiffDeletedCountColumn(diffs)) +
            cd.td(makeDiffAddedCountColumn(diffs)) +
        '</tr>' +
      '</table>';
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  var makeDiffFilenamesColumn = function(diffs) {
    var html = '';
    html += '<table>';
    $.each(sortedDiffs(diffs), function(_, diff) {
      var td = $('<td>');
      var filenameDiv =
        $('<div>', {
            'class': 'filename',
            'data-filename': diff.filename,
            'id': 'radio_' + diff.id,
            'text': diff.filename
        });
      td.append(filenameDiv);
      html += '<tr>' + td.html() + '</tr>';
    });
    html += '</table>';
    return html;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  var makeDiffDeletedCountColumn = function(diffs) {
    return makeDiffCountColumn(diffs, 'deleted_line_count', 'deleted');
  };

  var makeDiffAddedCountColumn = function(diffs) {
    return makeDiffCountColumn(diffs, 'added_line_count', 'added');
  };

  var makeDiffCountColumn = function(diffs, propertyName, cssName) {
    var html = '';
    if (!diffCheckBox().is(':checked')) {
      return html;
    }
    html += '<table>';
    $.each(sortedDiffs(diffs), function(_, diff) {
      var count = diff[propertyName];
      var td = $('<td>');
      var noneOrSome = (count == 0) ? 'none' : 'some';
      var div = $('<div>', {
        'class': 'diff-' + cssName + '-line-count ' + noneOrSome + ' button',
        'data-filename': diff.filename
      });
      div.append(count);
      td.append(div);
      html += '<tr>' + td.html() + '</tr>';
    });
    html += '</table>';
    return html;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  var sortedDiffs = function(diffs) {
    var filenames = [];
    $.each(diffs, function(_, diff) {
      filenames.push(diff.filename);
    });
    // ensure filenames appear in the same order as test page
    var sorted = cd.sortedFilenames(filenames);
    var diffFor = function(filename) {
      var i;
      for (i = 0; i < diffs.length; i += 1) {
        if (diffs[i].filename == filename) {
          return diffs[i];
        }
      }
    };
    var result = [];
    $.each(sorted, function(_, filename) {
      result.push(diffFor(filename));
    });
    return result;
  };

  cd.lowlightFilenames = function() {
    // called by cd.sortedFilenames(filenames) which is called in sortedDiffs()
    return $.parseJSON('<%= @kata.language.lowlight_filenames.inspect.html_safe %>');
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  var resetFilenameAddedDeletedLineCountHandlers = function() {

    var display = function(node, name, value) {
      if ($(node).attr('disabled') != 'disabled') {
        var filename = $(node).data('filename');
        var selector = '[id="' + filename + '_diff_div"] ' + name;
        $(selector).css('display', value);
      }
    };

    $('.diff-deleted-line-count')
      .clickToggle(
        function() { display(this, 'deleted', 'none' ); },
        function() { display(this, 'deleted', 'block'); }
      );

    $('.diff-added-line-count')
      .clickToggle(
        function() { display(this, 'added', 'none' ); },
        function() { display(this, 'added', 'block'); }
      );
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  var buildDiffFilenameHandlers = function(diffs) {

    // Builds click handlers for all filenames for a given
    // [ kata-id, animal-name, was-tag, now-tag] tuple.
    // When you open a new filename it auto-scrolls its first diff-chunk.
    // When you reclick a filename it auto-scrolls to its *next* diff-chunk.

    var previousFilenameNode;
    var alreadyOpened = [];
    var getFilename = function(node) { return $.trim(node.text()); };
    var id = function(name) { return $('[id="' + name + '"]'); /*, diffDiv); */ };
    var diffFileContentFor = function(filename) { return id('diff_file_content_for_' + filename); };
    var diffFileDiv = function(filename) { return id(filename + '_diff_div'); };

    var loadFrom = function(diff) {

      var id = diff.id;
      var filenameNode = $('#radio_' + id); // clash with kata-page filename when in dialog?
      var filename = getFilename(filenameNode);
      var sectionCount = diff.section_count;
      var diffSheet = diffFileContentFor(filename);
      var sectionIndex = 0;

      if (sectionCount > 0) {
        filenameNode.attr('title', 'Auto-scroll through diffs');
      }

      return function() {

        var reselected =
          previousFilenameNode != undefined &&
            getFilename(previousFilenameNode) == filename;

        $('.diff-deleted-line-count, .diff-added-line-count').attr('disabled', true);
        $('.diff-deleted-line-count[data-filename="'+filename+'"]').attr('disabled', false);
        $('.diff-added-line-count[data-filename="'+filename+'"]').attr('disabled', false);

        cd.radioEntrySwitch(previousFilenameNode, filenameNode);

        if (previousFilenameNode != undefined) {
          diffFileDiv(getFilename(previousFilenameNode)).hide();
        }
        diffFileDiv(getFilename(filenameNode)).show();
        previousFilenameNode = filenameNode;
        currentFilename = filename;

        if (sectionCount > 0 && (reselected || !cd.inArray(filename, alreadyOpened))) {
          var section = $('#' + id + '_section_' + sectionIndex);
          var downFromTop = 250;
          var halfSecond = 500;
          diffSheet.animate({
            scrollTop: '+=' + (section.offset().top - downFromTop) + 'px'
            }, halfSecond);
          sectionIndex += 1;
          sectionIndex %= sectionCount;
        }
        alreadyOpened.push(filename);
      };
    }; // loadFrom()

    $.each(diffs, function(_n, diff) {
      var filename = $('#radio_' + diff.id); // clash with kata-page filename when in dialog?
      filename.click(loadFrom(diff));
    });
  }; // buildDiffFilenameHandlers()

  // - - - - - - - - - - - - - - - - - - - - - - - -

  var makeDiffContent = function(diffs) {
    var holder = $('<span>');
    $.each(diffs, function(_, diff) {
      var table = $('' +
        '<div id="' + diff.filename + '_diff_div" class="filename_div">' +
        '<table>' +
          '<tr class="valign-top">' +
            cd.td('<div class="diff-line-numbers"></div>') +
            cd.td('<div id="diff_file_content_for_' + diff.filename + '"' +
                   ' class="diff-sheet"></div>') +
          '</tr>' +
        '</table>' +
        '</div>'
        );
      var content = $('.diff-sheet', table);
      var numbers = $('.diff-line-numbers', table);
      content.html(diff.content);
      numbers.html(diff.line_numbers);
      cd.bindLineNumbersFromTo(content, numbers);
      holder.append(table);
    });
    return holder;
  };

  //-----------------------------------------

  var showFile = function(filenameId) {
    var filename =  $('#radio_' + filenameId);
    filename.click();
    filename.scrollIntoView({ direction: 'vertical' });
  };

  var show = function(tag) {
    // preserve diff on/off state
    param.wasTag = tag - (diffCheckBox().is(':checked') ? 1 : 0);
    param.nowTag = tag;
    refresh();
  };

  var showLatestNoDiff = function() {
    var lastTag = -1;
    param.wasTag = lastTag;
    param.nowTag = lastTag;
    refresh();
  };

  var refresh = function() {
    if (inDialog()) {
      reviewRefresh();
    } else {
      window.location.href = cd.showReviewUrl(param.id, param.avatar, param.wasTag, param.nowTag);
    }
  };

  var inDialog = function() {
    var dialog = $('div.ui-dialog-content');
    return dialog.size() == 1;
  };

  var reviewRefresh = function() {
    $('.ui-dialog').addClass('busy');
    $.getJSON('/differ/diff',
      {
                      id: param.id,
                  avatar: param.avatar,
                 was_tag: param.wasTag,
                 now_tag: param.nowTag,
        current_filename: currentFilename
      },
      function(reviewParam) {
        $('.ui-dialog').removeClass('busy');
        param = reviewParam;
        refreshDiffCheckBox();
        refreshTrafficLights();
        refreshAvatarControls();
        refreshTagControls();
        refreshFiles();
        refreshRevertButton();
        var light = $('img[src$="_bar.png"]');
        var options = { direction: 'horizontal', duration: 'slow' };
        light.scrollIntoView(options);
      }
    );
  };

  //-----------------------------------------
  // refresh [fork] {create a practice-session} (from page only)
  //-----------------------------------------

  var refreshForkButton = function() {
    var value = 'create a practice session from ' + param.avatar + ' ' + param.nowTag;
    $('#fork-button').text(value);
  };

  var doFork = function() {
    $.getJSON('/forker/fork', {
          id: param.id,
      avatar: param.avatar,
         tag: param.nowTag
    },
    function(data) {
      if (data.forked) {
        cd.newDojoDialog(data.id);
      } else {
        forkFailedDialog(data.reason);
      }
    });
  };

  var forkFailedDialog = function(reason) {
    var message =
      'Failed: On the originating server, ' + reason + ' does not exist';
    $('<div>')
    .html(message)
    .dialog({
      title: cd.dialogTitle('create a practice-session'),
      autoOpen: true,
      // does this need [esc] => close ?
      modal: true,
      width: 510,
      buttons: { ok: function() { $(this).remove(); } }
    });
  };

  //-----------------------------------------
  // refresh [revert] (from dialog only)
  //-----------------------------------------

  var refreshRevertButton = function() {
    var value = 'revert to ' + param.avatar + ' ' + param.nowTag;
    $('#revert-button').text(value);
  };

  var doRevert = function() {
    $.getJSON('/reverter/revert', {
          id: param.id,
      avatar: param.avatar,
         tag: param.nowTag
    },
    function(data) {
      $('#review-dialog').dialog('close');
      deleteAllCurrentFiles();
      copyRevertFilesToCurrentFiles(data.visibleFiles);
      $('#test-button').click();
    });
  };

  //- - - - - - - - - - - - - - -

  var deleteAllCurrentFiles = function() {
    $.each(cd.filenames(), function(_, filename) {
      if (filename !== 'output') {
        cd.doDelete(filename);
      }
    });
  };

  //- - - - - - - - - - - - - - -

  var copyRevertFilesToCurrentFiles = function(visibleFiles) {
    var filename;
    for (filename in visibleFiles) {
      if (filename !== 'output') {
        cd.newFileContent(filename, visibleFiles[filename]);
      }
    }
  };

  //-----------------------------------------
  //-----------------------------------------

  var setupButton = function(name, handler) {
    $('#'+name+'-button-container').html('<button id="'+name+'-button" type="button"></button>');
    $('#'+name+'-button')
      .text(name)
      .unbind('click')
      .bind('click', handler);
    refreshRevertButton();
    refreshForkButton();
  };

  if (inDialog()) {
    setupButton('close',  function() { $('#review-dialog').dialog('close'); });
    setupButton('revert', function() { doRevert(); });
  } else {
    setupButton('fork',   function() { doFork(); });
    reviewRefresh();
  }

});

//--></script>

<table>
  <tr>
    <td style="width:300px" align="right">
      <%= render(:partial => 'review/diff_checkbox') %>
    </td>
    <td>
      <div id="review-traffic-lights"></div>
    </td>
  </tr>
  <tr>
    <td>
      <%= render(:partial => 'review/navigate_control') %>
      <div id="diff-filenames"></div>
    </td>
    <td>
      <div id="diff-content"></div>
    </td>
  </tr>
  <tr>
    <td>
      <div id="close-button-container"></div>
    </td>
    <td>
      <div id="fork-button-container"></div>
      <div id="revert-button-container"></div>
    </td>
  </tr>
</table>

