
<script type="text/javascript"><!--

$(document).ready(function() {
  
  var id = function() {
    return "<%= @kata.id %>";
  };
  
  var minuteColumns = function() {
    return $('#minute_columns_checkbox').is(':checked');    
  };
  
  var autoRefresh = function() {
    return $('#auto_refresh_checkbox').is(':checked');
  };
  
  var dashboardHeartbeat = function() {
    if (autoRefresh()) {
      $.ajax({
        url: '/dashboard/heartbeat',
        data: {
          id: id(),
          minute_columns: minuteColumns(),
          auto_refresh: autoRefresh()
        },
        dataType: "script"
      });
    }
  };

  var seconds = 1000;    
  setInterval(dashboardHeartbeat, 10*seconds);
  
  //-----------

  $('#minute_columns_checkbox')
    .attr('checked', "<%= @minute_columns %>" === "true")
    .click(function() {  
      refreshDashboard();
    });
  
  $('#auto_refresh_checkbox')
    .attr('checked', "<%= @auto_refresh %>" === "true")
    .click(function() {  
      refreshDashboard();
    });
  
  var refreshDashboard = function() {
    var url = '/dashboard/show/' + id() + '?' +
              'minute_columns=' + minuteColumns() + '&' +
              'auto_refresh=' + autoRefresh();
    window.location = url;    
  };

});

//--></script>

<table>

  <tr>
    <td class="align-right">
      <%= raw t("views.labels.minute_columns") %>
    </td>
    <td>
      <input type="checkbox"
             id="minute_columns_checkbox"/>
      <div class="tooltip">
      </div>
    </td>
  </tr>

  <tr>
    <td class="align-right">
      <%= raw t("views.labels.auto_refresh") %>
    </td>
    <td>
      <input type="checkbox"
             id="auto_refresh_checkbox"/>
      <div class="tooltip">
        toggles the 10 second<br>
        auto-refresh on/off
      </div>
    </td>
  </tr>
  
</table>
