
<script type="text/javascript"><!--

$(document).ready(function() {

  var autoRefreshEnabled = "<%= @auto_refresh %>" === "true";
  var autoRefreshButton = $('#auto_refresh');    
  var autoRefreshLabel = $('#auto_refresh_label');

  var setRefreshButtonText = function() {
    var label = "<%= t('views.labels.auto_refresh') %>";
    if (autoRefreshEnabled) {
      autoRefreshLabel.text(label + ' on');
    } else {
      autoRefreshLabel.text(label + ' off');
    }    
  };
  
  var parse = function(name, current_value) {
    var input = $('#' + name);
    var newValue = parseInt(input.val());
    if (isNaN(newValue)) {
      input.attr('value', current_value);
    }
    return input.val();
  };

  var params = function() {
    return {
      id: "<%= @kata.id %>",
      seconds_per_column: parse('seconds_per_column', <%= @seconds_per_column %>),
      maximum_columns: parse('maximum_columns', <%= @maximum_columns %>),
      auto_refresh: autoRefreshEnabled
    };
  };
  
  var refreshDashboard = function() {
    if (!autoRefreshEnabled) {
      $.ajax({
        url: "<%= url_for :action => 'heartbeat' %>",
        data: params(),
        dataType: "script"
      });
    }
  };

  var seconds = 1000;
    
  setInterval(refreshDashboard, 10*seconds);
  
  $('#seconds_per_column,#maximum_columns').keyup(function(event) {
    if (event.keyCode === $.ui.keyCode.ENTER) {
      cd.postTo('/dashboard/show', params());
    }
  });
  
  autoRefreshButton.click(function() {
    autoRefreshEnabled = !autoRefreshEnabled;
    setRefreshButtonText();
  });
  
  setRefreshButtonText();

  // The auto_refresh button is a toggle, it shows what will happen if
  // you press it. That is, it displays the opposite of the current state
  autoRefreshButton.click();
});

//--></script>

<table>
  <tr>
    <td class="align-right">
      <input type="text"
             id="seconds_per_column"
             value="<%= @seconds_per_column %>"/>
    </td>
    <td class="align-left">
      &thinsp;      
      <span id="seconds_per_column_text">
        <%= t("views.labels.seconds_per_column") %>
      </span>
    </td>
  </tr>
  
  <tr>
    <td class="align-right">
      <input type="text" 
             id="maximum_columns"
             value="<%= @maximum_columns %>"/>
    </td>
    <td class="align-left">
      &thinsp;
      <span id="maximum_columns_text">
        <%= t("views.labels.columns_maximum") %>
      </span>
    </td>
  </tr>

  <tr>
    <td class="align-right">
      <button type="button"
              class="tipped"
              id="auto_refresh">
        toggle
        <div class="tooltip">
          toggle 10 second<br>
          dashboard auto-refresh<br>
          on/off
        </div>
      </button>
    </td>
    <td class="align-left">
      &thinsp;
      <span id="auto_refresh_label">
        <%= t("views.labels.auto_refresh") %>
      </span>
    </td>
  </tr>
  
</table>
