
<script type="text/javascript"><!--

$(document).ready(function() {

  var autoRefreshEnabled = "<%= @auto_refresh %>" === "true";  

  var setRefreshButtonText = function() {
    var button = $('#auto_refresh');
    if (autoRefreshEnabled) {
      button.text("<%= t('views.buttons.enable') %>");
    } else {
      button.text("<%= t('views.buttons.disable') %>");
    }    
  };
  
  var parse = function(name, current_value) {
    var input = $('#' + name);
    var newValue = parseInt(input.val());
    if (isNaN(newValue)) {
      input.attr('value', current_value);
    }
    return input.val();
  };

  var params = function() {
    return {
      id: "<%= @kata.id %>",
      seconds_per_column: parse('seconds_per_column', <%= @seconds_per_column %>),
      maximum_columns: parse('maximum_columns', <%= @maximum_columns %>),
      auto_refresh: autoRefreshEnabled
    };
  };
  
  var refreshDashboard = function() {
    if (!autoRefreshEnabled) {
      $.ajax({
        url: "<%= url_for :action => 'heartbeat' %>",
        data: params(),
        dataType: "script"
      });
    }
  };

  var seconds = 1000;
    
  setInterval(refreshDashboard, 10*seconds);
  
  $('#seconds_per_column,#maximum_columns').keyup(function(event) {
    if (event.keyCode === $.ui.keyCode.ENTER) {
      cd.postTo('/dashboard/show', params());
    }
  });
  
  $('#auto_refresh').click(function() {
    autoRefreshEnabled = !autoRefreshEnabled;
    setRefreshButtonText();
  });
  
  setRefreshButtonText();

  // The auto_refresh button is a toggle, it shows what will happen if
  // you press it. That is, it displays the opposite of the currentstate
  $('#auto_refresh').click();
});

//--></script>

<table>
  <tr>
    <td class="align-right">
      <input type="text"
             id="seconds_per_column"
             value="<%= @seconds_per_column %>"/>
    </td>
    <td class="align-left">
      <div id="seconds_per_column_text">
        &nbsp;<%= t("views.labels.seconds_per_column") %>
      </div>
    </td>
  </tr>
  
  <tr>
    <td class="align-right">
      <input type="text" 
             id="maximum_columns"
             value="<%= @maximum_columns %>"/>
    </td>
    <td class="align-left">
      <div id="maximum_columns_text">
        &nbsp;<%= t("views.labels.columns_maximum") %>
      </div>
    </td>
  </tr>

  <tr>
    <td class="align-right">
      <div id="auto_refresh"
           class="button">
      </div>
    </td>
    <td class="align-left">
      <div id="auto_refresh_text">
        &nbsp;<%= t("views.labels.auto_refresh") %>
      </div>
    </td>
  </tr>
  
</table>
