
<script type="text/javascript"><!--

$(document).ready(function() {
  
  var id = function() {
    return "<%= @kata.id %>";
  };
  
  var minuteColumns = function() {
    return $('#minute_columns_checkbox').is(':checked');    
  };
  
  var autoRefresh = function() {
    return $('#auto_refresh_checkbox').is(':checked');
  };
  
  var dashboardHeartbeat = function() {
    if (autoRefresh()) {
      $.ajax({
        url: '/dashboard/heartbeat',
        data: {
          id: id(),
          minute_columns: minuteColumns(),
          auto_refresh: autoRefresh()
        },
        dataType: "script"
      });
    }
  };

  var refreshDashboard = function() {
    var url = '/dashboard/show/' + id() + '?' +
              'minute_columns=' + minuteColumns() + '&' +
              'auto_refresh=' + autoRefresh();
    window.location = url;    
  };

  var seconds = 1000;    
  setInterval(dashboardHeartbeat, 10*seconds);
  
  $('#minute_columns_checkbox')
    .attr('checked', "<%= @minute_columns %>" === "true")
    .click(function() {  
      refreshDashboard();
    });
  
  $('#auto_refresh_checkbox')
    .attr('checked', "<%= @auto_refresh %>" === "true")
    .click(function() {  
      refreshDashboard();
    });
  
});

//--></script>

<table>
  <tr>
    <td class="align-right">
      <div class="tipped">
        <%= raw t("views.labels.columns") %>
        <div class="tooltip">
        </div>
      </div>
    </td>
    <td>
      <input type="checkbox"
             id="minute_columns_checkbox"/>
    </td>
  </tr>
  <tr>
    <td class="align-right">
      <div class="tipped">
        <%= raw t('views.labels.auto_refresh') %>
        <div class="tooltip">
          toggles the 10 second<br>
          auto-refresh on/off
        </div>        
      </div>
    </td>
    <td>
      <input type="checkbox"
             id="auto_refresh_checkbox"/>
    </td>
  </tr>  
</table>
