
<script language="JavaScript"
        type="text/javascript"><!--

$(document).ready(function() {

  var parse = function(name, current_value) {
    var input = $('#' + name);
    var newValue = parseInt(input.val());
    if (isNaN(newValue)) {
      input.attr('value', current_value);
    }
    return input.val();
  };

  var params = function() {
    return {
      id: "<%= @kata.id %>",
      seconds_per_column: parse('seconds_per_column', <%= @seconds_per_column %>),
      maximum_columns: parse('maximum_columns', <%= @maximum_columns %>)
    };
  };
  
  var refreshDashboard = function() {
    if (!auto_refresh_enabled) {
      $.ajax({
        url: "<%= url_for :action => 'heartbeat' %>",
        data: params(),
        dataType: "script"
      });
    }
  };

  var seconds = 1000;
  var auto_refresh_enabled = true;  
    
  setInterval(refreshDashboard, 10*seconds);
  
  $('#seconds_per_column,#maximum_columns').keyup(function(event) {
    if (event.keyCode === $.ui.keyCode.ENTER) {
      cd.postTo('/dashboard/show', params());
    }
  });
  
  $('#auto_refresh').click(function() {
    auto_refresh_enabled = !auto_refresh_enabled;
    if (auto_refresh_enabled) {
      $(this).text("enable");
    } else {
      $(this).text("disable");
    }
  });
  
  $('#auto_refresh').click();
});

//--></script>

<table cellpadding="1" cellspacing="1">
  <tr>
    <td align="right">
      <div id="seconds_per_column_text">
        seconds per column&nbsp;
      </div>
    </td>
    <td align="left">
      <input type="text"
             id="seconds_per_column"
             value="<%= @seconds_per_column %>"/>
    </td>
  </tr>
  
  <tr>
    <td align="right">
      <div id="maximum_columns_text">
        maximum columns&nbsp;
      </div>
    </td>
    <td align="left">
      <input type="text" 
             id="maximum_columns"
             value="<%= @maximum_columns %>"/>
    </td>
  </tr>

  <tr>
    <td align="right">
      <div id="auto_refresh_text">
        auto refresh&nbsp;
      </div>
    </td>
    <td align="left">
      <div id="auto_refresh"
            class="button">
      </div>
    </td>
  </tr>
  
</table>
