
<script language="JavaScript"
        type="text/javascript"><!--

$j(document).ready(function() {
  $j('#seconds_per_column').keyup(function(event) {
    secondsPerColumn(event);
  });
  $j('#maximum_columns').keyup(function(event) {
    maximumColumns(event);
  });  
});

var dojo_name = "<%=@dojo.name-%>";
var seconds_per_column = "<%=@seconds_per_column-%>";  
var maximum_columns = "<%=@maximum_columns-%>";  

function rePost() {
  postTo('show_inflated', {
    dojo_name: dojo_name,
    seconds_per_column: seconds_per_column,
    maximum_columns: maximum_columns
  });
}

function secondsPerColumn(event)
{
  event.preventDefault();  
  if (event.keyCode == 13) {
    var input = $j('#seconds_per_column');
    var newValue = parseInt(input.attr('value'));
    if (!isNaN(newValue)) {
      seconds_per_column = newValue;
      rePost();
    } else {
      input.attr('value', seconds_per_column);
    }
  }
}

function maximumColumns(event)
{
  event.preventDefault();  
  if (event.keyCode == 13) {
    var input = $j('#maximum_columns');
    var newValue = parseInt(input.attr('value'));
    if (!isNaN(newValue)) {
      maximum_columns = newValue;
      rePost();
    } else {
      input.attr('value', maximum_columns);
    }
  }
}
  
//--></script>

<table>
  <tr>
    <td>
      <span class="small_title">
        secs/col
      </span>
      <input type="text"
             name="seconds_per_column" 
             id="seconds_per_column"
             value="<%=@seconds_per_column-%>"/>      
    </td>
  </tr>
  
  <tr>
    <td>
      &nbsp;
    </td>
  </tr>
  
  <tr>
    <td>
      <%= link_to "<span class='deflate button'>Deflate</span>", 
          { 
            :controller => :dashboard, 
            :action => :show_deflated,
            :dojo_name => @dojo.name 
          }, 
          { :title => "Deflate time gaps" }
      -%>
    </td>
  </tr>
  
  <tr>
    <td>
      &nbsp;
    </td>
  </tr>
  
  <tr>
    <td>
      <span class="small_title">
        max cols
      </span>
      <input type="text" 
             name="maximum_columns" 
             id="maximum_columns"
             value="<%=@maximum_columns-%>"/>
    </td>
  </tr>

</table>


