
<script type="text/javascript"><!--

$(function() {

  cd.pieChart($('#dashboard-page #team-bulb-counts-container .pie'));

});

//--></script>

<% active_avatars = @kata.avatars.active %>
<% if active_avatars.count > 1 %>

<%   lasts  = { :red => 0, :amber => 0, :timed_out => 0, :green => 0 } %>
<%   counts = { :red => 0, :amber => 0, :timed_out => 0, :green => 0 } %>
<%   active_avatars.each do |avatar| %>
<%     lights = avatar.lights %>
<%     lasts[lights[-1].colour] += 1 %>
<%     lights.each { |light| counts[light.colour] += 1 } %>
<%   end %>

  <table id="team-bulb-counts-container">
    <tr>
      <td>
        <%= raw pie_chart_from_counts(counts, 40, 'zoo') %>
      </td>
      <td>
        <% [ :red, :amber, :green, :timed_out].each do |colour| %>
          <% n = lasts[colour] %>
          <% if n > 0 %>
            <div class="traffic-light-count <%= colour %>"
                 data-tip="<%= pluralize(n,'animal') %> <%= colour %>">
              <%= n %>
            </div>
          <% end %>
        <% end %>
      </td>
    </tr>
  </table>

<% end %>
