
<script type="text/javascript"><!--

$(document).ready(function() {
  cd.pieChart($('#dashboard-page #team-bulb-counts-container .pie'));
});

//--></script>

<%# See _traffic_lights.html.erb for explanation of {lights.count > 1} %>

<% if @all_lights.select{|avatar_name,lights| lights.count > 1}.count > 1 %>
<%   lasts = { 'red' => 0, 'amber' => 0, 'green' => 0 } %>
<%   @all_lights.each do |avatar_name,lights| %>
<%     if lights.count > 1 %>
<%       lasts[lights.last['colour']] += 1 %>
<%     end %>
<%   end %>
<%   counts = { 'red' => 0, 'amber' => 0, 'green' => 0 } %>
<%   ['red','amber','green'].each do |bulb| %>
<%     @all_lights.each do |avatar_name,lights| %>
<%       if lights.count > 1 %>
<%         counts[bulb] += lights.count{ |light| light['colour'] == bulb } %>
<%       end %>
<%     end %>
<%   end %>

<table id="team-bulb-counts-container">
  <tr>
    <td>
      <% colour = 'green' if lasts['amber'] == 0 and lasts['red'] == 0 %>
      <% colour = 'red'   if lasts['amber'] == 0 and lasts['red']  > 0 %>
      <% colour = 'amber' if lasts['amber'] >  0 %>
      <% total = counts['red'] + counts['amber'] + counts['green'] %>
      <div class="traffic-light-count <%= colour %>"
           title="animals have <%= pluralize(total,'traffic-light') %> so far and are currently at <%= colour %>">
        <%= total %>
      </div>
    </td>
    <td>
      <%= pie_chart_from_counts(counts,40,'zoo') %>
    </td>
  </tr>
</table>
<% end %>
