
<script type="text/javascript"><!--

$(function() {

  var dashboard = $('#dashboard-page');
  var lights = $('.diff-traffic-light', dashboard);
  var showRevert = false;

  cd.setupTrafficLightOpensHistoryDialogHandlers(lights,showRevert);

  var bulbCounts = $('#traffic-lights .traffic-light-count', dashboard);

  cd.setupTrafficLightCountOpensCurrentCode(bulbCounts,showRevert);

  cd.pieChart($('#traffic-lights .pie', dashboard));
  cd.setupHoverTips();

  var allTheWay = 100000;
  $('#traffic-lights', dashboard).scrollLeft(allTheWay);

});

//--></script>

<table>
  
  <% @avatar_names.each do |name| %>
	<tr>
	  <% td_map = @gapped[name] %>
    
	  <% td_map.keys.sort.each_with_index do |td_no,index| %>
		  <% td = td_map[td_no] %>
      
      <td class="time-period-marker"></td>
      
		  <td class="<%= parity(index) %> col">
		  <% if td.class == Hash %>
		    <span class="collapsed-multi-gap"></span>
		  <% end %>
		  <% if td.class == Array %>
		    <% if td.length == 0 %>
			  <div class="gap"></div>
		    <% else %>
			  <table>
			    <tr>
				  <% td.each do |light| %>
				    <td><%= raw diff_traffic_light(light) %></td>
				  <% end %>
			    </tr>
			  </table>
		    <% end %>
		  <% end %>
		  </td>
	  <% end %>

    <td class="time-period-marker"></td>

    <% avatar = @kata.avatars[name] %>

	  <td class="align-right">
	    <%= raw traffic_light_count(avatar) %>
	  </td>

	  <td class="align-right">
		  <%= raw pie_chart(avatar.lights, avatar.name) %>
	  </td>

	  <td class="align-center valign-center">
		  <%= raw diff_avatar_image(avatar) %>
	  </td>

	</tr>
  <% end %>
</table>
