
 <table cellspacing="0" cellpadding="0">

  <tr align="center">
    <td colspan="999">
      <%= render :partial => 'axis_label' %>
    </td>
  </tr>
   
   <% seconds_per_td = @seconds_per_column %>
   <% maximum_columns = @maximum_columns %>
   <% maximum_seconds_uncollapsed = seconds_per_td * maximum_columns %>
   <% gapper = TdGapper.new(@kata.created, seconds_per_td, maximum_seconds_uncollapsed) %>
   <% all_lights = @kata.all_increments %>
   <% gapped = gapper.fully_gapped(all_lights, make_time(Time.now)) %>
   <% index = 0 %>
   <% all_lights.keys.sort.each do |avatar_name| %>
   
     <% if all_lights[avatar_name].length > 0 %>
       <% index += 1 %>
       <tr class="<%= parity(index) %> row">
         
         <% td_map = gapped[avatar_name] %>    
         <% all_td_nos = td_map.keys.sort %>
         <% recent_td_nos = recent(all_td_nos, maximum_columns) %>
         
         <% if recent_td_nos.length < all_td_nos.length %>
           <td>
             <span class="omission"></span>
           </td>
         <% end %>
         
         <% recent_td_nos.each do |td_no| %>
           <% td = td_map[td_no] %>            
           <td>
           <% if td.class == Array %>
             <% if td.length == 0 %>
               <div class="gap">.</div>
             <% else %>
               <table>
                 <tr>
                   <% td.each do |light| %>
                     <td>
                       <%  in_new_window = true %>
                       <%= linked_traffic_light(@kata, avatar_name, light, in_new_window) %>
                     </td>
                   <% end %>
                 </tr>
               </table>
             <% end %>
           <% end %>
           
           <% if td.class == Hash %>
             <span class="omission"></span>         
           <% end %>          
           </td>          
         <% end %>
                   
         <td align="center" valign="center">           
            <% size = 45 %>
            <%= link_to image_tag("/images/avatars/#{avatar_name}.jpg",
                :border => 0,
                :size => "#{size}x#{size}",
                :title => "Show the diff of #{avatar_name} traffic-light #1",
                :class => 'cyber_dojo_image'),
                {
                  :controller => :diff,
                  :action => :show,
                  :id => @kata.id,
                  :avatar => avatar_name,
                  :was_tag => 0,
                  :now_tag => 1
                },
                :target => '_blank'
            %>
           <div class="tiny">
             <%= avatar_name %>
           </div>
         </td>
         
        <td>
          <%  in_new_window = true %>            
          <%= linked_traffic_light(@kata, avatar_name, all_lights[avatar_name].last, in_new_window) %>
        </td>
          
        <td>
          <div class="micro tag_count">
            <% [:red,:amber,:green].each do |bulb| %>
            <%  bulb_tally = all_lights[avatar_name].count{ |light| light[:colour] == bulb } %>
            <div class="<%= bulb %>"
                 title="<%= avatar_name %> has <%= bulb_tally %> <%= bulb %> traffic-lights so far">
              <%= bulb_tally %>
            </div>       
            <% end %>
          </div>
         </td>
                  
         <td align="right">
          <% traffic_lights_tally = all_lights[avatar_name].length %>
           <span class="tag_count"
                 title="<%= avatar_name %> has <%= traffic_lights_tally %> traffic-lights so far">
             <%= traffic_lights_tally %>
           </span>
         </td>

       </tr>
     <% end %>
   <% end %>
 
 </table>

