
 <table>
   
   <% seconds_per_td = @seconds_per_column -%>
   <% maximum_columns = @maximum_columns -%>
   <% maximum_seconds_uncollapsed = seconds_per_td * maximum_columns -%>
   <% gapper = TdGapper.new(@kata.created, seconds_per_td, maximum_seconds_uncollapsed) -%>
   <% all_lights = @kata.all_increments -%>
   <% gapped = gapper.fully_gapped(all_lights, make_time(Time.now)) -%>
   <% index = 0 -%>
   <% all_lights.keys.sort.each do |avatar_name| -%>
   
     <% if all_lights[avatar_name].length > 0 -%>
       <% index += 1 -%>
       <tr class="<%=parity(index)-%> row">
         
         <% td_map = gapped[avatar_name] -%>    
         <% all_td_nos = td_map.keys.sort -%>
         <% recent_td_nos = recent(all_td_nos, maximum_columns) -%>
         
         <% if recent_td_nos.length < all_td_nos.length -%>
           <td>
             <span class="omission"></span>
           </td>
         <% end -%>
         
         <% recent_td_nos.each do |td_no| -%>
           <% td = td_map[td_no] -%>            
           <td>
           <% if td.class == Array -%>
             <% if td.length == 0 -%>
               <div class="gap">.</div>
             <% else -%>
               <table>
                 <tr>
                   <% td.each do |light| -%>
                     <td>
                       <%  in_new_window = false -%>
                       <%= linked_traffic_light(@kata, avatar_name, light, in_new_window) -%>
                     </td>
                   <% end -%>
                 </tr>
               </table>
             <% end -%>
           <% end -%>
           
           <% if td.class == Hash -%>
             <span class="omission"></span>         
           <% end -%>          
           </td>          
         <% end -%>
                   
         <td class="summary" align="center">           
            <% size = 60 -%>
            <%= link_to image_tag("/images/avatars/#{avatar_name}.jpg",
                :border => 0,
                :size => "#{size}x#{size}",
                :title => 'Show the diff of traffic-light #1',
                :class => 'cyber_dojo_image'),
                {
                  :controller => :diff,
                  :action => :show,
                  :id => @kata.id,
                  :avatar => avatar_name,
                  :tag => 1
                }
            %>
           <div>
             <%= avatar_name -%>
           </div>
         </td>
                   
        <td class="summary">
          <div class="micro_number">
            <% [:red,:amber,:green].each do |bulb| -%>
            <div class="<%=bulb-%>">
              <%= all_lights[avatar_name].select{|light| light[:outcome]==bulb}.length -%>
            </div>       
            <% end -%>
          </div>
         </td>
         
         <td class="summary">
           <%  in_new_window = false -%>            
           <%= linked_traffic_light(@kata, avatar_name, all_lights[avatar_name].last, in_new_window) -%>
         </td>
         
         <td class="summary">
           <span class="number">
             <%= all_lights[avatar_name].length -%>
           </span>
         </td>

       </tr>
     <% end -%>
   <% end -%>
 
 </table>

