
<script type="text/javascript"><!--

$(document).ready(function() {

  var lights = $('.diff-traffic-light');
  cd.setupTrafficLightOpensDiffDialogHandlers(lights);
  var allTheWay = 100000;
  $('#traffic-lights').scrollLeft(allTheWay);
  cd.pieChart($('.pie'));

});

//--></script>

<%# An animal has properly started when it has more than one traffic-light.      %>
<%# Why?                                                                         %>
<%# Partly because the first traffic-light is created automatically on start up. %>
<%# Also people commonly start two animals on the same computer and use one      %>
<%# animal solely to read the instructions. Hence below you will find:           %>
<%# if lights.length > 1 %>

<table>
  <% seconds_per_td = @seconds_per_column %>
  <% maximum_seconds_uncollapsed = seconds_per_td * 60 %>
  <% gapper = TdGapper.new(@kata.created, seconds_per_td, maximum_seconds_uncollapsed) %>
  <% gapped = gapper.fully_gapped(@all_lights, make_time(Time.now)) %>
  <% index = 0 %>
  <% @all_lights.keys.sort.each do |avatar_name| %>
	<% lights = @all_lights[avatar_name] %>
	<% if lights.length > 1 %>
	  <% index += 1 %>
	  <tr class="<%= parity(index) %> row">
		<% td_map = gapped[avatar_name] %>
		<% td_map.keys.sort.each do |td_no| %>
		  <% td = td_map[td_no] %>
		  <td align="right">
		  <% if td.class == Hash %>
			<span class="omission"></span>
		  <% end %>
		  <% if td.class == Array %>
			<% if td.length == 0 %>
			  <div class="gap">.</div>
			<% else %>
			  <table>
				<tr>
				  <% td.each do |light| %>
					<td>
					  <%= diff_traffic_light(@kata, avatar_name, light, lights.length) %>
					</td>
				  <% end %>
				</tr>
			  </table>
			<% end %>
		  <% end %>
		  </td>
		<% end %>
		<td class="align-right">
		  <%= render :partial => 'shared/traffic_light_count',
					 :locals  => { :traffic_lights => lights,
								   :avatar_name    => avatar_name
								 } %>
		</td>
		<td class="align-right">
          <%= pie_chart(lights,35) %>
		</td>
		<td class="align-center valign-center">
		  <%= no_diff_avatar_image(@kata, avatar_name, lights.last, lights.length) %>
		</td>
	  </tr>
	<% end %>
  <% end %>
</table>
