
<script type="text/javascript"><!--

$(function() {

  if ("<%=@avatar_name%>" !== "") {
    var id = "<%=@id%>";
    var avatarName = "<%=@avatar_name%>";
    var wasTag = parseInt("<%=@was_tag%>");
    var nowTag = parseInt("<%=@now_tag%>");
    var showRevert = false;
    cd.dialog_history(id, avatarName, wasTag, nowTag, showRevert);
  }

});

//--></script>

<div id="dashboard-page">
  <table>
    <tr class="valign-top">
      <td>
        <%= render :partial => 'download_button' %>
        <%= render :partial => 'controls' %>
        <%= render :partial => 'progress_button' %>
        <div id="age">
          <%= render :partial => 'age' %>
        </div>
        <div id="team-bulb-counts">
          <%= render :partial => 'team_bulb_counts' %>
        </div>
      </td>
      <td>
        <div id="traffic-lights">
          <%= render :partial => 'traffic_lights' %>
        </div>
      </td>
    </tr>
  </table>
</div>

<%= render partial: 'shared/footer_plus',
    locals: { help_url:"http://blog.cyber-dojo.org/2014/10/the-cyber-dojo-dashboard.html" } %>
