
<%= render partial: 'filename_support' %>

<div id="dashboard-page">
  <table>
    <tr class="valign-top">
      <td class='align-right'>
        <%= render partial: 'controls' %>
        <div id="age">
          <%= render partial: 'age' %>
        </div>
        <%= render partial: 'progress_button' %>
        <%= render partial: 'download_button' %>
      </td>
      <td>
        <div id="traffic-lights">
          <%= render partial: 'traffic_lights' %>
        </div>
      </td>
    </tr>
  </table>
</div>

<%= render partial: 'shared/footer_long',
    locals: { help_url:"http://blog.cyber-dojo.org/2014/10/the-cyber-dojo-dashboard.html" } %>
