
<%= render :partial => 'dojo/title',
           :locals => { :title => 'Dashboard' } -%>

<%= render :partial => 'dojo/banner' -%>

<table>
  <tr>
    <td>
      <%= render :partial => 'controls' -%>
    </td>
    <td>
      <%= render :partial => 'click_info' -%>      
      <%= render :partial => 'traffic_lights_inflated' -%>
    </td>
  </tr>
</table>

<%= periodically_call_remote :url => { :action => :inflated_heartbeat,
                                       :dojo_name => @dojo.name
                                     }, 
                             :with => "{ secs_per_col: Field.getValue('secs_per_col')," +
                                      "  max_cols: Field.getValue('max_cols')" +
                                      "}",                                     
                             :frequency => 10 -%>

