
<%= render :partial => 'dojo/title',
           :locals => { :title => 'Dashboard' } -%>

<%= render :partial => 'dojo/banner' -%>

<table>
  <tr>
    <td>
      <%= link_to "<span class='inflate button'>Inflate</span>", 
          { 
            :controller => :dashboard, 
            :action => :show_inflated,
            :dojo_name => @dojo.name 
          }, 
          { :title => "Inflate time gaps" }
      -%>        
    </td>
    <td>
      <%= render :partial => 'click_info' -%>      
      <%= render :partial => 'traffic_lights_deflated' -%>
    </td>
  </tr>
</table>

