
<script language="JavaScript"
        type="text/javascript"><!--

var id = "<%=@kata.id-%>";

function reParse(event) {
  event.preventDefault();
  var carriageReturn = 13;
  if (event.keyCode == carriageReturn) {
    parseSecondsPerColumn();
    parseMaximumColumns();
    rePost();
  }
}
  
function rePost() {
  $cd.postTo('/dashboard/show', {
    id: id,
    seconds_per_column: seconds_per_column,
    maximum_columns: maximum_columns
  });
}

function refreshDashboard() {
  $j.ajax({
    url: "<%= url_for :action => 'heartbeat', :id => @kata.id %>",
    data: { seconds_per_column: parseSecondsPerColumn(), maximum_columns: parseMaximumColumns() },
    dataType: "script" })
  .fail(function() { console.log("uh oh"); });
};

$j(function() {
  setInterval(refreshDashboard, 10000);
});

//--></script>

<table align="center">
  <tr>
    
    <td>
      <%= render :partial => 'shared/yin_yang' -%>
    </td>
    <td>
      &nbsp;&nbsp;
    </td>
    <td class="panel">
      <div id="age" class="info">
        <%= render :partial => 'age' -%>
      </div>
        
    </td>
    <%= form_tag({ :action => 'show', :id => @kata.id }, :method => 'get') do %>

    <td class="panel">
      <%= render :partial => 'seconds_per_column' -%>      
    </td>
    <td class="panel">
      <%= render :partial => 'maximum_columns' -%>
    </td>
  <% end %>
  </tr>
</table>

<table>
  <tr>
    <td>
      <div class="choose_title" align="center">
        Click any traffic light
      </div>      
    </td>
  </tr>
  <tr>
    <td>
      <div id="traffic_lights" 
          class="panel">
        <%= render :partial => 'traffic_lights' -%>
      </div>
    </td>
  </tr>
</table>


