
<script type="text/javascript"><!--

$(document).ready(function() {

  //cd.tipify($('.tipped'), $('#tip-window'));

  if ("<%=@avatar_name%>" !== "") {
    var id = "<%=@id%>";
    var avatarName = "<%=@avatar_name%>";
    var wasTag = parseInt("<%=@was_tag%>");
    var nowTag = parseInt("<%=@now_tag%>");
    var maxTag = parseInt("<%=@max_tag%>");
    cd.dialog_diff(id, avatarName, wasTag, nowTag, maxTag);
  }

});

//--></script>

<div id="dashboard-page">
  <table>
    <tr>
      <td class="valign-top">
        <div class="vertical-padded">
          <%= render :partial => 'shared/info' %>
        </div>
        <div class="panel">
          <%= render :partial => 'controls' %>
        </div>
        <div class="panel" id="age">
          <%= render :partial => 'age' %>
        </div>
        <div class="panel" id="team-bulb-counts">
          <%= render :partial => 'team_bulb_counts' %>
        </div>
        <div class="panel">
          <%= render :partial => 'help_button' %>
        </div>
      </td>
      <td class="valign-top" rowspan="2">
        <div id="traffic-lights">
          <%= render :partial => 'traffic_lights' %>
        </div>
      </td>
    </tr>
    <tr>
      <td class="valign-bottom">
        <div>
          <%= render :partial => 'shared/tip_window' %>
        </div>
      </td>
    </tr>
  </table>
</div>
