
<div id="dashboard-page">
<table>
  <tr>
    <td class="panel">
      <table>
        <tr>
          <td>
            <%= render :partial => 'shared/logo' %>
          </td>
          <td>
            &nbsp;
          </td>
          <td>
            <%= render :partial => 'help_button' %>
          </td>
        </tr>
      </table>
    </td>
    <td class="panel">
      <%= render :partial => 'shared/info' %>      
    </td>
    <td class="valign-top">
      <%= render :partial => 'column_controls' %>      
    </td>
    
    <td class="valign-top">
      <table class="panel">
        <tr>
          <td>
            <div id="age">      
              <%= render :partial => 'age' %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <%= render :partial => 'download_button' %>
          </td>
        </tr>
      </table>
    </td>

  </tr>
</table>
  
<div id="traffic_lights">
  <%= render :partial => 'traffic_lights' %>
</div>
</div>

