
<script type="text/javascript"><!--

$(document).ready(function() {

  //cd.tipify($('.tipped'), $('#tip_window'));
  
  if ("<%=@avatar_name%>" !== "") {
    var title = "<%= t('views.buttons.diff_review') %>";
    var id = "<%=@id%>";
    var avatarName = "<%=@avatar_name%>";
    var wasTag = parseInt("<%=@was_tag%>");
    var nowTag = parseInt("<%=@now_tag%>");
    var maxTag = parseInt("<%=@max_tag%>");
    cd.dialog_diff(title, id, avatarName, wasTag, nowTag, maxTag);    
  }

});

//--></script>

<div id="dashboard-page">
  <table class="xalign-center">
    <tr>
      <td class="valign-top">
        <div class="panel">
          <%= render :partial => 'shared/info' %>
        </div>
        <div class="panel">
          <%= render :partial => 'column_controls' %>      
        </div>
        <div class="panel" id="age">      
          <%= render :partial => 'age' %>
        </div>
        <div class="panel">      
          <%= render :partial => 'help_button' %>
        </div>        
        <div>
            <%= render :partial => 'shared/tip_window' %>
        </div>
        
      </td>
      
      <td class="valign-top">
        <div id="traffic_lights">
          <%= render :partial => 'traffic_lights' %>
        </div>
      </td>
    </tr>
  </table>
    
</div>

