
<script language="JavaScript"
        type="text/javascript"><!--

var dojo_name = "<%=@dojo.name-%>";
var seconds_per_column = "<%=@seconds_per_column-%>";  
var maximum_columns = "<%=@maximum_columns-%>";  

$j(document).ready(function() {
  $j('#inflate_time_gaps').click(function() {
    $cd.postTo('show_inflated', {
      dojo_name: dojo_name,
      seconds_per_column: seconds_per_column,
      maximum_columns: maximum_columns
    });
  });
});

//--></script>

<%= render :partial => 'dojo/banner' -%>

<table>
  <tr>
    <td>
      <input type="button"
             class="button"
             id="inflate_time_gaps"
             title="Inflate time gaps"
             value="Inflate"/>
    </td>
    <td>
      <%= render :partial => 'click_info' -%>      
      <%= render :partial => 'traffic_lights_deflated' -%>
    </td>
  </tr>
</table>

<%= periodically_call_remote :url => { :action => :deflated_heartbeat,
                                       :dojo_name => @dojo.name
                                     }, 
                             :frequency => 10 -%>

