
<script type="text/javascript"><!--

$(document).ready(function() {

  cd.tipify($('.tipped'), $('#tip_window'));

});

//--></script>

<div id="dashboard-page">
  <table class="align-center">
    <tr>
      <td>
        <%= render :partial => 'shared/info' %>      
      </td>
      
      <td>
        <%= render :partial => 'column_controls' %>      
      </td>
      
      <td>
        <div class="table-row">      
        </div>
        <div class="table-row" id="age">      
          <%= render :partial => 'age' %>
        </div>
        <div class="table-row">      
          <%= render :partial => 'help_button' %>
        </div>
      </td>
            
      <td class="valign-top">
          <%= render :partial => 'shared/tip_window' %>
      </td>
      
    </tr>
  </table>
  
  <br/>
  
  <div id="traffic_lights">
    <%= render :partial => 'traffic_lights' %>
  </div>
</div>

