
<table align="center">
  <tr>
    <td align="center">
      <%= render :partial => 'shared/yin_yang' %>
      <br/>
      <%= render :partial => 'shared/id_button' %>
      <div id="age">
        <%= render :partial => 'age' %>
      </div>      
    </td>
    
    <td>
      &nbsp;&nbsp;
    </td>
    
    <td>
      <div class="traffic_light_tip">
              Click any<br/>
              traffic-light<br/>
              to open its<br/>
              diff-view
      </div>      
    </td>
    
    <td valign="center">
      <%= render :partial => 'controls' %>      
    </td>
    
    <td>
      <%= render :partial => 'download_button' %>
    </td>
    
    <td valign="center">
      <%= render :partial => 'tips_button' %>
      <br/>
      <%= render :partial => 'shared/donate_button' %>
      <br/>
      <%= render :partial => 'shared/feedback_button' %>
    </td>
    
  </tr>

</table>
  
<div id="traffic_lights">
  <%= render :partial => 'traffic_lights' %>
</div>


