
<script language="JavaScript"
        type="text/javascript"><!--

var id = "<%=@kata.id-%>";

function reParse(event) {
  event.preventDefault();
  var carriageReturn = 13;
  if (event.keyCode == carriageReturn) {
    parseSecondsPerColumn();
    parseMaximumColumns();
    rePost();
  }
}
  
function rePost() {
  $cd.postTo('/dashboard/show', {
    id: id,
    seconds_per_column: seconds_per_column,
    maximum_columns: maximum_columns
  });
}

//--></script>

<table align="center">
  <tr>
    
    <td>
      <%= render :partial => 'shared/yin_yang' -%>
    </td>
    <td>
      &nbsp;&nbsp;
    </td>
    <td class="panel">
      <%= render :partial => 'age' -%>
    </td>    
    <td class="panel">
      <%= render :partial => 'seconds_per_column' -%>      
    </td>
    <td class="panel">
      <%= render :partial => 'maximum_columns' -%>
    </td>
  </tr>
</table>

<table>
  <tr>
    <td>
      <div class="choose_title" align="center">
        Click any traffic light
      </div>      
    </td>
  </tr>
  <tr>
    <td>
      <%= render :partial => 'traffic_lights' -%>
    </td>
  </tr>
</table>

<%= periodically_call_remote :url => { :action => :heartbeat,
                                       :id => @kata.id
                                     }, 
                             :with => "{ seconds_per_column: parseSecondsPerColumn()," +
                                      "  maximum_columns: parseMaximumColumns()" +
                                      "}",                                     
                             :frequency => 10 -%>

