
<%= render :partial => 'dojo/banner' -%>

<input type="hidden"
       name="seconds_per_column" 
       id="seconds_per_column"
       value="<%=@seconds_per_column-%>"/>      

<input type="hidden"
       name="maximum_columns" 
       id="maximum_columns"
       value="<%=@maximum_column-%>"/>      
<table>
  <tr>
    <td>
      <%= link_to "<span class='inflate button'>Inflate</span>", 
          { 
            :controller => :dashboard, 
            :action => :show_inflated,
            :dojo_name => @dojo.name,
            :seconds_per_column => @seconds_per_column,
            :maximum_columns => @maximum_columns
          }, 
          { :title => "Inflate time gaps" }
      -%>        
    </td>
    <td>
      <%= render :partial => 'click_info' -%>      
      <%= render :partial => 'traffic_lights_deflated' -%>
    </td>
  </tr>
</table>

<%= periodically_call_remote :url => { :action => :deflated_heartbeat,
                                       :dojo_name => @dojo.name
                                     }, 
                             :frequency => 10 -%>

