
<script language="JavaScript"
        type="text/javascript"><!--

$cd.refreshDashboard = function() {
  $j.ajax({
    url: "<%= url_for :action => 'heartbeat', :id => @kata.id %>",
    data: { seconds_per_column: $cd.parseSecondsPerColumn(),
               maximum_columns: $cd.parseMaximumColumns() },
    dataType: "script"
  });
};

$j(document).ready(function() {
  var seconds = 1000;
  setInterval($cd.refreshDashboard, 10*seconds);
  
  $j('#seconds_per_column,#maximum_columns').keyup(function(event) {
    var CARRIAGE_RETURN = 13;
    if (event.which === CARRIAGE_RETURN) {
      $cd.postTo('/dashboard/show', {
        id: "<%= @kata.id -%>",
        seconds_per_column: $cd.parseSecondsPerColumn(),
        maximum_columns: $cd.parseMaximumColumns()        
      });
    }
  });  
});

//--></script>

<table align="center">
  <tr>
    <td align="center">
      <%= render :partial => 'shared/yin_yang' -%><br/>
      <%= render :partial => 'shared/id' -%>
      <div id="age">
        <%= render :partial => 'age' -%>
      </div>      
    </td>
    
    <td>
      &nbsp;&nbsp;
    </td>
    
    <td valign="center">
      <%= render :partial => 'seconds_per_column' -%>      
      <%= render :partial => 'maximum_columns' -%>
    </td>
    
    <td valign="middle">
      <table>
        <tr>
          <td>
            <%= render :partial => 'shared/raspberry_pi_logo' -%>
          </td>
          <td>
            <%= render :partial => 'shared/feedback' -%><br/>
            <%= render :partial => 'shared/donate' -%><br/>
            <%= render :partial => 'tips' -%>
          </td>
        </tr>
      </table>
      
    </td>
  </tr>  
</table>
  
<div id="traffic_lights">
  <%= render :partial => 'traffic_lights' -%>
</div>


