
<script language="JavaScript"
        type="text/javascript"><!--

$cd.refreshDashboard = function() {
  $j.ajax({
    url: "<%= url_for :action => 'heartbeat', :id => @kata.id %>",
    data: { seconds_per_column: $cd.parseSecondsPerColumn(),
               maximum_columns: $cd.parseMaximumColumns() },
    dataType: "script"
  });
};

$j(document).ready(function() {
  var seconds = 1000;
  setInterval($cd.refreshDashboard, 10*seconds);
});

//--></script>

<table align="center">
  <tr>
    <td align="center">
      <% size = 65 -%>
      <%= link_to image_tag("/images/avatars/cyber-dojo.png",
            :border => 0,
            :size => "#{size}x#{size}",
            :title => 'Home page'),
            {
              :controller => :dojo,
              :action => :index,
              :id => @kata.id
            }
      %>
      <div id="age">
        <%= render :partial => 'age' -%>
      </div>      
      <%= render :partial => 'shared/id' -%>
    </td>
    
    <td valign="top">
      <%= render :partial => 'shared/feedback' -%>
      <%= render :partial => 'tips' -%>
      <%= form_tag({ :action => 'show', :id => @kata.id }, :method => 'get') do %>
          <%= render :partial => 'seconds_per_column' -%>      
          <%= render :partial => 'maximum_columns' -%>
      <% end %>
    </td>
  </tr>  
</table>
  
<div id="traffic_lights" 
     class="panel">
  <%= render :partial => 'traffic_lights' -%>
</div>


