
<%= render :partial => 'dojo/banner' -%>

<table>
  <tr>
    <td>
      <%= render :partial => 'controls' -%>
    </td>
    <td>
      <%= render :partial => 'click_info' -%>      
      <%= render :partial => 'traffic_lights_inflated' -%>
    </td>
  </tr>
</table>

<%= periodically_call_remote :url => { :action => :inflated_heartbeat,
                                       :dojo_name => @dojo.name
                                     }, 
                             :with => "{ seconds_per_column: parseSecondsPerColumn()," +
                                      "  maximum_columns: parseMaximumColumns()" +
                                      "}",                                     
                             :frequency => 10 -%>

