  
<table data-width="450">
  <tr>
    <td>
      <div class="panel">        
          Look for
          <%= traffic_light_image('red',15,45) %>
          &rarr;&nbsp;
          <%= traffic_light_image('green',15,45) %>
          progressions as evidence of
          starting with a failing test.
      </div>
    </td>
  </tr>
  
  <tr>
    <td>
      <div class="panel">
          Look for
          <%= traffic_light_image('green',15,45) %>          
          &rarr;&nbsp;
          <%= traffic_light_image('green',15,45) %>          
          progressions as evidence of
          refactoring.
      </div>
    </td>
  </tr>

  <tr>
    <td>
      <div class="panel">
          Look for
          <%= traffic_light_image('amber',15,45) %>                    
          &rarr;&nbsp;
          <%= traffic_light_image('amber',15,45) %>                    
          progressions as evidence of
          overly ambitious steps.
      </div>
    </td>
  </tr>
</table>  