 
<h1><b><%= @dojo.name -%> Dashboard</b></h1>

<% gapped = gapper(@dojo) -%>
<div id="dashboard">
<table>
  <% gapped.each do |avatar_name,increments| -%>
  <tr>
    <td>
      <img src="/images/avatars/<%=avatar_name.downcase-%>.jpg"
           width="25"
           height="25"
           title="<%=avatar_name.humanize-%>" />
      <img src="/images/avatars/<%=avatar_name.downcase-%>.jpg"
           width="25"
           height="25"
           title="<%=avatar_name.humanize-%>" />
      &nbsp;
    </td>
    <td>
      <table cellspacing="2"
             cellpadding="0">
        <tr>
          <% increments.each do |inc| -%>
          <td>
            <span id="dashboard_cell" 
                  class="<%=inc-%>">&nbsp;</span>
          </td>
          <% end -%>
        </tr>
      </table>
    </td>
  </tr>
  <% end -%>

  <% if gapped.size > 1 -%>
  <tr>
   <td>&nbsp;</td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td>
      <table cellspacing="2"
             cellpadding="0">
        <tr>
          <% shared(gapped).each do |inc| -%>
          <td>
            <span id="dashboard_cell" 
                  class="<%=inc-%>">&nbsp;</span>
          </td>
          <% end -%>
        </tr>
      </table>
    </td>
  </tr>
  <% end -%>

</table>
</div>


