
<div align="center">
<table>
  <tr>
    <td>
      <%= render :partial => 'shared/yin_yang' -%>
    </td>
    <td>
      &nbsp;&nbsp;
    </td>
    <%= render :partial => 'shared/names' -%>
  </tr>
</table>

<div align="center">
  <table class="panel">
    <tr>
      <td>
        <%= render :partial => 'post_button',
                   :locals => { :poster => 'cyber-dojo', :action => 'post' } -%>
      </td>
      <td>
        <%= render :partial => 'input_area' -%>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= render :partial => 'all_messages' -%>  
      </td>
    </tr>
  </table>
</div>

