
<h1 title="<%=@dojo.name-%>">

    <% size = 40 -%>
    <%= link_to image_tag("/images/avatars/cyber-dojo.png",
        :border => 0, :size => "#{size}x#{size}", :title => 'Home page'),
          :controller => :dojo,
          :action => :index,
          :dojo_name => @dojo.name %>

  <%= elided_name(@dojo.name, 25) -%>
</h1>

<h4> 
  <%= @dojo.language -%>,
  <%= @dojo.kata_name -%>
</h4>


<div align="center">
  <table class="panel">
    <tr>
      <td>
        <%= render :partial => 'post_button',
                   :locals => { :poster => 'cyber-dojo', :action => 'post' } -%>
      </td>
      <td>
        <%= render :partial => 'input_area' -%>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= render :partial => 'all_messages' -%>  
      </td>
    </tr>
  </table>
</div>

