
<div align="center">
<table>
  <tr>
    <td>
      <% size = 60 -%>
      <%= link_to image_tag("/images/avatars/cyber-dojo.png",
          :border => 0, :size => "#{size}x#{size}", :title => 'Home page'),
            :controller => :dojo,
            :action => :index,
            :dojo_name => @dojo.name %>              
    </td>
    <td>
      &nbsp;&nbsp;
    </td>
    <td style="text-align: right;">
      <div>kata =</div>
      <div>language =</div>
      <div>exercise =</div>
    </td>
    <td style="text-align: left;">
      <div><%= elided_name(@dojo.name, 15) -%></div>
      <div><%= @dojo.language -%></div>
      <div><%= @dojo.kata_name -%></div>
    </td>
  </tr>
</table>

<div align="center">
  <table class="panel">
    <tr>
      <td>
        <%= render :partial => 'post_button',
                   :locals => { :poster => 'cyber-dojo', :action => 'post' } -%>
      </td>
      <td>
        <%= render :partial => 'input_area' -%>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= render :partial => 'all_messages' -%>  
      </td>
    </tr>
  </table>
</div>

