
<%= render :partial => 'dojo/title',
           :locals => { :title => 'Messages' } -%>

<%= render :partial => 'dojo/banner' -%>

<div align="center">
  <div id="all_messages">
    <table class="panel">
      <% @messages.reverse.each_with_index do |message,index| -%>
      <tr class="<%=parity(index)-%> message_container">
        <td>
          <%= avatar_image(message[:sender].to_s, 43) -%>
        </td>
        <td class="message_text">
          <%= message[:text] -%>
        </td>
      </tr>
      <% end -%>    
    </table>
  </div>      
</div>

