
<%= render :partial => 'dojo/banner' -%>

<div align="center">
  <table class="panel">
    <tr>
      <td>
        <%= render :partial => 'post_button',
                   :locals => { :poster => 'cyber-dojo' } -%>
      </td>
      <td>
        <%= render :partial => 'input_area' -%>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= render :partial => 'messages' -%>  
      </td>
    </tr>
  </table>
</div>

<%= periodically_call_remote :url => { :action => :show_some_heartbeat,
                                       :dojo_name => @dojo.name
                                     }, 
                             :frequency => 10 -%>


