
<h2><b>Spying on <%= @dojo.name -%></b></h2>

<table class="rounded panel" 
       cellspacing="6"
       cellpadding="3">

  <% @katas.each do |kata| -%>
  <tr>
   <td class="rounded panel">
     <%= kata.name -%>

     <table>
       <% kata.avatars.each do |avatar| -%>
       <tr>

         <td nowrap>
           <%= avatar_image(avatar.name) {|i| i} -%>
           <%= avatar_image(avatar.name) {|i| i} -%>
         </td>

         <td>
           <table>
            <tr>
              <% avatar.increments.reverse.each do |increment| -%>
              <td>
                <a class="<%= increment[:prediction]-%>_prediction <%= increment[:outcome] -%> rounded increment" >
                  &thinsp;
                  <span></span>
                </a>
              <td>
              <% end -%>
            </tr>
          </table>
        </td>

       </tr>
       <% end -%>
      </table>

   </td>
  </tr>
   <% end -%>

</table>


