
<div id="banner">
  <h2 title="<%=@dojo.name-%>">
    <%= elided_name(@dojo.name, 45) -%>
  </h2>
  
  <h4> 
    <%= @dojo.language -%>, <%= @dojo.kata_name -%>, started at <%= @dojo.created.strftime("%H:%M") %>
  </h4>
</div>


