
<div id="banner">
  <h1 title="<%=@dojo.name-%>">
    <%= elided_name(@dojo.name, 45) -%>
  </h1>
  
  <h4> 
    <%= @dojo.language -%>,
    <%= @dojo.kata_name -%>,
    started <%= pluralize(@dojo.age_in_minutes, 'minute') %> ago
  </h4>
</div>


