
<div id="banner">
  <h1 title="<%=@dojo.name-%>">
    <%= elided_name(@dojo.name, 45) -%>
  </h1>
  
  <h4> 
    <%= @dojo.language -%>,
    <%= @dojo.kata_name -%>,
    started <%= time_in_words(@dojo.age_in_seconds) %> ago
  </h4>
</div>


