
<script language="JavaScript"
        type="text/javascript"><!--

function chooseLanguage(index) {
  var selected = $j('[id="language_' + index + '"]');
  $cd.selectRadioListEntry(selected);
}

//--></script>

<td class="panel" valign="top">
  <div class="choose_title">language?</div>

  <% @languages.each_with_index do |choice,index| -%>
    <div class="filename"
        <% if @language_index == index -%>
        current_file = "true"
        <% else -%>
        current_file = "false"                
        <% end -%>
         onclick='chooseLanguage(<%=index-%>);' >
      <input id="language_<%=index-%>" 
             type="radio"
             <% if @language_index==index -%>
             checked="checked"
             <% end -%>
             onclick='chooseLanguage(<%=index-%>);'                      
             name="language" 
             value="<%=choice-%>" />
      <label><%= choice -%></label>
    </div>    
  <% end -%>    
</td>
