
<script language="JavaScript"
        type="text/javascript"><!--
        
var previousExerciseIndex = 0;

$j(document).ready(function() {

  var exerciseCount = 0;
  
  $j('[name=exercise]').each(function(index) {
    exerciseCount = index;
    var node = $j(this);
    node.parent().click(function() {
      var previous = $j('[id=exercise_' + previousExerciseIndex + ']');      
      $cd.radioEntrySwitch(previous, node);
      previousExerciseIndex = index;
      var instructions = $j('#instructions_' + index).val();
      $j('#instructions').val(instructions);      
    });
  });

  var rand = Math.floor(Math.random() * exerciseCount);
  
  $j('#exercise_' + rand).parent().click();
  previousExerciseIndex = rand;

});

//--></script>

<td class="panel" valign="top">
  <div>
    <span class="choose_title">exercise?</span>
  </div>
  
  <div>
    <% @exercises.each_with_index do |choice,index| -%>
      <div class="filename" >
        <input id="exercise_<%=index-%>" 
               type="radio"
               name="exercise" 
               value="<%=choice-%>" />
        <label><%= choice -%></label>
      </div>    
    <% end -%>
  </div>
</td>

<td class="panel" valign="top">
  <textarea name="instructions" 
            id="instructions"
            cols="62" 
            rows="26">              
  </textarea>
</td>          

<% @exercises.each_with_index do |choice,index| -%>
   <textarea style="display:none;" 
             name="instructions_<%=index-%>"
             id="instructions_<%=index-%>"><%=h @instructions[choice] -%></textarea>
<% end -%>      


