
<table id="donate-container">
  <tr>
    <td>
      <div id="please-donate">
        cyber-dojo is <em>not</em> free for commercial use.
        Please make a one-time contribution of at least $500 per site.
        Money raised is used solely to cover hosting costs and buy
        <a href='http://www.raspberrypi.org/' target='_blank'>Raspberry Pi</a>
        computers
        <a href='http://jonjagger.blogspot.co.uk/2013/04/cyber-dojo-raspberry-pies-in-action.html' target='_blank'>for children</a>.
      </div>
    </td>
  </tr>
  <tr>
    <td id="donate-button">
      <%= render :partial => 'donate_button' %>
    </td>
  </tr>
  <tr>
    <td>
      <%= render :partial => 'please_invoice_me' %>
    </td>
  </tr>
  <tr>
    <td id="raspberry-pi-logo">
      <%= render :partial => 'raspberry_pi_logo' %>
    </td>
  </tr>
</table>

<%= render :partial => 'accu' %>

<%= render :partial => 'custom_left_message' %>
