
<table class="align-right">
  <tr class="align-right">
    <td colspan="2">

      <div id="cyber-dojo">
        <div id="home-page-logo">
          <%= raw home_page_logo(35) %>
        </div>
        cyber&#8209;dojo
      </div>

    </td>
  </tr>

  <tr>
    <td colspan="2">
      <div id="a_place_to_practice">
        <%= raw t("views.labels.a_place_to_practice") %>
      </div>
      <div id="programming">
        <%= raw t("views.labels.programming") %>
      </div>
    </td>
  </tr>

  <tr valign="top">
    <td>
      <div id="create-button-info">
        <i><u>Create</u></i> your programming dojo.<br/>
        You choose a language and an exercise.<br/>
      </div>
    </td>
    <td>
      <%= render :partial => 'create_button' %>
    </td>
  </tr>

  <tr valign="top">
    <td>
      <div id="enter-id-info">
        Type in your dojo's id on <em>each</em> computer.<br/>
        A dojo's id has 6 hex chars, eg <span style="font-size:1.1em;">3AF65A</span>.
      </div>
    </td>
    <td>
      <%= render :partial => 'enter_id' %>
    </td>
  </tr>

  <tr valign="top">
    <td>
      <div id="enter-info">
        <i><u>Enter</u></i> your dojo on <em>each</em> computer.<br/>
        It will be assigned an animal, eg wolf.
      </div>
    </td>
    <td>
      <%= render :partial => 'enter_button' %>
    </td>
  </tr>

  <tr valign="top">
    <td>
      <div id="review-info">
        <i><u>Review</u></i> your code. Click any animal's<br/>
        traffic-light to replay its diffs.
      </div>
    </td>
    <td>
      <%= render :partial => 'review_button' %>
    </td>
  </tr>

  <tr valign="top">
    <td>
      <div id="reenter-info">
        A computer can <i><u>re-enter</u></i> your dojo as a<br/>
        specific animal. Occasionally useful.

      </div>
    </td>
    <td>
      <%= render :partial => 'reenter_button' %>
    </td>
  </tr>

</table>
