
<script type="text/javascript"><!--

$(document).ready(function() {

  $('#donators').click(function(event) {
    var name = $(this).attr('id');
    var title = $(this).text();
    var close = $(this).data('close');
    $.get('/dojo/button_dialog/' + name, function(html) {
      cd.dialog(html, title, close).dialog('open');
    });
    event.preventDefault();
  });

});

//--></script>

<table class="align-center">
  <tr>
    <td id="raspberry-pi-logo">
      <%= render :partial => 'raspberry_pi_logo' %>
    </td>
  </tr>
  <tr>
    <td>
      <div id="please_donate" class="align-left">
        <%= raw t("views.labels.please_donate") %>
      </div>
    </td>
  </tr>
  <tr>
    <td id="donate-button">
      <%= render :partial => 'donate_button' %>
    </td>
  </tr>
  <tr>
    <td id="total-raised">
      &pound;2420 raised so far<br>
      thank you <a id="donators"
         href=""
         data-close="<%= t('views.buttons.close') %>">donators</a>
    </td>
  </tr>
</table>

<hr/>

<%= render :partial => 'accu' %>

