
<table class="align-right">
  <tr>
    <td colspan="2">
      <div id="cyber-dojo">cyber&#8209;dojo</span></div>
      <div id="custom_message">
        <%= render :partial => 'custom_message' %>
      </div>
    </td>
  </tr>

  <tr>
    <td colspan="2">
      <div id="a_place_to_practice">
        <%= raw t("views.labels.a_place_to_practice") %>
      </div>
    </td>
  </tr>

  <tr valign="top">
    <td>
      <div id="create-button-info">
        First <i><u>create</u></i> your programming dojo.<br/>
        Choose your language and exercise.<br/>
        Do this on <em>one</em> computer.
      </div>
    </td>
    <td>
      <%= render :partial => 'create_button' %>
    </td>
  </tr>

  <tr valign="top">
    <td>
      <div id="enter-id-info">
        Each dojo has an id,
        eg <span style="font-size:1.2em;">3AF65A</span>.<br/>
        Type in your dojo's id here.<br/>
        Do this on <em>each</em> computer.
      </div>
    </td>
    <td>
      <%= render :partial => 'enter_id' %>
    </td>
  </tr>

  <tr valign="top">
    <td>
      <div id="enter-info">
        As each computer <i><u>enters</u></i> your dojo it is<br/>
        randomly assigned an animal, eg wolf.
      </div>
    </td>
    <td>
      <%= render :partial => 'enter_button' %>
    </td>
  </tr>

<% if false %>
  <tr valign="top">
    <td>
      <div id="reenter-info">
        A computer can <i><u>reenter</u></i> the dojo as a<br/>
        specific animal.

      </div>
    </td>
    <td>
      <%= render :partial => 'reenter_button' %>
    </td>
  </tr>
<% end %>

  <tr valign="top">
    <td>
      <div id="review-info">
        When time is up do a <i><u>review</u></i>. Click any<br/>
        animal's traffic-light to replay its diffs.
      </div>
    </td>
    <td>
      <%= render :partial => 'review_button' %>
    </td>
  </tr>

</table>
