
<table>
  <tr>
    <td>
      <div id="please_donate">
        <%= raw t("views.labels.please_donate") %>
      </div>
    </td>
  </tr>
  <tr>
    <td id="donate-button">
      <%= render :partial => 'donate_button' %>
    </td>
  </tr>
  <tr>
    <td id="total-raised">
      &pound;2643 raised so far<br>
      thank you
    </td>
  </tr>
  <tr>
    <td id="raspberry-pi-logo">
      <%= render :partial => 'raspberry_pi_logo' %>
    </td>
  </tr>
</table>

<hr/>

<%= render :partial => 'accu' %>

<%= render :partial => 'custom_right_message' %>
