
<div class="feedback dialog" data-width="500">
  <table>
    <tr>
      <td class="panel">
          <%= t('views.feedback.what_did_you_like_dislike') %><br/>
          <%= t('views.feedback.what_worked_failed') %><br/>
          <%= t('views.feedback.what_should_i_add_remove') %><br/>
      </td>
    </tr>
    <tr>
      <td class="panel">
          <%= t('views.feedback.id_really_appreciate_it_if_you_could') %>
          <br/>
          <a href="mailto:jon@jaggersoft.com?subject=cyber-dojo%20feedback">
            <%= t('views.feedback.email_me') %></a>
      </td>
    </tr>
  </table>
</div>
