
<div class="send-feedback dialog" data-width="350">
  <table>
    <tr>
      <td class="panel">
          <%= raw t('views.feedback.what_did_you_like_dislike') %><br/>
          <%= raw t('views.feedback.what_worked_failed') %><br/>
          <%= raw t('views.feedback.what_should_i_add_remove') %><br/>
      </td>
    </tr>
    <tr>
      <td class="panel">
          <%= t('views.feedback.please') %>
          <a href="mailto:jon@jaggersoft.com?subject=cyber-dojo%20feedback">
            <%= t('views.feedback.email_me') %></a>
      </td>
    </tr>
  </table>
</div>
