
<div class="dialog" data-width="650">
  <table>
    <tr>
      <td>
        <%= t("views.faqs.why_dont_you_add_syntax_highlighting") %>            
      </td>
    </tr>
  
    <tr>
      <td class="panel">
          <%= raw t("views.faqs.no_listen") %><br/>              
          <%= raw t("views.faqs.dont_think_about_finishing") %><br/>              
          <%= raw t("views.faqs.think_about_practising") %><br/>              
          <%= raw t("views.faqs.thats_what_cyberdojo_is_built_for") %>              
      </td>
    </tr>
    
    <tr>
      <td>
        <%= t("views.faqs.why_dont_you_add_auto_refactoring") %>      
      </td>
    </tr>
  
    <tr>
      <td class="panel">
          <%= raw t("views.faqs.no_listen") %><br/>              
          <%= raw t("views.faqs.dont_think_about_finishing") %><br/>              
          <%= raw t("views.faqs.think_about_practising") %><br/>              
          <%= raw t("views.faqs.thats_what_cyberdojo_is_built_for") %>              
      </td>
    </tr>
  
    <tr>
      <td>
        <%= t("views.faqs.why_dont_you_add_dot_dot_dot") %>            
      </td>
    </tr>
    
    <tr>
      <td class="panel">
          <%= raw t("views.faqs.no_listen") %><br/>              
          <%= raw t("views.faqs.dont_think_about_finishing") %><br/>              
          <%= raw t("views.faqs.think_about_practising") %><br/>              
          <%= raw t("views.faqs.thats_what_cyberdojo_is_built_for") %>              
      </td>
    </tr>
    
  </table>
</div>
