    
<table data-width="600">
  <tr>
    <td>
      <div class="panel">
        <%= t('views.feedback.id_really_appreciate_it_if_you_could') %>
        <a href="mailto:jon@jaggersoft.com?subject=cyber-dojo%20feedback">
          <%= t('views.feedback.email_me') %></a>.<br/>
        <%= t('views.feedback.what_did_you_like') %>
        <%= t('views.feedback.what_did_you_dislike') %><br/>
        <%= t('views.feedback.what_worked') %>
        <%= t('views.feedback.what_didnt') %></br>
        <%= t('views.feedback.what_features_should_i_add_remove') %>
      </div>
    </td>
  </tr>
  <tr>
    <td>  
      <div class="panel">
        <%= t('views.feedback.please_tell_me_about_your_use_of_cyberdojo_and_ill_add_it_to_the') %>
        <a href="http://jonjagger.blogspot.co.uk/2012/09/cyber-dojo-dates.html"
          target="_blank">
          cyber-dojo <%= t('views.feedback.blog_page') %>
        </a>
      </div>
    </td>
  </tr>      
</table>