
<table>
  
  <tr>
    <td>
      <%= render :partial => 'setup_button' -%> a new coding-practice ;      
    </td>
  </tr>
  
  <tr>
    <td>
            enter your id
            <input type="text"
                      id="kata_id_input"
                      size="12"
                      value="<%=@id-%>" /> ;
    </td>
  </tr>
  <tr>
    <td>
      on <em>each</em> computer {
    </td>
  </tr>
  
  <tr>
    <td>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <%= render :partial => 'start_coding_button' -%>
            or
            <%= render :partial => 'resume_coding_button' -%>
            coding ;
    </td>
  </tr>

  <tr>
    <td>
      }
    </td>
  </tr>
  
  <tr>
    <td>
      a while (later) {
    </td>
  </tr>

  <tr>
    <td>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <%= render :partial => 'review_coding_button' -%>
            the code ;
    </td>
  </tr>

  <tr>
    <td>
      }
    </td>
  </tr>
  
  <tr>
    <td>
      goto setup ;
    </td>
  </tr>
</table>

