 
<div id="traffic_lights" class="panel">
  <table>
  
    <tr>
      <td>
        <%= link_to "<span class='button'>&lt;&gt;</span>", 
        { :controller => :dojo, 
          :action => "dashboard?dojo_name=#{@dojo.name}" 
        }, 
        { :title => "Expand the traffic lights", 
        }
        -%>        
      </td>
    </tr>
    
    <% index = 0 -%>
    <% @dojo.all_increments.each do |avatar_name,incs| -%>
      <% parity = (index % 2 == 0) ? "even" : "odd" -%>
      <% index += 1 -%>
      <tr class="<%=parity-%> traffic_light_row">
        <td>
          <%= review_button(@dojo.name, avatar_name) -%>
        </td>
        
        <td>
          <td><%= avatar_image(avatar_name, 45) -%></td>
        </td>
        
        <td>
          <% avatar = Avatar.new(@dojo, avatar_name) -%> 
          <% kata = avatar.kata -%>
          <% if @languages.length != 1 -%> <span class="small_title"><%= kata.language -%></span> <% end -%> 
          <% if @katas.length != 1 -%> <span class="small_title"><%= kata.name -%></span> <% end -%>      
        </td>
      
        <td>
          <table>
            <tr>
              <% incs.each do |inc| -%>
                <%= traffic_light(@dojo.name, avatar_name, inc) -%>
              <% end -%>
            </tr>
          </table>
        </td>
      
      </tr>    
    <% end -%>
  
  </table>
</div>

