 
<div id="traffic_lights" class="panel">
  <table>
  
    <tr>
      <td>
        <%= link_to "<span class='button'>Remove time gaps</span>", 
        { :controller => :dojo, 
          :action => "dashboard_collapsed?dojo_name=#{@dojo.name}" 
        }, 
        { :title => "Collapse the traffic lights", 
        }
        -%>        
      </td>
    </tr>
    
    <% index = 0 -%>
    <% seconds_per_td = 10 -%>
    
    <% gap_all(@dojo.all_increments, @dojo.created, Time.now, seconds_per_td).each do |avatar_name,gapped| -%>
      <% parity = (index % 2 == 0) ? "even" : "odd" -%>
      <% index += 1 -%>
      <tr class="<%=parity-%> traffic_light_row">
        <td>
          <td><%= avatar_image(avatar_name, 45) -%></td>
        </td>
        
        <td>
          <% avatar = Avatar.new(@dojo, avatar_name) -%> 
          <% kata = avatar.kata -%>
          <% if @languages.length != 1 -%> <span class="small_title"><%= kata.language -%></span> <% end -%> 
          <% if @katas.length != 1 -%> <span class="small_title"><%= kata.name -%></span> <% end -%>      
        </td>
      
        <% # 10 seconds per td, so 6 == minute, 60 == 10 mins, 120 == 20 mins -%>
        <% max_tds = 120 -%>
        <% recent(gapped, max_tds).each do |incs| -%>
          <td>
            <% if incs == [] -%>
              &nbsp;
            <% end -%>
            <table>
              <tr>
                <% incs.each do |inc| -%>
                  <%= traffic_light(@dojo.name, avatar_name, inc) -%>
                <% end -%>
              </tr>
            </table>
          </td>
        <% end -%>
      
      </tr>    
    <% end -%>
  
  </table>
</div>

