 
<div id="traffic_lights" class="panel" style="width:90em;overflow:auto">
  <table>
  
    <% index = 0 -%>
    <% all_incs = @dojo.all_increments -%>
    <% all_incs.keys.sort.each do |avatar_name| -%>
      <% lights = all_incs[avatar_name] -%>    
      <% parity = index.odd? ? "odd" : "even" -%>
      <% index += 1 -%>
      <tr class="<%=parity-%> traffic_light_row">
      
        <td align="right">
           <%= render :partial => 'traffic_lights_summary', :locals => { :avatar_name => avatar_name, :lights => lights } -%> 
        </td>
      
        <td>
          <%= avatar_image(avatar_name, 43) -%>
        </td>
        
        <td>
          <span class="small_title"><%= avatar_name.humanize -%></span>        
          <% avatar = Avatar.new(@dojo, avatar_name) -%> 
          <% kata = avatar.kata -%>
          <% if @languages.length != 1 -%> <span class="small_title"><%= kata.language -%></span> <% end -%> 
          <% if @katas.length != 1 -%> <span class="small_title"><%= kata.name -%></span> <% end -%>      
        </td>
      
        <td>
          <table>
            <tr>
              <% lights.each do |light| -%>
                <td>
                  <%= traffic_light(@dojo.name, avatar_name, light) -%>
                </td>
              <% end -%>
            </tr>
          </table>
        </td>
      
      </tr>    
    <% end -%>
  
  </table>
</div>

