
<div id="traffic_lights" class="panel">
  <table>
  
    <% index = 0 -%>
    
    <% seconds_per_td = @secs_per_col -%>
    <% max_cols = @max_cols -%>
    <% max_seconds_uncollapsed = seconds_per_td * max_cols -%>
    <% gapper = TdGapper.new(@dojo.created, seconds_per_td, max_seconds_uncollapsed) -%>
    <% all_incs = @dojo.all_increments -%>
    
    <% gapper.fully_gapped(all_incs, make_time(Time.now)).each do |avatar_name,td_map| -%>
      <% parity = (index % 2 == 0) ? "even" : "odd" -%>
      <% index += 1 -%>
      <tr class="<%=parity-%> traffic_light_row">
      
        <td align="right">
           <% incs = all_incs[avatar_name] -%>
           <%= render :partial => 'traffic_lights_summary', :locals => { :avatar_name => avatar_name, :lights => incs } -%> 
        </td>
        
        <td>
          <%= avatar_image(avatar_name, 45) -%>
        </td>
        
        <td>
          <span class="small_title"><%= avatar_name.humanize -%></span>
          <% avatar = Avatar.new(@dojo, avatar_name) -%> 
          <% kata = avatar.kata -%>
          <% if @languages.length != 1 -%> <span class="small_title"><%= kata.language -%></span> <% end -%> 
          <% if @katas.length != 1 -%> <span class="small_title"><%= kata.name -%></span> <% end -%>      
        </td>
        
        <% max_tds_displayed = @max_cols -%>
        <% all_td_nos = td_map.keys.sort -%>
        <% recent_td_nos = recent(all_td_nos, max_tds_displayed) -%>
        
        <% if recent_td_nos.length < all_td_nos.length -%>
          <td>
            <span class="traffic_light_ellision">...</span>
          </td>
        <% end -%>
        
        <% recent_td_nos.each do |td_no| -%>
          <% lights = td_map[td_no] -%>            
          <td>
          <% if lights.class == Array -%>
            <% if lights.length == 0 -%>
              &nbsp;
            <% else -%>
              <table>
                <tr>
                  <% lights.each do |light| -%>
                    <td>
                      <%=  traffic_light(@dojo.name, avatar_name, light) -%>
                    </td>
                  <% end -%>
                </tr>
              </table>
            <% end -%>
          <% end -%>
          
          <% if lights.class == Hash -%>
            <span class="traffic_light_ellision">...</span>         
          <% end -%>          
          </td>          
        <% end -%>
        
      </tr>    
    <% end -%>
  
  </table>
</div>

