
<script language="JavaScript"><!--
function choose_kata(kata_name)
{
  $('kata_name').value = kata_name;
  document.chooseKata.submit();
}
//--></script>

<form name="chooseKata" action="/kata/start"">

<input readonly 
       type="hidden"
       name="dojo_name" 
       id="dojo_name" 
       type="text" 
       value="<%=h @dojo.name-%>">

<input readonly 
       type="hidden"
       name="avatar_name" 
       id="avatar_name" 
       type="text" 
       value="<%=h @avatar_name -%>">

<input readonly 
       type="hidden"
       name="kata_name" 
       id="kata_name" 
       type="text" 
       value="">

<h1><b><%= @dojo.name -%></b></h1>

<img alt="<%=@avatar_name-%>" 
     class="avatar box" 
     src="/images/avatars/<%=@avatar_name-%>.jpg"
     title="<%=@avatar_name.humanize-%>" />
<img alt="<%=@avatar_name-%>" 
     class="avatar box" 
     src="/images/avatars/<%=@avatar_name-%>.jpg"
     title="<%=@avatar_name.humanize-%>" />

<table class="rounded panel"
       cellspacing="6"
       cellpadding="3">
  <% @dojo.kata_names.sort.each do |kata_name| -%>
  <tr>
    <td>
      <input type="button" 
             onClick='choose_kata("<%=kata_name-%>");'
             value="<%=kata_name-%>">
    </td>
  </tr>
  <% end -%>
</table>

<h2><i>Click your kata....</i></h2>

</form>


