
<script language="JavaScript"><!--
function choose_kata(id)
{
  $('kata_id').value = id;
  document.chooseKata.submit();
}
//--></script>

<form name="chooseKata" action="/kata/start"">

<input readonly 
       type="hidden"
       name="dojo_id" 
       id="dojo_id" 
       type="text" 
       value="<%=h @dojo_id-%>">

<input readonly 
       type="hidden"
       name="avatar" 
       id="avatar" 
       type="text" 
       value="<%=h @avatar -%>">

<input readonly 
       type="hidden"
       name="kata_id" 
       id="kata_id" 
       type="text" 
       value="">

<h1><b><%= @dojo_id -%></b></h1>

<img alt="<%=@avatar-%>" 
     class="avatar box" 
     src="/images/avatars/<%=@avatar-%>.jpg"
     title="<%=@avatar.humanize-%>" />
<img alt="<%=@avatar-%>" 
     class="avatar box" 
     src="/images/avatars/<%=@avatar-%>.jpg"
     title="<%=@avatar.humanize-%>" />

<table class="rounded panel"
       cellspacing="6"
       cellpadding="3">
  <% @katas.sort.each do |kata| -%>
  <tr>
    <td>
      <input type="button" 
             onClick='choose_kata("<%=kata-%>");'
             value="<%=kata-%>">
    </td>
  </tr>
  <% end -%>
</table>

<h2><i>Click your kata....</i></h2>

</form>


