
<script language="JavaScript"><!--
function select_avatar(name)
{
  $('avatar').value = name;
  document.chooseAvatar.submit();
}
//--></script>

<form name="chooseAvatar" action="/dojo/choose_kata">

<input readonly 
       type="hidden"
       name="dojo_id" 
       id="dojo_id" 
       type="text" 
       value="<%=h @dojo_id-%>">

<input readonly 
       type="hidden"
       name="avatar" 
       id="avatar" 
       type="text" 
       size="15" 
       value="">

<h2><b>Please select your Avatar</b></h2>

<table cellspacing="4">

  <tr>
    <td class="rounded panel">
      <% chunks = chunk_array(@avatars.sort, 4) -%>
      <table cellpadding="7">
      <% chunks.each do |chunk| -%>
        <tr>
        <% chunk.each do |avatar| -%>
           <td>
             <img alt="<%=avatar-%>" 
                  class="avatar box" 
                  src="/images/avatars/<%=avatar.downcase-%>.jpg"
                  title="<%=avatar.humanize-%>"
                  onClick='select_avatar("<%=avatar.downcase-%>");' />
             <img alt="<%=avatar-%>" 
                  class="avatar box" 
                  src="/images/avatars/<%=avatar.downcase-%>.jpg"
                  title="<%=avatar.humanize-%>"
                  onClick='select_avatar("<%=avatar.downcase-%>");' />
           </td>
        <% end -%>
        </tr>
      <% end -%>
      </table>    
    </td>
  </tr>

</table>

</form>


