
<script language="JavaScript"
        type="text/javascript"><!--

$j(document).ready(function() {
  selectKata("<%=@kata_index-%>");
});

function selectKata(index) {
  var info = $j('#kata_info_' + index).val();
  $j('#kata_info').val(info);
  $j('#kata_' + index).attr('checked', 'checked');
}

function selectLanguage(index) {
  $j('#language_' + index).attr('checked', 'checked');
}

//--></script>

<form action="/dojo/save">

<input type="hidden"
       name="dojo_name" 
       id="dojo_name" 
       value="<%=@dojo.name%>" />

<h1 title="<%= @dojo.name%>">   
  <%= elided_name(@dojo.name, 40) %>
</h1>

<table align="center">
  <tr>
    <td valign="top">
      <table class="panel">
        <tr>
          <td>
            <div>
              <span class="choose_title">Katas</span>
            </div>
            
            <% @katas.each_with_index do |choice,index| -%>
              <div class="mid_tone fileset" 
                   onclick='selectKata(<%=index-%>);' >
                <input id="kata_<%=index-%>" 
                       type="radio"
                       <% if @kata_index==index -%>
                       checked="checked"
                       <% end -%>
                       onclick='selectKata(<%=index-%>);'                      
                       name="kata" 
                       value="<%=choice-%>" />
                <label><%= choice -%></label>
              </div>    
            <% end -%>    
            
          </td>
          <td>&nbsp;</rd>
          <td>
            <textarea name="kata_info" 
                      id="kata_info"
                      cols="62" 
                      rows="24">              
            </textarea>
          </td>          
        </tr>
      </table>
      
    </td>
    <td valign="top">
      <table class="panel">
        <tr>
          <td>
            <div class="choose_title">Languages</div>

            <% @languages.each_with_index do |choice,index| -%>
              <div class="mid_tone fileset"
                   onclick='selectLanguage(<%=index-%>);' >
                <input id="language_<%=index-%>" 
                       type="radio"
                       <% if @language_index==index -%>
                       checked="checked"
                       <% end -%>
                       onclick='selectLanguage(<%=index-%>);'                      
                       name="language" 
                       value="<%=choice-%>" />
                <label><%= choice -%></label>
              </div>    
            <% end -%>    
          </td>
        </tr>
      </table>
      
      <table>
        <tr>
          <td valign="top">
            <input id="save_button" 
                   class="main button"
                   type="submit" 
                   value="Save Config" 
                   name="save" />
          </td>
        </tr>
      </table>        
    </td>
  </tr>
</table>

</form>

<% @katas.each_with_index do |choice,index| -%>
   <textarea style="display:none;" 
             name="kata_info_<%=index-%>"
             id="kata_info_<%=index-%>"><%=h @kata_info[choice] -%></textarea>
<% end -%>      


