
<script language="JavaScript"
        type="text/javascript"><!--

$j(document).ready(function() {
  //chooseExercise("<%=@exercise_index-%>");
  //chooseLanguage("<%=@language_index-%>");
});

//--></script>

<table align="center">
  <tr>
    <td>
      <% size = 80 -%>
      <%= link_to image_tag("/images/avatars/cyber-dojo.png",
            :border => 0,
            :size => "#{size}x#{size}",
            :title => 'Home page'),
            {
              :controller => :dojo,
              :action => :index
            }
      %>
    </td>
    <td>
      &nbsp;&nbsp;
    </td>
    <td>
      <h1>
      create a new coding practice
      </h1>
    </td>
  </tr>
</table>

<table align="center">
  <tr>
    <td>
      <%= render :partial => 'name_save_cancel' -%>      
    </td>      
  </tr>
  
  <tr>
    <td>
      <table>
        <tr>    
            <%= render :partial => 'choose_language' -%>      
            <%= render :partial => 'choose_exercise' -%>      
        </tr>
      </table>
    </td>              
  </tr>
</table>


