
<script language="JavaScript"
        type="text/javascript"><!--

$j(document).ready(function() {
  selectKata("<%=@kata_index-%>");
  selectLanguage("<%=@language_index-%>");
});

function selectKata(index) {
  var info = $j('#kata_info_' + index).val();
  $j('#kata_info').val(info);
  
  $j('input[name="kata"]').each(function() {
    $j(this).parent().attr('current_file', 'false');
  });
  var selected = $j('#kata_' + index);
  selected.parent().attr('current_file', 'true');
  selected.attr('checked', 'checked');
}

function selectLanguage(index) {
  $j('input[name="language"]').each(function() {
    $j(this).parent().attr('current_file', 'false');
  });

  var selected = $j('#language_' + index);
  selected.parent().attr('current_file', 'true');
  selected.attr('checked', 'checked');
}

//--></script>

<form action="/dojo/save">

<input type="hidden"
       name="dojo_name" 
       id="dojo_name" 
       value="<%=@dojo.name%>" />

<h1 title="<%= @dojo.name%>">
  <% size = 40 -%>
  <%= image_tag("/images/avatars/cyber-dojo.png",
      :border => 0, :size => "#{size}x#{size}", :title => 'Home page') -%>
  <%= elided_name(@dojo.name, 40) %>
</h1>

<table align="center">
  <tr>
    <td valign="top">
      <table class="panel">
        <tr>
          <td>
            <div>
              <span class="choose_title">Exercises</span>
            </div>
            
            <% @katas.each_with_index do |choice,index| -%>
              <div class="filename" 
                   onclick='selectKata(<%=index-%>);' >
                <input id="kata_<%=index-%>" 
                       type="radio"
                       <% if @kata_index==index -%>
                       checked="checked"
                       <% end -%>
                       onclick='selectKata(<%=index-%>);'                      
                       name="kata" 
                       value="<%=choice-%>" />
                <label><%= choice -%></label>
              </div>    
            <% end -%>    
            
          </td>
          <td>&nbsp;</rd>
          <td>
            <textarea name="kata_info" 
                      id="kata_info"
                      cols="62" 
                      rows="24">              
            </textarea>
          </td>          
        </tr>
      </table>
      
    </td>
    <td valign="top">
      <table class="panel">
        <tr>
          <td>
            <div class="choose_title">Languages</div>

            <% @languages.each_with_index do |choice,index| -%>
              <div class="filename"
                  <% if @language_index == index -%>
                  current_file = "true"
                  <% else -%>
                  current_file = "false"                
                  <% end -%>
                   onclick='selectLanguage(<%=index-%>);' >
                <input id="language_<%=index-%>" 
                       type="radio"
                       <% if @language_index==index -%>
                       checked="checked"
                       <% end -%>
                       onclick='selectLanguage(<%=index-%>);'                      
                       name="language" 
                       value="<%=choice-%>" />
                <label><%= choice -%></label>
              </div>    
            <% end -%>    
          </td>
        </tr>
      </table>
      
      <table class="panel">
        <tr>
          <td valign="top">
            <input id="save_button" 
                   class="large button"
                   type="submit" 
                   value="save" 
                   name="save" />
          </td>
        </tr>
      </table>        
    </td>
  </tr>
</table>

</form>

<% @katas.each_with_index do |choice,index| -%>
   <textarea style="display:none;" 
             name="kata_info_<%=index-%>"
             id="kata_info_<%=index-%>"><%=h @kata_info[choice] -%></textarea>
<% end -%>      


