
<script language="JavaScript"
        type="text/javascript"><!--

$j(document).ready(function() {
  chooseExercise("<%=@exercise_index-%>");
  chooseLanguage("<%=@language_index-%>");
});

//--></script>

<h1>
  <% size = 40 -%>
  <%= image_tag("/images/avatars/cyber-dojo.png",
      :border => 0,
      :size => "#{size}x#{size}",
      :title => 'Home page') -%>
  <%= @title %>
</h1>

<table align="center">
  <tr>
    <td>
      <%= render :partial => 'name_save_cancel' -%>      
    </td>      
  </tr>
  
  <tr>
    <td>
      <table>
        <tr>    
          <td valign="top">
            <%= render :partial => 'choose_language' -%>      
          </td>
          
          <td valign="top">
            <%= render :partial => 'choose_exercise' -%>      
          </td>             
        </tr>
      </table>
    </td>
              
  </tr>
</table>


