
<script language="JavaScript"
        type="text/javascript"><!--

function selection(name, index)
{
  $(name + '_' + index).checked = true; 
}

//--></script>


<h1><b>CyberDojo</b></h1>

<form name="dojoNew" action="/dojo/new">

<table>
  <tr>
    <td class="boxed">
<b>Choose a name for your CyberDojo:</b>
<input id="name"
       type="text"
       name="name"
       value=""> 
<% if flash[:name_notice] -%>
   <span class="notice"><%= flash[:name_notice] -%></span>
<% end -%>

    </td>
  </tr>
</table>

<table><tr>
  <% @filesets.each do |name| -%>
  <td valign="top" class="boxed">
    <b><%=name.capitalize-%></b>?
    <br/>
    <br/> 
    <div>Choose now for all players...
      <% FileSet.new(name).choices.sort.each_with_index do |choice,index| -%>
        <div onclick='selection("<%=name-%>", "<%=index+1-%>");'>
          <input id="<%=name-%>_<%=index+1-%>"
                 type="radio"
                 name="filesets[<%=name-%>]"
                 value="<%=choice-%>">
            <%=choice-%>  
       </div>
      <% end -%>
    </div>

    Or...
    <div onclick='selection("<%=name-%>", "0");'>
      <input id="<%=name-%>_0"
             type="radio"
             name="filesets[<%=name-%>]"
             checked
             value="choose">Each player chooses
    </div>  
    
  </td>
  <% end -%>
  <td valign="top">
    <input id="create_button"
           type="submit"
           name="create"
           value="Create">
  </td>
  </tr>
</table>


</form>

<!--

  <tr>
    <td class="boxed">
<b>What kind of CyberDojo do you want?</b>
  <input id="dojo_kind"
         type="radio"
         name="dojo[kind]"
         checked
         value="multi_user">Multi user
  <input id="dojo_kind"
         type="radio"
         name="dojo[kind]"
         value="single_user">Single user
    </td>
  </tr>

<div>
IF MULTI...use points-ladder? yes/no<br/>
</div>

<div>
IF MULTI...use period-timer? yes/no<br/>
if so what period? default=5 mins<br/>
use bell? yes/no<br/>
use text reminder? yes/no <br/>
</div>

-->




