 
<h1><b>CyberDojo: <%= @dojo.name -%></b></h1>

<% gapped = gapper(@dojo) -%>
<div id="dashboard" class="mid_tone">
<table>
  <% gapped.each do |avatar_name,increments| -%>
  <tr>
    <td>
      <table cellspacing="2"
             cellpadding="0">
        <tr>
          <% increments.each do |inc| -%>
          <td>
            <span id="dashboard_cell" 
                  class="<%=inc-%>">&nbsp;</span>
          </td>
          <% end -%>
        </tr>
      </table>
    </td>
    <td>
      <% size = 27 -%>
      <img src="/images/avatars/<%=avatar_name.downcase-%>.jpg"
           width="<%=size-%>"
           height="<%=size-%>"
           title="<%=avatar_name.humanize-%>" />
    </td>
    <td>
      <img src="/images/avatars/<%=avatar_name.downcase-%>.jpg"
           width="<%=size-%>"
           height="<%=size-%>"
           title="<%=avatar_name.humanize-%>" />
    </td>
  </tr>
  <% end -%>

  <% if gapped.size > 1 -%>
  <tr>
   <td>&nbsp;</td>
   <td>&nbsp;</td>
   <td>&nbsp;</td>
  </tr>

  <tr>
    <td>
      <table cellspacing="2"
             cellpadding="0">
        <tr>
          <% shared(gapped).each do |inc| -%>
          <td>
            <span id="dashboard_cell" 
                  class="<%=inc-%>">&nbsp;</span>
          </td>
          <% end -%>
        </tr>
      </table>
    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <% end -%>

</table>
</div>


