 
<h1><b>CyberDojo: <%= @dojo.name -%></b></h1>

<div>
<table>
  <% all_avatar_increments(@dojo).each do |avatar_name,increments| -%>
  <tr>
    <td>
      <table align="right"
             cellspacing="2"
             cellpadding="0">
        <tr>
          <% increments[0..-2].each do |inc| -%>
            <%= traffic_light(inc)-%>
          <% end -%>
        </tr>
      </table>
    </td>
    <td>
      <% size = 45 -%>
      <img src="/images/avatars/<%=avatar_name.downcase-%>.jpg"
           width="<%=size-%>"
           height="<%=size-%>"
           title="<%=avatar_name.humanize-%>" />
    </td>
    <% if increments.length > 0 -%>
    <%   last = increments.last -%>
    <% else -%>
    <%   last = { :outcome => :blank } -%>
    <% end -%>
    <%= traffic_light(last) -%>
    <td>
      <img src="/images/avatars/<%=avatar_name.downcase-%>.jpg"
           width="<%=size-%>"
           height="<%=size-%>"
           title="<%=avatar_name.humanize-%>" />
    </td>
    <% kata = Avatar.new(@dojo, avatar_name).kata -%> 
    <td>
      <div class='small_title'><%= kata.language -%></div>
      <div class='small_title'><%= kata.name -%></div>
    </td>    
  </tr>
  <% end -%>

</table>
</div>


