 
<h1 align="center">CyberDojo: <%= @dojo.name -%></h1>

<div>
<table>
  <% all_avatar_increments(@dojo).each do |avatar_name,increments| -%>
  <tr>
    <td>
      <table align="right"
             cellspacing="2"
             cellpadding="0">
        <tr>
          <% increments[0..-2].each do |inc| -%>
            <%= traffic_light(inc)-%>
          <% end -%>
        </tr>
      </table>
    </td>
    <td>
      <% size = 45 -%>
      <img src="/images/avatars/<%=avatar_name.downcase-%>.jpg"
           width="<%=size-%>"
           height="<%=size-%>"
           title="<%=avatar_name.humanize-%>" />
    </td>
    <% if increments.length > 0 -%>
    <%   last = increments.last -%>
    <% else -%>
    <%   last = { :outcome => :blank } -%>
    <% end -%>
    <%= traffic_light(last) -%>
    <td>
      <img src="/images/avatars/<%=avatar_name.downcase-%>.jpg"
           width="<%=size-%>"
           height="<%=size-%>"
           title="<%=avatar_name.humanize-%>" />
    </td>
    <% avatar = Avatar.new(@dojo, avatar_name) -%> 
    <% kata = avatar.kata -%> 
    <td>
      <div class='small_title'>
        <%= kata.language -%>, <%= kata.name -%>, <%= pluralize(avatar.increments.length, 'increment') -%>
      </div>
    </td>    
  </tr>
  <% end -%>

</table>
</div>


