
<div>
  <div class="align-center medium">
    <div><%= t("views.labels.your_animal_is") %></div>
    <% size = 120 %>
    <img class='avatar_image'
         src="/images/avatars/<%= @avatar_name %>.jpg"
         title="<%= @avatar_name.humanize %>"
         width="<%= size %>"
         height="<%= size %>" />          
    <div><%= t("views.avatars.#{@avatar_name}") %></div>
  </div>
</div>
