
<div>
  <div class="align-center small">
    <div>your animal is the</div>
    <div><%= @avatar_name %></div>
    <% size = 90 %>
    <img class='avatar_image'
         src="/images/avatars/<%= @avatar_name %>.jpg"
         title="<%= @avatar_name.humanize %>"
         width="<%= size %>"
         height="<%= size %>" />
  </div>
</div>

<div class="align-center small">
  click  
  <br/>
  <% size = 20 %>
  <img src='/images/bulb_red.png'
       alt='red traffic-light'
       width='<%= size %>'
       height='<%= size %>'/>
  <img src='/images/bulb_amber.png'
       alt='amber traffic-light'
       width='<%= size %>'
       height='<%= size %>'/>
  <img src='/images/bulb_green.png'
       alt='green traffic-light'
       width='<%= size %>'
       height='<%= size %>'/>
  <br/>
  to open a history diff
  <br/>       
</div>
