
<div>
  <div class="align-center small">
    <div>your animal is the</div>
    <div><%= @avatar_name %></div>
    <% size = 90 %>
    <img class='avatar_image'
         src="/images/avatars/<%= @avatar_name %>.jpg"
         title="<%= @avatar_name.humanize %>"
         width="<%= size %>"
         height="<%= size %>" />
  </div>
</div>

<div class="align-center small">
  click any traffic-light to<br/>
  open a history diff<br/>
  <% width = 11 %>
  <% height = 33 %>
  <img src='/images/traffic_light_red.png'
       alt='red traffic-light'
       width='<%= width %>'
       height='<%= height %>'/>
  <img src='/images/traffic_light_amber.png'
       alt='amber traffic-light'
       width='<%= width %>'
       height='<%= height %>'/>
  <img src='/images/traffic_light_green.png'
       alt='green traffic-light'
       width='<%= width %>'
       height='<%= height %>'/>
</div>
