
<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {
  $j('#close').click(function() {
    window.close();
  });
});

//--></script>

<%= render :partial => 'dojo/title',
           :locals => { :title => 'iFAQs' } -%>

<h4>(inFrequently Asked Questions)</h4>

<table>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;&nbsp;Why don't you add syntax highlighting ?</td>
  </tr>
  <%= render :partial => 'no_listen_tr' -%>

  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;&nbsp;Why don't you add simple auto-refactoring ?</td>
  </tr>
  <%= render :partial => 'no_listen_tr' -%>

  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;&nbsp;Why don't you add X ?</td>
  </tr>
  <%= render :partial => 'no_listen_tr' -%>

  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;&nbsp;Why don't you add Y ?</td>
  </tr>
  <%= render :partial => 'no_listen_tr' -%>
</table>

<input type="button"
       class="button"
       id="close"
       value="Close"/>

