
<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {

  $j('#configure_it').click(function() {
    $cd.postTo('/dojo/create');
  });
  
  $j('#start_coding').click(function() {
    var id = $j('#kata_id_input').attr('value');
    $cd.postTo('/dojo/start', { id: id }, '_blank');    
  });
  
  $j('#resume_coding').click(function() {
    run('exists_json', function(id, data) {
      resumeCoding(id, data);
    });
  });
  
  $cd.registerCloseResumeDialog = function(resumer) {
    $cd.closeResumeDialog = function() {
      resumer.dialog('close');
    };
  };
  
  $j('#show_dashboard').click(function() {
    run('exists_json', function(id, data) {
      showDashboard(id, data);
    });
  });
  
  $j('#show_messages').click(function() {
    run('exists_json', function(id, data) {
      showMessages(id, data);
    });
  });

  $j.each(['why', 'tips', 'ifaqs', 'links'], function(i,name) {
    $j('#' + name).click(function() {
      $cd.postTo('/dojo/' + name, { }, '_blank');
    });
  });
  
});

function run(method, func) {
  var id = $j('#kata_id_input').attr('value');
  if ($j.trim(id) === '') {
    $cd.alert("<h3>You must enter an id.</h3>", "");
  } else {
    $j.getJSON('/dojo/' + method, { id: id }, function(data) {
      func(id, data);
    });
  }
}

function resumeCoding(id, data) {
  if (!data.exists) {
    cantFind(id);
  } else {
    var grid = $j('<div>');
    grid.load('/dojo/resume_avatar_grid', { id: id }, function() {
      var resumer = $j('<div id="resume_coding_dialog">')
        .html(grid.html())
        .dialog({
          autoOpen: false,
          title: "",
          width: 600,
          modal: true,
          buttons: {
            cancel: function() {
              $j(this).dialog('close');
            }
          }
        });
      $cd.registerCloseResumeDialog(resumer);
      resumer.dialog('open');
    });
  }
}

function showDashboard(id, data) {
  if (!data.exists) {
    cantFind(id);
  } else {
    $cd.postTo('/dashboard/show', { id: id });  
  }
}

function showMessages(id, data) {
  if (!data.exists) {
    cantFind(id);  
  } else {
    $cd.postTo('/messages/show', { id: id });  
  }
}

function cantFind(id) {
  $cd.alert("<h3>There is no kata with an id of </h3><h2>" + id + "</h2>", "");  
}

//--></script>


<table align="center">
  <tr>
    <td>      
      <% size = 80 -%>
      <%= image_tag("/images/avatars/cyber-dojo.png",
          :border => 0,
          :size => "#{size}x#{size}",
          :title => 'Home page') -%>
    </td>
    <td>
      &nbsp;&nbsp;
    </td>
    <td>
      <h1 title="Twitter tag == @CyberDojo"><%= @title -%></h1>                
      <h4>where Software Teams<br/>do Deliberate Practice</h4>      
    </td>
  </tr>
</table>

<table>
  <tr>
    <td class="panel">
      &nbsp;First, on <em>one</em> computer, create a
      <input type="button"
             class="large button"
             id="configure_it"
             value="new-practice" />
    </td>
  </tr>
  
  <tr>
    <td class="panel">
      &nbsp;Then, on <em>each</em> computer, type in your practice's id:
      <table>
        <tr>
         <td>
            <input type="text"
                   id="kata_id_input"
                   size="15"
                   value="<%=@id-%>" />
          </td>
          <td>and</td>
          <td>         
            <input type="button"
                   class="large button"
                   id="start_coding"
                   value="start-coding" />
          </td>
        </tr>
        <tr>
          <td></td>
          <td>or</td>
          <td>
            <input type="button"
                   class="large button"
                   id="resume_coding"
                   value="resume-coding" />
          </td>
        </tr>
        <tr>
          <td></td>
          <td>or</td>
          <td>
            <input type="button"
                   class="large button"
                   id="show_dashboard"
                   value="show-dashboard" />
          </td>
        </tr>          
        <tr>
          <td></td>
          <td>or</td>
          <td>
            <input type="button"
                   class="large button"
                   id="show_messages"
                   value="show-messages" />
          </td>
        </tr>          
      </table>
    <td>
  </tr>

  <tr>
    <td>
      <% [ 'ifaqs', 'links', 'tips', 'why' ].each do |name| -%>
        <input type="button"
               class="button"
               id="<%=name-%>"
               value="<%=name-%>"/>
      <% end -%>
    </td>
  </tr>
      
</table>
