
<script language="javascript" type="text/javascript"><!--

$(document).ready(function() {

  cd.run = function(method, func) {
    var id = $('#kata_id_input').attr('value');
    if ($.trim(id) !== '') {
      $.getJSON('/dojo/' + method, { id: id }, function(data) {
        func(id, data);
      });
    }
  };

  cd.registerCloseResumeDialog = function(resumer) {
    cd.closeResumeDialog = function() {
      resumer.dialog('close');
    };
  };
  
  var ua = $.browser;
  if (ua.msie && ua.version.slice(0,3) === "6.0") {
    cd.alert(
      "cyber-dojo",
      "Sorry, Internet Explorer 6.0 is not supported",
      "");
  }
  
});

//--></script>


<table align="center">
  <tr>
    <td>      
      <% size = 80 %>
      <%= image_tag("/images/avatars/cyber-dojo.png",
          :border => 0,
          :size => "#{size}x#{size}",
          :title => 'cyber-dojo') %>
    </td>
    <td>
      &nbsp;&nbsp;
    </td>
    <td>
      <div style="font-size: 4em;">cyber-dojo</div>                
    </td>
  </tr>
</table>

<h2>
  a place to <a href="http://jonjagger.blogspot.co.uk/p/cyber-dojo_8.html">practice</a>
  programming
</h2>
<br/>

<table style="font-size: 1.5em;"
       cellpadding="0"
       cellspacing="0">
  <tr>
    <td class="panel">
      <%= render :partial => 'row_setup' %>
    </td>
  </tr>

  <tr>
    <td class="panel">
      <%= render :partial => 'row_code' %>
    </td>
  </tr>

  <tr>
    <td class="panel" align="center">
      <%= render :partial => 'row_donate' %>
    </td>
  </tr>
        
  <tr>
    <td class="panel" align="center">
      <%= render :partial => 'row_buttons' %>
    </td>
  </tr>
</table>
