
<div id="home-page">

  <%= render partial: 'custom' %>

  <table class="align-right" cellpadding="0" cellspacing="0">

    <tr>
      <td colspan="2">
        <%= render partial: 'heading' %>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <%= render partial: 'the_place_to_practice_programming' %>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <%= render partial: 'create_button' %>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <%= render partial: 'enter_button' %>
      </td>
    </tr>

    <tr>
      <td rowspan="3">
        <%= render partial: 'globe' %>
      </td>
      <td>
        <%= render partial: 'licensing' %>
      </td>
    </tr>

    <tr>
      <td>
        <%= render partial: 'donate' %>
      </td>
    </tr>

    <tr>
      <td>
        <%= render partial: 'charity' %>
      </td>
    </tr>

  </table>
</div>

<%= render partial: 'shared/footer_short',
    locals: { help_url: "http://blog.cyber-dojo.org/p/learn-more.html" } %>
