
<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {

  $j('#configure_it').click(function() {
    $cd.postTo('/dojo/create');
  });
  
  $j('#start_coding').click(function() {
    var id = $j('#kata_id_input').attr('value');
    if ($j.trim(id) === '') {
      $cd.alert("cyber-dojo", "<h3>Please enter an id</h3>", "");
    } else {
      $cd.postTo('/dojo/start', { id: id }, '_blank');    
    }
  });
  
  $j('#resume_coding').click(function() {
    run('exists_json', function(id, data) {
      resumeCoding(id, data);
    });
  });
  
  $cd.registerCloseResumeDialog = function(resumer) {
    $cd.closeResumeDialog = function() {
      resumer.dialog('close');
    };
  };
  
  $j('#show_dashboard').click(function() {
    run('exists_json', function(id, data) {
      showDashboard(id, data);
    });
  });
  
  $j.each(['about', 'basics', 'dashboard', 'faqs', 'feedback', 'links', 'source', 'tips', 'why' ], function(i,name) {
    $j('#' + name).click(function() {
      popup(name);
    });
  });
  
  $j('body').css('background', 'Cornsilk');
  
  var ua = $j.browser;
  if (ua.msie && ua.version.slice(0,3) === "6.0") {
    $cd.alert(
      "cyber-dojo",
      "Sorry, Internet Explorer 6.0 is not supported",
      "");
  }
  
});


function popup(name) {
  var grid = $j('<div>');
  grid.load('/dojo/' + name, { }, function() {
    var div = $j('<div>')
      .html('<div style="font-size: 1.2em;">' + grid.html() + '</div>')    
      .dialog({
        autoOpen: false,
        width: (name === 'why' ? 1100 : 850),
        title: '<h1>' + name + '</h1>',
        modal: true,
        buttons: {
          ok: function() {
            $j(this).dialog('close');
          }
        }
      });
    div.dialog('open');        
  });  
}

function run(method, func) {
  var id = $j('#kata_id_input').attr('value');
  if ($j.trim(id) === '') {
    $cd.alert("cyber-dojo", "<h3>Please enter an id</h3>", "");
  } else {
    $j.getJSON('/dojo/' + method, { id: id }, function(data) {
      func(id, data);
    });
  }
}

function resumeCoding(id, data) {
  if (!data.exists) {
    cantFind(id);
  } else {
    var grid = $j('<div>');
    grid.load('/dojo/resume_avatar_grid', { id: id }, function() {
      var resumer = $j('<div id="resume_coding_dialog">')
        .html(grid.html())
        .dialog({
          autoOpen: false,
          title: "",
          width: 600,
          modal: true,
          buttons: {
            cancel: function() {
              $j(this).dialog('close');
            }
          }
        });
      $cd.registerCloseResumeDialog(resumer);
      resumer.dialog('open');
    });
  }
}

function showDashboard(id, data) {
  if (!data.exists) {
    cantFind(id);
  } else {
    $cd.postTo('/dashboard/show', { id: id });  
  }
}

function cantFind(id) {
  $cd.alert("cyber-dojo", "<h3>Sorry but there is no practice with an id of </h3><h2>" + id + "</h2>", "");  
}

//--></script>


<table align="center">
  <tr>
    <td>      
      <% size = 80 -%>
      <%= image_tag("/images/avatars/cyber-dojo.png",
          :border => 0,
          :size => "#{size}x#{size}",
          :title => 'cyber-dojo') -%>
    </td>
    <td>
      &nbsp;&nbsp;
    </td>
    <td>
      <div style="font-size: 4em;">cyber-dojo</div>                
    </td>
  </tr>
</table>

<h2>where software teams do <a href="http://jonjagger.blogspot.co.uk/p/cyber-dojo_8.html">deliberate practice</a></h2>      

<br/>

<table style="font-size: 1.5em;">
  <tr>
    <td class="panel">
      <input type="button"
             class="large button"
             id="configure_it"
             value="setup" />
      <span class="plain_text">
        a new coding-practice&hellip;
      </span>
    </td>
  </tr>

  <tr>
    <td class="panel">
      <span class="plain_text">
        &hellip;on <em>each</em> computer enter your coding-practice<br/>
      </span>
      <table>
        <tr>
         <td>
          <span class="plain_text">
            &nbsp;id
          </span>
            <input type="text"
                   id="kata_id_input"
                   size="15"
                   value="<%=@id-%>" />
          </td>
          <td align="right">
            <span class="plain_text">
              &nbsp;and&nbsp;
            </span>
          </td>
          <td>
            <input type="button"
                   class="large button"
                   id="start_coding"
                   value="start-coding" />
          </td>
        </tr>
        <tr>
          <td>            
          </td>
          <td align="right">
            <span class="plain_text">
              or&nbsp;
            </span>
          </td>
          <td>
            <input type="button"
                   class="large button"
                   id="resume_coding"
                   value="resume-coding" />
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td align="right">
            <span class="plain_text">            
              or&nbsp;
            </span>
          </td>
          <td>
            <input type="button"
                   class="large button"
                   id="show_dashboard"
                   value="view-dashboard" />
          </td>
        </tr>          
      </table>
    </td>
  </tr>

  <tr>
    <td class="panel">
      <% [ 'about', 'basics', 'dashboard', 'faqs', 'feedback', 'links', 'source', 'tips', 'why' ].each do |name| -%>
        <input type="button"
               class="button"
               id="<%=name-%>"
               value="<%=name-%>"/>
      <% end -%>
    </td>
  </tr>

  <tr>
    <td>
      <table>
        <tr>
          <td>
           <%= render :partial => 'donate' -%>
          </td>
          <td>
            <span class="donate_text">
              all donations used solely to<br/> 
              buy <a href="http://www.raspberrypi.org/">raspberry pi</a>'s for schools.<br/>
              thank you. <a href="http://jonjagger.blogspot.co.uk/">Jon Jagger</a>
            </span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
        
</table>
