
<div style="font-size: 1.5em;">

  <div class="row">
     <% size = 47 %>	  	
     <%= image_tag("/images/avatars/cyber-dojo.png",	  	
         :border => 0,	  	
         :size => "#{size}x#{size}",	  	
         :title => 'cyber-dojo') %>	  	
      <span id="cyber-dojo">cyber-dojo</span>
      <div id="a_place_to_practice">
          a place to <a href="http://jonjagger.blogspot.co.uk/p/cyber-dojo_2380.html">practice</a>
          programming
      </div>
  </div>  
  
<div class="edgeless panel">
  <div class="row">
    <%= render :partial => 'row_setup' %>
  </div>
</div>

<div class="edgeless panel">
  <div class="row">
    <%= render :partial => 'row_enter_id' %>
  </div>
  
  <div class="row">
    <%= render :partial => 'row_code' %>
  </div>
</div>

<div class="edgeless panel">
  <div class="row">
    <%= render :partial => 'row_donate' %>
  </div>
</div>
  
<div class="edgeless panel">
  <div class="row">
    <%= render :partial => 'row_buttons' %>
  </div>
</div>

</div>
