
<div id="home-page">

  <%= render partial: 'custom' %>
  <%= render partial: 'globe' %>

  <table class="align-right">

    <tr>
      <td colspan="4">
        <div id="cyber-dojo">
          <div id="home-page-logo">
            <%= raw home_page_logo(35) %>
          </div>
          cyber&#8209;dojo.org
        </div>
      </td>
    </tr>

    <tr>
      <td rowspan="6" align="right">
        <%= render partial: 'charity' %><br/>
        <%= render partial: 'donate' %><br/>
        <%= render partial: 'accu' %><br/>
      </td>
      <td colspan="3">
        <div id="the-place-to-practice-programming">
          the place to <a href="http://blog.cyber-dojo.org/2015/05/do-more-deliberate-practice.html" target="_blank">practice</a> programming
        </div>
      </td>
    </tr>

    <tr>
      <td colspan="4">
        <%= render partial: 'learn_more_button' %>
      </td>
    </tr>

    <tr>
      <td class="button-info-td">
          <span class="number">1</span>
          create your cyber-dojo (choose a language, a test framework, and an exercise)
      </td>
      <td class="button-td">
        <%= render partial: 'create_button' %>
      </td>
    </tr>

    <tr>
      <td class="enter button-info-td">
          <span class="number">2</span>
          type in your cyber-dojo's id
          in <span class="each">each</span> browser
      </td>
      <td class="button-td">
        <%= render partial: 'enter_id' %>
      </td>
    </tr>

    <tr>
      <td class="button-info-td">
        <span class="number">3</span>
        click enter in<br/>
        <span class="each">each</span> browser<br/>
        to start coding
      </td>
      <td class="button-td">
        <%= render partial: 'enter_button' %>
      </td>
    </tr>

    <tr>
      <td class="button-info-td">
        <span class="number">4</span>
        stop coding, open the dashboard to review everyone's code
      </td>
      <td class="button-td">
        <%= render partial: 'review_button' %>
      </td>
    </tr>

  </table>
</div>

<%= render partial: 'footer' %>
