
<div style="font-size: 1.5em;">

  <div class="row">
      <%= logo_image(47,"cyber-dojo") %>
      <span id="cyber-dojo">cyber-dojo</span>
      <div id="a_place_to_practice">
          <%= raw t("views.labels.a_place_to_practice") %>
      </div>
  </div>  
  
<div class="edgeless">
  <div class="row">
    <%= render :partial => 'row_setup' %>
  </div>
</div>

<div class="edgeless">
  <div class="row">
    <%= render :partial => 'row_enter_id' %>
  </div>
  
  <div class="row">
    <%= render :partial => 'row_code' %>
  </div>
</div>

<div class="edgeless">
  <div class="row">
    <%= render :partial => 'row_donate' %>
  </div>
</div>
  
<div class="edgeless">
  <div class="row">
    <%= render :partial => 'row_buttons' %>
  </div>
</div>

</div>
