
<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {

  $j('#configure_it').click(function() {
    $cd.postTo('/dojo/create');
  });
  
  $j('#start_coding').click(function() {
    var kata_name = $j('#configured_name_input').attr('value');
    $cd.postTo('/dojo/start', { kata_name: kata_name }, '_blank');    
  });
  
  $j('#resume_coding').click(function() {
    run('configured_name_input', "exists_json", function(kata_name, data) {
      resumeCoding(kata_name, data);
    })
  });
  
  $cd.registerCloseResumeDialog = function(resumer) {
    $cd.closeResumeDialog = function() {
      resumer.dialog('close');
    };
  };
  
  $j('#show_dashboard').click(function() {
    run('configured_name_input', "exists_json", function(kata_name, data) {
      showDashboard(kata_name, data);
    })
  });
  
  $j('#show_messages').click(function() {
    run('configured_name_input', "exists_json", function(kata_name, data) {
      showMessages(kata_name, data);
    })
  });

  $j.each(['why', 'tips', 'ifaqs', 'links'], function(i,name) {
    $j('#' + name).click(function() {
      $cd.postTo('/dojo/' + name, { }, '_blank');
    });
  });
  
});

function run(name_input, method, func) {
  var kata_name = $j('#' + name_input).attr('value');
  if ($j.trim(kata_name) === '') {
    $cd.alert("<h3>You must enter a name.</h3>", "");
  } else {
    $j.getJSON('/dojo/' + method, { kata_name: kata_name }, function(data) {
      func(kata_name, data);
    });
  }
}

function configureIt(kata_name, data) {
  if (data.exists) {
    $cd.alert("<h3>There is already a kata called</h3><h2>" + kata_name + "</h2>", "");  
  } else {    
    $cd.postTo('/dojo/create', { kata_name: kata_name });    
  }
}

function resumeCoding(kata_name, data) {
  if (!data.exists) {
    cantFind(kata_name);
  } else {
    var grid = $j('<div>');
    grid.load('/dojo/resume_avatar_grid', { kata_name: kata_name }, function() {
      var resumer = $j('<div id="resume_coding_dialog">')
        .html(grid.html())
        .dialog({
          autoOpen: false,
          title: "",
          width: 600,
          modal: true,
          buttons: {
            cancel: function() {
              $j(this).dialog('close');
            }
          }
        });
      $cd.registerCloseResumeDialog(resumer);
      resumer.dialog('open');
    });
  }
}

function showDashboard(kata_name, data) {
  if (!data.exists) {
    cantFind(kata_name);
  } else {
    $cd.postTo('/dashboard/show', { kata_name: kata_name });  
  }
}

function showMessages(kata_name, data) {
  if (!data.exists) {
    cantFind(kata_name);  
  } else {
    $cd.postTo('/messages/show', { kata_name: kata_name });  
  }
}

function cantFind(kata_name) {
  $cd.alert("<h3>There is no kata with an id of </h3><h2>" + kata_name + "</h2>", "");  
}

//--></script>


<table align="center">
  <tr>
    <td>      
      <% size = 80 -%>
      <%= image_tag("/images/avatars/cyber-dojo.png",
          :border => 0,
          :size => "#{size}x#{size}",
          :title => 'Home page') -%>
    </td>
    <td>
      &nbsp;&nbsp;
    </td>
    <td>
      <h1 title="Twitter tag == @CyberDojo"><%= @title -%></h1>                
      <h4>where Software Teams<br/>do Deliberate Practice</h4>      
    </td>
  </tr>
</table>

<table>
  <tr>
    <td class="panel">
      &nbsp;First, on <em>one</em> computer
      <input type="button"
             class="large button"
             id="configure_it"
             value="configure-your-kata" />
    </td>
  </tr>
  
  <tr>
    <td class="panel">
      &nbsp;Then, on <em>each</em> computer, type in your kata's id:
      <table>
        <tr>
         <td>
            <input type="text"
                   class="name_input"
                   id="configured_name_input"
                   size="15"
                   value="<%=@kata_name-%>" />
          </td>
          <td>and</td>
          <td>         
            <input type="button"
                   class="large button"
                   id="start_coding"
                   value="start-coding" />
          </td>
        </tr>
        <tr>
          <td></td>
          <td>or</td>
          <td>
            <input type="button"
                   class="large button"
                   id="resume_coding"
                   value="resume-coding" />
          </td>
        </tr>
        <tr>
          <td></td>
          <td>or</td>
          <td>
            <input type="button"
                   class="large button"
                   id="show_dashboard"
                   value="show-dashboard" />
          </td>
        </tr>          
        <tr>
          <td></td>
          <td>or</td>
          <td>
            <input type="button"
                   class="large button"
                   id="show_messages"
                   value="show-messages" />
          </td>
        </tr>          
      </table>
    <td>
  </tr>

  <tr>
    <td>
      <% [ 'ifaqs', 'links', 'tips', 'why' ].each do |name| -%>
        <input type="button"
               class="button"
               id="<%=name-%>"
               value="<%=name-%>"/>
      <% end -%>
    </td>
  </tr>
      
</table>
