
<%= render :partial => 'dojo/title',
           :locals => { :title => @title } -%>

<table>
  <tr>
    <td>
      &nbsp;
    </td>
  </tr>
  <tr>
    <td>
      &nbsp;First, choose your CyberDojo's name:
      <div class="panel">
        <form action="/dojo/new">
          <div>
            <input type="text"
                   class="name_input"
                   name="dojo_name"
                   size="15"
                   value="" />
            and
            <input type="submit"
                   class="main button"
                   id="new_button"
                   name="new"
                   value="Configure It" />
            <% if flash[:new_notice] -%>
              <div class="notice"><%= flash[:new_notice] -%></div>
            <% end -%>
          </div>
        </form>
      </div>
    </td>
  </tr>
  
  <tr>
    <td>
    
      &nbsp;Then, on <em>each</em> participating computer<br/>
      &nbsp;type in your CyberDojo's name:
      
      <div class="panel">
      
      <!-- Chrome has a bug whereby only the first form submit actually submits. This is a work-around -->
      
      <form action="/dojo/enter?r=" method="post" onsubmit="this.action=this.action+'1'">
      
        <table>
            <tr>
              <td>
          <input type="text"
                 class="name_input"
                 name="dojo_name"
                 size="15"
                 value="<%=@dojo_name-%>" />
               </td>
               <td>and</td>
          <td>         
          <input type="submit"
                 class="main button"
                 name="start"
                 id="start_button"
                 value="Start Coding" />
          </td>
        </tr>
        <tr>
          <td></td>
          <td>or</td>
          <td>
          <input type="submit"
                 class="main button"
                 name="resume"
                 id="resume_button"
                 value="Resume Coding" />
          </td>
        </tr>
        <tr>
          <td></td>
          <td>or</td>
          <td>
          <input type="submit"
                 class="main button"
                 name="dashboard"
                 id="dashboard_button"
                 value="Show Dashboard" />
          </td>
        </tr>
        <tr>
          <td></td>
          <td>or</td>
          <td>
          <input type="submit"
                 class="main button"
                 name="messages"
                 id="messages_button"
                 value="Show Messages" />
          </td>
        </tr>
      </table>
                 
          <% if flash[:notice] -%>
            <div class="notice"><%= flash[:notice] -%></div>
          <% end -%>
        </form>
      </div>

    </td>
  </tr>

  <tr>
    <td align="center">
      <a href="http://jonjagger.blogspot.com/p/cyberdojo.html">CyberDojo</a> 
      <a href="http://www.virtualbox.org/">VirtualBox</a>      
      <a href="http://www.turnkeylinux.org/">TurnKey Linux</a>
      <a href="http://dl.dropbox.com/u/22404698/TurnKey-CyberDojo-20110610.ova/">image download</a>
    </td>
  </tr>
  
  <tr>
    <td align="center">
      <%= link_to 'Conceived', 
        { :controller => :dojo, :action => :conceived }
      -%>
      and implemented by 
      <a href="http://jonjagger.blogspot.com/">Jon Jagger</a>
    </td>
  </tr>
  
  <tr>
    <td align="center">
      <a href="https://github.com/JonJagger/cyberdojo">Gihthub source</a>
      
      <%= link_to 'Tips', 
        { :controller => :dojo, :action => :tips }
      -%>
      
      <%= link_to 'inFrequently Asked Questions', 
        { :controller => :dojo, :action => :ifaq }
      -%>
    </td>
  </tr>

  <tr>
    <td align="center">
      <a href="http://www.accu.org">
        <img src="/images/accu_button.gif" 
             style="border:none;" 
             width="100"
             height="50" 
             title="ACCU is an organisation of programmers who care about professionalism in programming and are dedicated to raising the standard of programming. "/>
      </a>
    </td>
  </tr>
  
  <tr>
    <td align="center">
      <a href="http://www.MasteringAgilePractice.com">http://www.MasteringAgilePractice.com</a> 
    </td>
  </tr>

</table>

