<%= render partial: 'custom' %>

<div id="home-page">

  <table>

    <tr class="align-right">
      <td colspan="3">
        <div id="cyber-dojo">
          <div id="home-page-logo">
            <%= raw home_page_logo(35) %>
          </div>
          cyber&#8209;dojo.org
        </div>
      </td>
    </tr>

    <tr class="align-right">
      <td rowspan="6" align="right">
        <%= render partial: 'donate' %>
        <%= render partial: 'accu' %>
      </td>
      <td colspan="2">
        <div id="the-place-to-practice-programming">
          the place to practice programming
        </div>
      </td>
    </tr>

    <tr class="align-right">
      <td colspan="3">
        <%= render partial: 'learn_more_button' %>
      </td>
    </tr>

    <tr class="align-right">
      <td class="button-info-td">
          choose a language<br/>
          + test + exercise<br/>
          to get your id
      </td>
      <td class="button-td">
        <%= render partial: 'create_button' %>
      </td>
    </tr>

    <tr class="align-right">
      <td class="enter button-info-td">
          type in your id<br/>
          on <em>each</em> computer
      </td>
      <td class="button-td">
        <%= render partial: 'enter_id' %>
      </td>
    </tr>

    <tr class="align-right">
      <td class="button-info-td">
        click enter on<br/>
        <em>each</em> computer<br/>
        and start coding
      </td>
      <td class="button-td">
        <%= render partial: 'enter_button' %>
      </td>
    </tr>

    <tr class="align-right">
      <td class="button-info-td">
        stop coding, open the dashboard and review everyone's code
      </td>
      <td class="button-td">
        <%= render partial: 'review_button' %>
      </td>
    </tr>

  </table>
</div>

<%= render partial: 'footer' %>
