
<script language="javascript" type="text/javascript"><!--

$(document).ready(function() {

  cd.run = function(method, func) {
    var id = $('#kata_id_input').attr('value');
    if ($.trim(id) !== '') {
      $.getJSON('/dojo/' + method, { id: id }, function(data) {
        func(id, data);
      });
    }
  };

  cd.registerCloseResumeDialog = function(resumer) {
    cd.closeResumeDialog = function() {
      resumer.dialog('close');
    };
  };
  
  var ua = $.browser;
  if (ua.msie && ua.version.slice(0,3) === "6.0") {
    cd.alert(
      "cyber-dojo",
      "Sorry, Internet Explorer 6.0 is not supported",
      "");
  }
  
});

//--></script>


<table align="center">
  <tr>
    <td>      
     <% size = 57 %>	  	
     <%= image_tag("/images/avatars/cyber-dojo.png",	  	
         :border => 0,	  	
         :size => "#{size}x#{size}",	  	
         :title => 'cyber-dojo') %>	  	
    </td>
    <td>
    </td>
    <td>
      <% size = 40 %>	  	
      <span style="font-size: 5em;">cyber-dojo</span>
    </td>
  </tr>
</table>

<div align="center" class="medium">
    a place to <a href="http://jonjagger.blogspot.co.uk/p/cyber-dojo_8.html">practice</a>
    programming
</div>

<div style="font-size: 1.5em;">
  <div class="row">
    <%= render :partial => 'row_setup' %>
  </div>
  <div class="row">
    <%= render :partial => 'row_enter_id' %>
  </div>
  <div class="row">
    <%= render :partial => 'row_code' %>
  </div>  
  <div class="row">
    <%= render :partial => 'row_donate' %>
  </div>
  <div class="row">
    <%= render :partial => 'row_buttons' %>
  </div>
</div>
