
<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {

  $cd.run = function(method, func) {
    var id = $j('#kata_id_input').attr('value');
    if ($j.trim(id) !== '') {
      $j.getJSON('/dojo/' + method, { id: id }, function(data) {
        func(id, data);
      });
    }
  };

  $cd.registerCloseResumeDialog = function(resumer) {
    $cd.closeResumeDialog = function() {
      resumer.dialog('close');
    };
  };
  
  $j('body').css('background', 'Cornsilk');
  
  var ua = $j.browser;
  if (ua.msie && ua.version.slice(0,3) === "6.0") {
    $cd.alert(
      "cyber-dojo",
      "Sorry, Internet Explorer 6.0 is not supported",
      "");
  }
  
});

//--></script>


<table align="center">
  <tr>
    <td>      
      <% size = 80 -%>
      <%= image_tag("/images/avatars/cyber-dojo.png",
          :border => 0,
          :size => "#{size}x#{size}",
          :title => 'cyber-dojo') -%>
    </td>
    <td>
      &nbsp;&nbsp;
    </td>
    <td>
      <div style="font-size: 4em;">cyber-dojo</div>                
    </td>
  </tr>
</table>

<h2>where software teams do <a href="http://jonjagger.blogspot.co.uk/p/cyber-dojo_8.html">deliberate practice</a></h2>      

<br/>

<table style="font-size: 1.5em;">
  <tr>
    <td class="thin panel">
      <%= render :partial => 'row_setup' -%>
    </td>
  </tr>

  <tr>
    <td class="thin panel">
      <%= render :partial => 'row_code' -%>
    </td>
  </tr>

  <tr>
    <td class="thin" align="center">
      <%= render :partial => 'row_donate' -%>
    </td>
  </tr>
        
  <tr>
    <td align="center">
      <%= render :partial => 'row_buttons' -%>
    </td>
  </tr>

</table>


