
<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {

  $cd.cantFind = function(title,id) {
    var html = "<div class='panel'><b>I cannot find a practice with an id of</b> <h3>" + id + "</h3></div>";
    var width = 500;
    $cd.dialog(html,width,'!'+title);
  };

  $cd.run = function(method, func) {
    var id = $j('#kata_id_input').attr('value');
    if ($j.trim(id) !== '') {
      $j.getJSON('/dojo/' + method, { id: id }, function(data) {
        func(id, data);
      });
    }
  };

  $cd.registerCloseResumeDialog = function(resumer) {
    $cd.closeResumeDialog = function() {
      resumer.dialog('close');
    };
  };
  
  $j('body').css('background', 'Cornsilk');
  
  var ua = $j.browser;
  if (ua.msie && ua.version.slice(0,3) === "6.0") {
    $cd.alert(
      "cyber-dojo",
      "Sorry, Internet Explorer 6.0 is not supported",
      "");
  }
  
});

//--></script>

<table align="center">
  <tr>
    <td>      
      <% size = 80 -%>
      <%= link_to image_tag("/images/avatars/cyber-dojo.png",
                                :border => 0,
                                :size => "#{size}x#{size}",
                                :title => 'cyber-dojo'),
                            {
                              :controller => :dojo,
                              :action => :index
                            } -%>
    </td>
    <td>
      &nbsp;&nbsp;
    </td>
    <td>
      <div style="font-size: 4em;">cyber-dojo</div>                
    </td>
  </tr>
</table>

<h2>where software teams do <a href="http://jonjagger.blogspot.co.uk/p/cyber-dojo_2380.html">deliberate practice</a></h2>      

<br/>

<table style="font-size: 1.5em;">
  <tr>
    <td class="panel">
      <%= render :partial => 'setup_button' -%>
      <span class="plain_text">
        a new coding-practice&hellip;
      </span>
    </td>
  </tr>

  <tr>
    <td class="panel">
      <span class="plain_text">
        &hellip;on <em>each</em> computer enter your coding-practice<br/>
      </span>
      <table>
        <tr>
         <td>
          <span class="plain_text">
            &nbsp;id
          </span>
            <input type="text"
                   id="kata_id_input"
                   size="15"
                   value="<%=@id-%>" />
          </td>
          <td align="right">
            <span class="plain_text">
              &nbsp;and&nbsp;
            </span>
          </td>
          <td>
            <%= render :partial => 'start_coding_button' -%>
          </td>
        </tr>
        <tr>
          <td>            
          </td>
          <td align="right">
            <span class="plain_text">
              or&nbsp;
            </span>
          </td>
          <td>
            <%= render :partial => 'resume_coding_button' -%>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td align="right">
            <span class="plain_text">            
              or&nbsp;
            </span>
          </td>
          <td>
            <%= render :partial => 'view_dashboard_button' -%>            
          </td>
        </tr>          
      </table>
    </td>
  </tr>

  <tr>
    <td class="panel">
      <%= render :partial => 'bottom_buttons' -%>
    </td>
  </tr>
    
  <tr>
    <td>
      <%= render :partial => 'donate' -%>
    </td>
  </tr>

</table>
