
<div id="home-page">

  <%= render partial: 'custom' %>

  <table class="align-right" cellpadding="0" cellspacing="0">

    <tr>
      <td colspan="2">
        <%= render partial: 'heading' %>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <%= render partial: 'the_place_to_practice_programming' %>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <%= render partial: 'create_button' %>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <%= render partial: 'enter_button' %>
      </td>
    </tr>

    <tr>
      <td rowspan="3">
        <%= render partial: 'shared/avatar_grid_colour' %>
      </td>
      <td>
        <%= render partial: 'licensing' %>
      </td>
    </tr>

    <tr>
      <td>
        <%= render partial: 'donate' %>
      </td>
    </tr>

    <tr>
      <td>
        <%= render partial: 'charity' %>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <div id="info">
          <div>
            built using
              <a href="https://www.docker.com/">Docker</a>,
              <a href="https://www.ruby-lang.org/en/">Ruby</a>,
              <a href="http://rubyonrails.org/">Rails</a>, and
              <a href="https://git-scm.com/">Git</a><span class="dot"></span>
          </div>
          <div>
            hosted on
              <a href="https://cloud.google.com/compute/">Google Compute Engine</a><span class="dot"></span>
          </div>
          <div>
            <a href="https://www.behance.net/NadyaSivers">Nadya Sivers</a>
            drew the animals<span class="dot"></span>
          </div>
          <div>
            open sourced on
            <a href="https://github.com/JonJagger/cyber-dojo">github</a><span class="dot"></span>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>

<%= render partial: 'shared/footer_short',
    locals: { help_url: "http://blog.cyber-dojo.org/p/learn-more.html" } %>
