
<script language="JavaScript"><!--
function select_avatar(name)
{
  document.getElementById("avatar").value = name;
  document.images['avatar_1'].src = '/images/avatars/' + name + '.jpg';
  document.images['avatar_2'].src = '/images/avatars/' + name + '.jpg';
}

function flip(name,src) 
{
    if (document.images)
        document.images[name].src = src;
}
//--></script>

<table>
  <tr>
    <td>
      <h1 class="title">Cyber Dojo</h1> 
    </td>
    <td>
      <a href="/dojo/help" target="_blank">Help</a>
    </td>
  </tr>
</table>

<% form_tag('/kata/start') do -%>

<noscript>
 &nbsp;
 <h2><b>Enable JavaScript.</b></h2>
 &nbsp;
</noscript>

<table cellspacing="4">

  <tr>
    <td class="dojo panel box">
      <% chunks = chunk_array(@avatars.sort, 4) -%>
      <table cellpadding="7">
      <% chunks.each do |chunk| -%>
        <tr>
        <% chunk.each do |avatar| -%>
           <td>
             <img alt="<%=avatar-%>" 
                  class="avatar box" 
                  src="/images/avatars/<%=avatar.downcase-%>.jpg"
                  title="<%=avatar-%>"
                  onClick='select_avatar("<%=avatar.downcase-%>");' />
           </td>
        <% end -%>
        </tr>
      <% end -%>
      </table>    
    </td>
  </tr>

  <tr>
    <td class="dojo panel box">
      1. Click your avatar
      <input readonly 
             type="hidden"
             name="avatar" 
             id="avatar" 
             type="text" 
             size="15" 
             value="">
      <img alt="" 
           name="avatar_1"
           src=""
           title="" />
      <img alt="" 
           name="avatar_2"
           src=""
           title="" />
    </td>
  </tr>

  <tr>  
    <td class="dojo panel box">
      2. Enter the <i>kata-id</i>
      <input name="kata_id" 
             id="kata_id" 
             type="text" 
             size="10" 
             value="<%=@kata_id-%>">
    </td>  
  </tr>

  <tr>  
    <td class="dojo panel box">
      3. Click <%= submit_tag 'start kata', :name => 'start' -%>
    </td>  
  </tr>

</table>

<% end -%> 


