
<div id="home-page">

  <%= render partial: 'custom' %>
  <%= render partial: 'globe' %>

  <table class="align-right">

    <tr>
      <td colspan="2">
        <%= render partial: 'shared/cyber_dojo_heading' %>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <%= render partial: 'shared/the_place_to_practice_programming' %>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <%= render partial: 'shared/learn_more_button' %>
      </td>
    </tr>

    <tr>
      <td class="align-right">
        <%= render partial: 'create_button' %>
      </td>
      <td class="button-td">
        <%= render partial: 'existing_button' %>
      </td>
    </tr>

    <tr>
      <td colspan="2">
      <%= render partial: 'licensing' %>
      </td>
    </tr>

    <tr>
      <td><%= render partial: 'donate' %></td>
      <td><%= render partial: 'charity' %></td>
    </tr>

  </table>
</div>


<%= render partial: 'footer' %>
