
<h1><b>CyberDojo</b></h1>

<h3>Create and configure a new CyberDojo</h3>

name?<br/>
use points-ladder? yes/no <br/>
use period-timer? yes/no, if so what period? default=5 mins, use bell? use text?<br/>

<table>
  <tr>
  <% @filesets.each do |name| -%>
  <td valign="top" class="panel">
    <b><%=name.capitalize-%></b><br/><br/>
    <div><input id="<%=name-%>"
                type="radio"
                name="fileset[<%=name-%>]"
                value="dont_use">Don't use</div>
                
   <br/>
   <div>Player chooses from list (below)...
      <div>
        <input id="<%=name-%>"
               type="radio"
               name="fileset[<%=name-%>]"
               value="alphabetical_listing">Sorted
      </div>                    
      <div>
        <input id="<%=name-%>"
               type="radio"
               name="fileset[<%=name-%>]"
               checked
               value="random_listing">Randomized
      </div>
   </div>  
   
    <br/>
    <div>Choose from list now...
      <% FileSet.new(name).choices.sort.each do |choice| -%>
        <div>
         <input id="<%=name-%>"
                type="radio"
                name="fileset[<%=name-%>]"
                value="<%=choice-%>"> <%=choice-%>  
       </div>
      <% end -%>
    </div>
    
  </td>
  <% end -%>
  </tr>
</table>





