 
<h1 align="center">CyberDojo: <%= @dojo.name -%></h1>

<% avatars = @dojo.avatars -%>
<% languages = avatars.collect { |avatar| avatar.kata.language }.uniq -%>
<% katas = avatars.collect { |avatar| avatar.kata.name }.uniq -%>

<h4 align="center">
  <% if languages.length == 1 -%> 
    <%= languages[0] -%>,
  <% end -%>
  <% if katas.length == 1 -%> 
    <%= katas[0] -%>, 
  <% end -%>
  <%= age_or_closed(@dojo) -%>
</h4>

<div>
<table>
  <% @dojo.avatars.each do |avatar| -%>
  <tr>
    <td>
      <%= avatar_image(avatar.name, 45) -%>
    </td>
    
    <td>
      <%= reenter_button(@dojo.name, avatar.name) -%>
    </td>
    
    <td>
      <% kata = avatar.kata -%>
      <div class='small_title'>
        <% if languages.length != 1 -%> <%= kata.language -%>, <% end -%> 
        <% if katas.length != 1 -%> <%= kata.name -%>, <% end -%>
        <%= pluralize(avatar.increments.length, 'increment') -%>
      </div>
    </td>    
  </tr>
  <% end -%>

</table>
</div>


