
<script language="javascript" type="text/javascript"><!--

function resume(avatar_name) {
  $cd.postTo('/kata/edit', {
    dojo_name: "<%=@dojo.name-%>",
    avatar: avatar_name
  }, '_blank');  
  $cd.closeResumeDialog();
  return false;
}

//--></script>

      <h1>Resume-Coding</h1>
<table align="center">
  <tr>
    <td>
      <% size = 60 -%>
      <%= link_to image_tag("/images/avatars/cyber-dojo.png",
          :border => 0, :size => "#{size}x#{size}", :title => 'Home page'),
            :controller => :dojo,
            :action => :index,
            :dojo_name => @dojo.name %>      
    </td>
    <td style="text-align: right;">
       <div>kata =</div>
       <div>language =</div>
       <div>exercise =</div>
    </td>
    <td style="text-align: left;">
       <div><%= elided_name(@dojo.name, 15) -%></div>
       <div><%= @dojo.language -%></div>
       <div><%= @dojo.kata_name -%></div>
    </td>
  </tr>
</table>


<div align="center">
  <table>
    <% index = 0 -%>
    <% size = 80 -%>
    <% (1..4).each do |_| -%>
    <tr>
      <% (1..4).each do |_| -%>
      <td class="panel">
        <% avatar_name = @all_avatar_names[index] -%>
        <% if @live_avatar_names.include?(avatar_name) -%>
          <input type='image'
                 onclick='return resume("<%=avatar_name-%>");'
                 class='avatar_image'
                 src="/images/avatars/<%=avatar_name-%>.jpg"
                 title="Resume <%=avatar_name.humanize-%>"
                 width="<%=size-%>"
                 height="<%=size-%>" />          
        <% else -%>
          <%= bw_avatar_image(avatar_name, size) -%>
        <% end -%>      
        <% index += 1 -%>
        <br/>
        <%= avatar_name -%>
      </td>
      <% end -%>     
    </tr>
    <% end -%>
  </table>
  <h3>Click your animal</h3>  
</div>
