 
<h1 align="center">CyberDojo: <%= @dojo.name -%></h1>

<h4 align="center">
  <% if @languages.length == 1 -%> 
    <%= @languages[0] -%>,
  <% end -%>
  <% if @katas.length == 1 -%> 
    <%= @katas[0] -%> 
  <% end -%>
</h4>

<table class="panel">
  <% @dojo.avatars.each do |avatar| -%>
  <tr>

    <td>
      <%= resume_button(@dojo.name, avatar.name) -%>
    </td>
    
    <td>
      <%= avatar_image(avatar.name, 45) -%>
    </td>
    
    <td>
      <span class="small_title"><%= avatar.name.capitalize -%></span>
      <% kata = avatar.kata -%>
      <% if @languages.length != 1 -%> <span class="small_title"><%= kata.language -%></span> <% end -%> 
      <% if @katas.length != 1 -%> <span class="small_title"><%= kata.name -%></span> <% end -%>
    </td>    
  </tr>
  <% end -%>

</table>


