 
<%= render :partial => 'banner' -%>
       
<table align="center" class="panel">
  <% @dojo.avatars.each do |avatar| -%>
  <tr>

    <td>
      <%= resume_button(@dojo.name, avatar.name) -%>
    </td>
    
    <td>
      <%= avatar_image(avatar.name, 45) -%>
    </td>
    
    <td>
      <% kata = avatar.kata -%>
      <span class="small_title"><%= avatar.name.humanize -%></span>
      <% if @languages.length != 1 -%> <span class="small_title"><%= kata.language -%></span> <% end -%> 
      <% if @katas.length != 1 -%> <span class="small_title"><%= kata.name -%></span> <% end -%>
    </td>    
  </tr>
  <% end -%>

</table>


