
<div align="center">
  <h2>your animal is the</h2>
  <% size = 120 %>
  <img class='avatar_image'
       src="/images/avatars/<%= @avatar_name %>.jpg"
       title="<%= @avatar_name.humanize %>"
       width="<%= size %>"
       height="<%= size %>" />          
  <div align="center">
    <h2><%= @avatar_name %></h2>
  </div>
</div>
