
<div align="center">
  <div class="medium"><%= t("views.labels.your_animal_is") %></div>
  <% size = 120 %>
  <img class='avatar_image'
       src="/images/avatars/<%= @avatar_name %>.jpg"
       title="<%= @avatar_name.humanize %>"
       width="<%= size %>"
       height="<%= size %>" />          
  <div align="center">
    <div class="medium"><%= @avatar_name %></div>
  </div>
</div>
