
<script language="javascript" type="text/javascript"><!--

$(document).ready(function() {

  cd.buildDiffFilenameHandlers(<%= @diffs.to_json.html_safe %>);
  
  var display = function(node, name, value) {
    if ($(node).attr('disabled') !== 'disabled') {
      $(name).css('display', value);
    }
  };
  var allLineCountButtons = $('.diff-deleted-line-count, .diff-added-line-count');
  var off = { 'disabled':true, 'title':'' }; 
  var disableAllLineCountButtons = function() {
    allLineCountButtons.attr(off);
  };

  $('.filename').click(function() {
    var tr = $(this).parent().parent();
    disableAllLineCountButtons();
    tr.find('.diff-deleted-line-count')
        .attr('disabled', false)
        .attr('title', 'Toggle deleted lines on/off');
    tr.find('.diff-added-line-count')
        .attr('disabled', false)
        .attr('title', 'Toggle added lines on/off');
  });

  $('.diff-deleted-line-count').toggle(
    function() { display(this, 'deleted', 'none' ); },
    function() { display(this, 'deleted', 'block'); }
  );
  $('.diff-added-line-count').toggle(
    function() { display(this, 'added', 'none' ); },
    function() { display(this, 'added', 'block'); }
  );
  
  disableAllLineCountButtons();
  $('#' + '<%= @current_filename_id %>').click();  
  $('input[type=radio]').hide();
  
});

//--></script>

<table cellpadding="0" cellspacing="0">
  <% @diffs.each do |file| %>
    <% n_deleted = file[:deleted_line_count] %>
    <% n_added   = file[:added_line_count]   %>
    <tr>
      <td align="left">        
        <div class="filename"
             id="<%= file[:id] %>" >
          <input id="radio_<%= file[:id] %>"
                 name="filename"
                 type="radio"
                 checked="checked"
                 value="<%= file[:name] %>"/>
          <label>
            <%= file[:name] %>
          </label>
        </div>
      </td>    
      <td align="right">
        <% if n_deleted > 0 %>
            <div class="diff-deleted-line-count button">
              <%= n_deleted %>
            </div>
            
        <% end %>
      </td>
      <td>
        &nbsp;
      </td>
      <td align="right">
        <% if n_added > 0 %>
          <div class="diff-added-line-count button">
            <%= n_added %>
          </div>
        <% end %> 
      </td>      
    </tr>
  <% end %>
</table>
