
<script type="text/javascript"><!--

(function($) {
  // http://stackoverflow.com/questions/4911577/jquery-click-toggle-between-two-functions
  // $(..).toggle() no longer exists in JQuery
  $.fn.clickToggle = function(func1, func2) {
    var funcs = [func1, func2];
    this.data('toggleclicked', 0);
    this.click(function() {
      var data = $(this).data();
      var tc = data.toggleclicked;
      $.proxy(funcs[tc], this)();
      data.toggleclicked = (tc + 1) % 2;
    });
    return this;
  };
}(jQuery));

$(document).ready(function() {
  
  cd.buildDiffFilenameHandlers(<%= @ids_and_section_counts.to_json.html_safe %>);
  
  var display = function(node, name, value) {
    if ($(node).attr('disabled') !== 'disabled') {
      $(name).css('display', value);
    }
  };
  var allLineCountButtons = $('.diff-deleted-line-count, .diff-added-line-count');
  var off = { 'disabled':true, 'title':'' }; 
  var disableAllLineCountButtons = function() {
    allLineCountButtons.attr(off);
  };

  $('.filename').click(function() {
    var tr = $(this).closest('tr');
    disableAllLineCountButtons();
    tr.find('.diff-deleted-line-count')
        .attr('disabled', false)
        .attr('title', 'Toggle deleted lines on/off');
    tr.find('.diff-added-line-count')
        .attr('disabled', false)
        .attr('title', 'Toggle added lines on/off');    
  });

  $('.diff-deleted-line-count').clickToggle(
    function() { display(this, 'deleted', 'none' ); },
    function() { display(this, 'deleted', 'block'); }    
  );

  $('.diff-added-line-count').clickToggle(
    function() { display(this, 'added', 'none' ); },
    function() { display(this, 'added', 'block'); }    
  );

  disableAllLineCountButtons();
  $('#radio_' + '<%= @current_filename_id %>').click();  
  
});

//--></script>

<table>
  <% @diffs.each do |diff| %>
    <tr>
      <td class="align-left">        
        <div class="filename"
             id="radio_<%= diff[:id] %>">
          <%= diff[:filename] %>
        </div>       
      </td>    
 
      <% n_deleted = diff[:deleted_line_count] %>
      <% if n_deleted > 0 %>
        <td class="align-right diff-deleted-line-count button">
            <%= n_deleted %>
        </td>            
      <% else %>
        <td class="align-right">
        </td>
      <% end %>
              
      <% n_added = diff[:added_line_count]   %>
      <% if n_added > 0 %>
        <td class="align-right diff-added-line-count button">
          <%= n_added %>
        </td>
      <% else %>
        <td class="align-right">
        </td>        
      <% end %>
      
    </tr>
  <% end %>
</table>
