
<table vertical-align="middle"
       cellpadding="0"
       cellspacing="0">
  <% @diffs.each do |file| -%>
    <% n_deleted = file[:deleted_line_count] -%>
    <% n_added   = file[:added_line_count]   -%>
    <tr>
      <td align="right">
        <%= diff_dots(n_deleted, 'deleted') -%>
      </td>      
      <td align="left">        
        <div class="filename"
             id="<%= file[:id] -%>"
             title="<%= diff_tip(n_deleted, n_added) -%>" >
          <input id="radio_<%=file[:id]-%>"
                 name="filename"
                 type="radio"
                 checked="checked"
                 value="<%=file[:name]-%>"/>
          <label><%=file[:name]-%></label>
        </div>
      </td>    
      <td align="left">
        <%= diff_dots(n_added, 'added') -%>
      </td>    
    </tr>
  <% end -%>
</table>


    
