
<script language="JavaScript"
        type="text/javascript"><!--

$(document).ready(function() {

  var minTag = <%= @min_tag %>;
  var wasTag = <%= @was_tag %>;
  var nowTag = <%= @now_tag %>;
  var maxTag = <%= @max_tag %>;
  
  var tagGap = nowTag - wasTag;
  
  var showDiff = function(wasTag, nowTag) {
	var currentFilename = $('input:radio[name=filename]:checked').val();  
    cd.postTo('/diff/show', {
      id: "<%= @kata.id %>",
      avatar: "<%= @avatar.name %>",
      was_tag: wasTag,
      now_tag: nowTag,
	  current_filename: currentFilename
    });
  };

  var toolTip = function(was, now) {
	if (was !== now) {
	  return 'Show diff ' + was + '->' + now;
	} else {
	  return 'Show ' + was;
	}
  };
  
  var tagEdit = function(event) {
    if (event.keyCode === $.ui.keyCode.ENTER) {
      var wasInput = $('#was_tag_number');
      var newWasTag = parseInt(wasInput.attr('value'), 10);
      var nowInput = $('#now_tag_number');
      var newNowTag = parseInt(nowInput.attr('value'), 10);
      
      if (isNaN(newWasTag) || newWasTag < minTag ||
          isNaN(newNowTag) || newNowTag > maxTag ||
		  newWasTag > newNowTag) {
			newWasTag = wasTag;
			newNowTag = nowTag;
      }
      if (newWasTag === wasTag && newNowTag === nowTag) {
        wasInput.attr('value', newWasTag);
		nowInput.attr('value', newNowTag);
      } else {
		showDiff(newWasTag, newNowTag);
      }
    }        
  };
  
  $('#was_tag_number').keyup(function(event) { tagEdit(event); });
  $('#now_tag_number').keyup(function(event) { tagEdit(event); });

  $('#was_tag_number').attr('value', wasTag);
  $('#now_tag_number').attr('value', nowTag); 
  
  var wasTagAtLimit = minTag >= wasTag;  
  $('#first_button').click(function() { showDiff(minTag, minTag + tagGap); });
  $('#prev_button' ).click(function() { showDiff(wasTag - 1, nowTag - 1); });
  $('#first_button').attr('disabled', wasTagAtLimit);
  $('#prev_button' ).attr('disabled', wasTagAtLimit);
  if (!wasTagAtLimit) {
    $('#first_button').attr('title', toolTip(minTag, minTag + tagGap));
    $('#prev_button' ).attr('title', toolTip(wasTag - 1, nowTag - 1));
  }  
  
  var nowTagAtLimit = nowTag >= maxTag;  
  $('#next_button' ).attr('disabled', nowTagAtLimit);
  $('#last_button' ).attr('disabled', nowTagAtLimit);  
  $('#next_button' ).click(function() { showDiff(wasTag + 1, nowTag + 1); });
  $('#last_button' ).click(function() { showDiff(maxTag - tagGap, maxTag); });    
  if (!nowTagAtLimit) {
    $('#next_button' ).attr('title', toolTip(wasTag + 1, nowTag + 1));
    $('#last_button' ).attr('title', toolTip(maxTag - tagGap, maxTag));	
  }

});

//--></script>

<table align="center" cellpadding="1" cellspacing="1">
  <tr>
    <td>
      <%= render :partial => 'triangle_button', :locals => { :name => 'first' } %>
    </td>                
    <td>
      <%= render :partial => 'triangle_button', :locals => { :name => 'prev' } %>
    </td>
    <td>
      &nbsp;
    </td>
    <td>
      <%= render :partial => 'triangle_button', :locals => { :name => 'next' } %>
    </td>
    <td>
      <%= render :partial => 'triangle_button', :locals => { :name => 'last' } %>
    </td>
  </tr>
</table>      


