
<script language="JavaScript"
        type="text/javascript"><!--

$(document).ready(function() {

  var minTag = 1;  
  var currentTag = <%= @traffic_lights_to_tag.length %>;
  var maxTag = <%= @all_traffic_lights.length %>;
  
  var showDiff = function(n) {
    if (n !== currentTag) {
      cd.postTo('/diff/show', {
	id: "<%= @kata.id %>",
	avatar: "<%= @avatar.name %>",
	tag: n
      });
    }
  };

  var tagNumber = function(event) {
    var CARRIAGE_RETURN = 13;
    if (event.keyCode === CARRIAGE_RETURN) {
      var input = $('#tag_number');
      var newTag = parseInt(input.attr('value'), 10);
      if (!isNaN(newTag)) {
	if (newTag < minTag) { newTag = minTag; }
	if (newTag > maxTag) { newTag = maxTag; }
	return newTag;
      } else {
	input.attr('value', currentTag);
      }
    }    
    return currentTag;
  };
  
  var gotoDiffTitle = function(name,n) {
    return 'Goto ' + name + ' diff (' + n + ')';  
  };
  
  $('#first_button').click(function()      { showDiff(minTag); });
  $('#prev_button' ).click(function()      { showDiff(currentTag-1); });
  $('#tag_number'  ).keyup(function(event) { showDiff(tagNumber(event)); });
  $('#next_button' ).click(function()      { showDiff(currentTag+1); });
  $('#last_button' ).click(function()      { showDiff(maxTag); });

  if (currentTag !== 1) {
    $('#first_button').attr('title', gotoDiffTitle('first',1));
    $('#prev_button' ).attr('title', gotoDiffTitle('previous', currentTag-1));  
  } else {
    $('#first_button').attr('disabled', true);
    $('#prev_button' ).attr('disabled', true);    
  }

  if (currentTag < maxTag) {
    $('#next_button').attr('title', gotoDiffTitle('next', currentTag+1));
    $('#last_button').attr('title', gotoDiffTitle('last', maxTag));
  } else {
    $('#next_button').attr('disabled', true);
    $('#last_button').attr('disabled', true);
  }

  $('#tag_number').attr('value', currentTag);
});

//--></script>

<table cellpadding="1" cellspacing="1">
  <tr>
    <td>
      <%= render :partial => 'triangle_button', :locals => { :name => 'first' } %>
    </td>                
    <td>
      <%= render :partial => 'triangle_button', :locals => { :name => 'prev' } %>
    </td>
    <td>
      <input type="text" id="tag_number" value="" />
    </td>   
    <td>
      <%= render :partial => 'triangle_button', :locals => { :name => 'next' } %>
    </td>
    <td>
      <%= render :partial => 'triangle_button', :locals => { :name => 'last' } %>
    </td>
  </tr>
</table>      
