
<script language="JavaScript"
        type="text/javascript"><!--

$(document).ready(function() {

  var minTag = <%= @min_tag %>;
  var wasTag = <%= @was_tag %>;
  var nowTag = <%= @now_tag %>;
  var maxTag = <%= @max_tag %>;
  
  var showDiff = function(was_tag, now_tag) {
    cd.postTo('/diff/show', {
      id: "<%= @kata.id %>",
      avatar: "<%= @avatar.name %>",
      was_tag: was_tag,
      now_tag: now_tag
    });
  };

  var gotoDiffTitle = function(name, n) {
    return 'Show ' + name + ' diff (' + (n-1) + '-' + n + ')';  
  };
  
  var tagEdit = function(event) {
    var CARRIAGE_RETURN = 13;      
    if (event.keyCode === CARRIAGE_RETURN) {
      var wasInput = $('#was_tag_number');
      var newWasTag = parseInt(wasInput.attr('value'), 10);
      var nowInput = $('#now_tag_number');
      var newNowTag = parseInt(nowInput.attr('value'), 10);
      
      if (isNaN(newWasTag) || newWasTag < minTag ||
          isNaN(newNowTag) || newNowTag > maxTag ||
		  newWasTag >= newNowTag) {
			newWasTag = wasTag;
			newNowTag = nowTag;
      }
      if (newWasTag === wasTag && newNowTag === nowTag) {
        wasInput.attr('value', newWasTag);
		nowInput.attr('value', newNowTag);
      } else {
		showDiff(newWasTag, newNowTag);
      }
    }        
  };
  
  $('#first_button').click(function()      { showDiff(minTag-1, minTag);   });
  $('#prev_button' ).click(function()      { showDiff(nowTag-2, nowTag-1); });
  
  $('#was_tag_number').keyup(function(event) { tagEdit(event); });
  $('#now_tag_number').keyup(function(event) { tagEdit(event); });
  
  $('#next_button' ).click(function()      { showDiff(nowTag, nowTag+1); });
  $('#last_button' ).click(function()      { showDiff(maxTag-1, maxTag); });

  if (wasTag < minTag) {
    $('#first_button').attr('disabled', true);
    $('#prev_button' ).attr('disabled', true);
  } else {
    $('#first_button').attr('title', gotoDiffTitle('first', 1));
    $('#prev_button' ).attr('title', gotoDiffTitle('previous', nowTag-1));  
  }

  if (nowTag >= maxTag) {
    $('#next_button').attr('disabled', true);
    $('#last_button').attr('disabled', true);
  } else {
    $('#next_button').attr('title', gotoDiffTitle('next', nowTag+1));
    $('#last_button').attr('title', gotoDiffTitle('last', maxTag));
  }

  $('#was_tag_number').attr('value', wasTag);
  $('#now_tag_number').attr('value', nowTag);
});

//--></script>

<table align="center" cellpadding="1" cellspacing="1">
  <tr>
    <td>
      <%= render :partial => 'triangle_button', :locals => { :name => 'first' } %>
    </td>                
    <td>
      <%= render :partial => 'triangle_button', :locals => { :name => 'prev' } %>
    </td>
    <td>
      &nbsp;
    </td>
    <td>
      <%= render :partial => 'triangle_button', :locals => { :name => 'next' } %>
    </td>
    <td>
      <%= render :partial => 'triangle_button', :locals => { :name => 'last' } %>
    </td>
  </tr>
</table>      


