
<script type="text/javascript"><!--

$(document).ready(function() {
  
  function dialog_fork(title, ok, cancel) {  
    var html = cd.divPanel(
        'Create a new cyber-dojo, with a new id, '
      + "with starting files copied from traffic-light <%= @now_tag %>.");
    var i18nButtons = { };
    i18nButtons[ok] = function() {
      cd.postTo('/forker/fork', {
        id: "<%= @kata.id %>",
        avatar: "<%= @avatar.name %>",
        tag: "<%= @now_tag %>"
      }, '_blank');
      $(this).dialog('close');    
    };
    i18nButtons[cancel] = function() {
      $(this).dialog('close');      
    };    
    return $('<div class="dialog">')
      .html(html)
      .dialog({
        autoOpen: false,
        width: 500,
        title: cd.dialogTitle(title),
        modal: true,
        buttons: i18nButtons
      });
  };
  
  $('#fork').click(function() {
    var title = $(this).text();
    var ok = $(this).data('ok');
    var cancel = $(this).data('cancel');
    dialog_fork(title, ok, cancel).dialog('open');
  });

});

//--></script>

<div class="button"
     title="Fork a new dojo from traffic-light <%= @now_tag %>"
     data-ok="<%= t('views.buttons.ok') %>"
     data-cancel="<%= t('views.buttons.cancel') %>"
     id="fork">
  <%= t("views.buttons.fork") %>
</div>

