
<script language="javascript" type="text/javascript"><!--

$(document).ready(function() {
  
  function dialog_fork() {  
    var html = cd.divPanel(
        'Click ok to create a new cyber-dojo, with a new id, '
      + "with starting files copied from traffic-light <%= @now_tag %>.");
      
    return $('<div class="dialog">')
      .html(html)
      .dialog({
        autoOpen: false,
        width: 500,
        title: cd.dialogTitle('fork'),
        modal: true,
        buttons: {
          ok: function() {
            cd.postTo('/forker/fork', {
              id: "<%= @kata.id %>",
              avatar: "<%= @avatar.name %>",
              tag: "<%= @now_tag %>"
            }, '_blank');
            $(this).dialog('close');
          },
          cancel: function() {
            $(this).dialog('close');
          }
        }
      });
  };
  
  $('#fork').click(function() {
    dialog_fork().dialog('open');
  });

});

//--></script>

<div class="button"
     title="Fork a new dojo from traffic-light <%= @now_tag %>"
     id="fork">
  fork
</div>

