
<% tag_number = @traffic_lights_to_tag.length -%>

<table align="center">
  <tr>
    <td align="center">
      <%= render :partial => 'shared/yin_yang' -%>
      <br/>
      <%= render :partial => 'shared/id' -%>      
    </td>
    <td align="center">
      <%= render :partial => 'shared/avatar_image' -%>
      <%= render :partial => 'shared/avatar_name' -%>
    </td>
    <td>
      &nbsp;
    </td>
    <td>
      <% if tag_number != 0-%>
        <%= unlinked_traffic_light(@traffic_lights_to_tag.last) -%>
      <% end -%>
    </td>
  </tr>
</table>

