
<% tag_number = @traffic_lights_to_tag.length -%>

<table>
  <tr>
    <td>
      <% size = 40 -%>
      <%= link_to image_tag("/images/avatars/cyber-dojo.png",
          :border => 0, :size => "#{size}x#{size}", :title => 'Home page'),
            :controller => :dojo,
            :action => :index,
            :dojo_name => @dojo.name %>
    </td>
    
    <td>
       <%= elided_name(@dojo.name, 20) -%>
    </td>
    
    <td>
      <%= avatar_image(@avatar.name, size) -%>
    </td>
    <td>
      <%= @avatar.name.humanize -%>
    </td>
    <td>
      <% if tag_number != 0-%>
        <%= unlinked_traffic_light(@traffic_lights_to_tag.last) -%>
      <% end -%>
    </td>
  </tr>
</table>

