
<% @diffs.each do |diff| %>
  <% filename = diff[:filename] %>

  <div class="filename_div"
       id="<%= filename %>_div">
    <table class="edgeless panel">
      <tr>
        <td>
          <div id="<%= filename %>_line_numbers" class="diff_line_numbers align-right">
            <%= raw diff[:line_numbers] %>
          </div>
        </td>
        <td>
          <div class="diff_sheet"
               id="file_content_for_<%= filename %>">
            <%= raw diff[:content] %>
          </div>
        </td>
      </tr>
    </table>
    <div class="panel"></div>      
  </div>
  
<% end %>  
