
<%= render :partial => 'heartbeat' %>

<span id="navigate_button_handlers">
  <%= render :partial => 'navigate_button_handlers' %>
</span>

<table align="center">
  <tr>
    <td>
      <%= render :partial => 'triangle_button', :locals => { :name => 'first' } %>
    </td>                
    <td>
      <%= render :partial => 'triangle_button', :locals => { :name => 'prev' } %>
    </td>
    <td>
      &nbsp;
    </td>
    <td>
      <%= render :partial => 'triangle_button', :locals => { :name => 'next' } %>
    </td>
    <td>
      <%= render :partial => 'triangle_button', :locals => { :name => 'last' } %>
    </td>
  </tr>
</table>      



