
<script language="JavaScript"
        type="text/javascript"><!--

$(document).ready(function() {

  var refreshNextLastButtons = function() {
    $.ajax({
      url: "<%= url_for :action => 'heartbeat' %>",
      data: {
        id: "<%= @kata.id %>",
        avatar: "<%= @avatar.name %>",
        was_tag: "<%= @was_tag %>",
        now_tag: "<%= @now_tag %>"
      },
      dataType: "script"
    });
  };
  var seconds = 1000;    
  setInterval(refreshNextLastButtons, 10*seconds);

});

//--></script>

<span id="navigate_handlers">
  <%= render :partial => 'navigate_handlers' %>
</span>

<table align="center" cellpadding="1" cellspacing="1">
  <tr>
    <td>
      <%= render :partial => 'triangle_button', :locals => { :name => 'first' } %>
    </td>                
    <td>
      <%= render :partial => 'triangle_button', :locals => { :name => 'prev' } %>
    </td>
    <td>
      &nbsp;
    </td>
    <td>
      <%= render :partial => 'triangle_button', :locals => { :name => 'next' } %>
    </td>
    <td>
      <%= render :partial => 'triangle_button', :locals => { :name => 'last' } %>
    </td>
  </tr>
</table>      



