
<script language="JavaScript"
        type="text/javascript"><!--

$j(document).ready(function() {
  $j('#tag_number').keyup(function(event) {
    tagNumber(event);
  });
});

var id = "<%=@kata.id-%>";
var avatar_name = "<%=@avatar.name-%>";
var tag = "<%=@traffic_lights_to_tag.length-%>";  

function rePost() {
  $cd.postTo('/diff/show', {
    id: id,
    avatar: avatar_name,
    tag: tag
  });
}

var min_tag = 0;
var max_tag = "<%=@all_traffic_lights.length-%>";

function tagNumber(event)
{
  event.preventDefault();  
  if (event.keyCode == 13) {
    var input = $j('#tag_number');
    var newValue = parseInt(input.attr('value'));
    if (!isNaN(newValue)) {
      tag = newValue;
      if (tag < min_tag) tag = min_tag;
      if (tag > max_tag) tag = max_tag;
      rePost();
    } else {
      input.attr('value', tag);
    }
  }
}

//--></script>

<% tag_number = @traffic_lights_to_tag.length -%>

<table align="center">
  <tr>
  
    <td>
      <span class="tag_number">
        <% if tag_number == 0 -%>
	  0
	<% else -%>
	  <%= link_to 0, 
	  { :controller => :diff, 
	    :action => :show,
	    :id => @kata.id,
	    :avatar => @avatar.name,
	    :tag => 0 
	  } -%>
        <% end -%>
      </span>
    </td>                
    
    <td>
      <%= render :partial => 'prev_button' -%>
    </td>
    
    <td>
      <input type="text"
 	     size="3"
	     id="tag_number"
	     name="tag_number"
	     value="<%=tag_number-%>" />
    </td>   
        
    <td>
      <%= render :partial => 'next_button' -%>                      
    </td>
    
    <td>
      <span class="tag_number">
        <% if tag_number < @all_traffic_lights.length -%>
	  <%= link_to @all_traffic_lights.length, 
	  { :controller => :diff, 
	    :action => :show,
	    :id => @kata.id,
	    :avatar => @avatar.name,
	    :tag => @all_traffic_lights.length 
	  } -%>
	<% else -%>
	  <%= tag_number -%>
        <% end -%>
      </span>
    </td>                
    
  </tr>
</table>      
