
<table class="align-center" class="valign-center">
  <% width = 16 %>
  <% height = width*3 %>
  <tr>
    <td>
      <%= unlinked_traffic_light(@was_traffic_light,width,height) %>
    </td>
    <td>
      <input type="text" id="was_tag_number" value="<%= @was_tag %>" />
    </td>
    <td>
      <%= link_to avatar_image(@avatar.name, 42, "Open a new dashboard page"),
          {
            :controller => :dashboard,
            :action => :show,
            :id => @kata.id 
          },
          :target => defined?(target) ? target : ""
      %>
      
    </td>
    <td>
      <input type="text" id="now_tag_number" value="<%= @now_tag %>" />
    </td>
    <td>
      <%= unlinked_traffic_light(@now_traffic_light,width,height) %>
    </td>
  </tr>
</table>      




