
<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {
  $cd.buildDiffFilenames(<%= @diffs.to_json.html_safe -%>);
  $j('#' + '<%=@current_filename_id-%>').click();
  
  $j('#create_a_kata_from_here').click(function() {
      $cd.postTo('/dojo/diff_save', {
        id: "<%= @kata.id -%>",
        avatar: "<%= @avatar.name -%>",
        tag: "<%= @traffic_lights_to_tag.length -%>"
      }, '_blank');
    });
  $j('input[type=radio]').hide();
});

//--></script>

<table>
  <tr valign="top">
    <td>
      <div class="panel">
        <%= render :partial => 'info' -%>
      </div> 
      <div class="panel">
        <%= render :partial => 'prev_next' -%>
      </div>      
      <div class="panel">
        <%= render :partial => 'filenames' -%>
      </div>
      <div class="panel">                
          <table><tr><td>
            <div id="create_a_kata_from_here"
                  class="medium button">
              create a new<br/>
              cyber-dojo<br/>
              from these files
            </div>
            </td></tr></table>
      </div>
      <div class="panel">        
        <%= render :partial => 'shared/feedback' -%><br/>
      </div>
    </td>    
    <td>
      <%= render :partial => 'view' -%>
    </td>
  </tr>
</table>

