
<table cellpadding="0" cellspacing="0">
  <tr valign="top">
    <td>
      <div class="panel">
        <%= render :partial => 'info' -%>
      </div> 
      <div class="panel">
        <%= render :partial => 'prev_next' -%>
      </div>      
      <div class="panel">
        <%= render :partial => 'filenames' -%>
      </div>
      <div class="panel">
          <table>
            <tr>
              <td>
                <%= render :partial => 'shared/raspberry_pi_logo' -%>
              </td>
              <td>
                <%= render :partial => 'shared/feedback_button' -%><br/>
                <%= render :partial => 'shared/donate_button' -%><br/>
              </td>
            </tr>
          </table>        
      </div>
      <div class="panel">
        <%= render :partial => 'fork_button' -%>        
      </div>
    </td>    
    <td>
      <%= render :partial => 'view' -%>
    </td>
  </tr>
</table>

