
<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {
  $cd.buildDiffFilenames(<%= @diffs.to_json -%>);
  $j('#' + '<%=@current_filename_id-%>').click();
});

//--></script>

<table>
  <tr valign="top">
    <td>
      <div class="panel">
        <%= render :partial => 'info' -%>
      </div> 
      <div class="panel">
        <%= render :partial => 'prev_next' -%>
      </div>      
      <div class="panel">
        <%= render :partial => 'filenames' -%>
      </div>
      <div class="info panel">
        <br/>
        <%= render :partial => 'shared/info' -%>
      </div>
    </td>    
    <td>
      <%= render :partial => 'view' -%>
    </td>
  </tr>
</table>

