        
<table>
  <tr class="valign-top">
    <td>
      <div class="panel">
        <%= render :partial => 'info' %>
      </div>
      <div class="panel">
        <%= render :partial => 'shared/info' %>          
      </div>      
      <div class="panel">
        <%= render :partial => 'was_now_traffic_lights' %>
        <%= render :partial => 'navigate_buttons' %>
      </div> 
      <div class="panel">
        <%= render :partial => 'filenames' %>
      </div>
      <div class="panel">
        <br/>
        <%= render :partial => 'fork_button' %>
      </div>
    </td>    
    <td>
      <%= render :partial => 'lined_diff' %>
    </td>
  </tr>
</table>
