        
<table cellpadding="0" cellspacing="0">
  <tr valign="top">
    <td>
      <div class="panel">
        <%= render :partial => 'info' %>
      </div> 
      <div class="panel">
        <%= render :partial => 'first_prev_next_last' %>
        <br/>
        <%= render :partial => 'filenames' %>
      </div>
      <div class="panel">
        <%= render :partial => 'fork_button' %>
        <br/>        
        <%= render :partial => 'shared/donate_button' %>
        <br/>
        <%= render :partial => 'shared/feedback_button' %>
      </div>
    </td>    
    <td>
      <%= render :partial => 'view' %>
    </td>
  </tr>
</table>

