
<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {
  build_diff_filenames(<%= @diffs.to_json -%>);
  jq("<%=@current_file-%>").click();
});

//--></script>

<table>
  <tr valign="top">
    <td>
      <div class="panel">
        <%= render :partial => 'kata/info' -%>
      </div>
      
      <div class="panel">
        <%= render :partial => 'filenames' -%>
      </div>

      <div class="panel">
        <%= render :partial => 'prev_next' -%>
      </div>
      
    </td>
    
    <td>
      <div style="width:42em;">
        <%= render :partial => 'view' -%>
        <%= render :partial => 'output' -%>
      </div>
    </td>
  </tr>

</table>

