
<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {
  rebuildFilenameList();
  createLineNumbersForEditor();
  loadFile("<%=@current_file-%>");
});

//--></script>

<table>
  <tr valign="top">
    <td>
      <div class="panel">
        <%= render :partial => 'info' -%>
      </div>
      
      <div class="panel">
        <%= render :partial => 'prev_next' -%>
      </div>
      
      <div class="panel">
        <%= render :partial => 'filenames' -%>
      </div>
      
    </td>
    
    <td>
      <div style="width:42em;">
        <%= render :partial => 'editor' -%>
        <%= render :partial => 'output' -%>
      </div>
    </td>
  </tr>

</table>

<%= render :partial => 'hidden_file_contents' -%>

  

