
<script language="JavaScript"><!--
function select_avatar(name)
{
  $('avatar_name').value = name;
  document.chooseAvatar.submit();
}
//--></script>

<form name="chooseAvatar" action="/kata/index">

<noscript>
  &nbsp;
  <h2><b>You must enable JavaScript.</b></h2>
  &nbsp;
</noscript>

<input readonly 
       type="hidden"
       name="dojo_name" 
       id="dojo_name" 
       type="text" 
       value="<%=h @dojo.name-%>">

<input readonly 
       type="hidden"
       name="avatar_name" 
       id="avatar_name" 
       type="text" 
       size="15" 
       value="">

<h1><b><%= @dojo.name -%></b></h1>

<table class="rounded panel" >
  <tr>
    <td>
      <% chunks = chunk_array(@avatars.sort, 4) -%>
      <table>
        <% chunks.each do |chunk| -%>
        <tr>
        <% chunk.each do |avatar| -%>
           <td>
             <div id="avatar_pair">
               <img alt="<%=avatar-%>" 
                    src="/images/avatars/<%=avatar.downcase-%>.jpg"
                    title="<%=avatar.humanize-%>"
                    onClick='select_avatar("<%=avatar.downcase-%>");' />
               <img alt="<%=avatar-%>" 
                    src="/images/avatars/<%=avatar.downcase-%>.jpg"
                    title="<%=avatar.humanize-%>"
                    onClick='select_avatar("<%=avatar.downcase-%>");' />
             </div>
           </td>
        <% end -%>
        </tr>
      <% end -%>
      </table>    
    </td>
  </tr>
</table>

<h2><i>Please click your laptop avatar...</i></h2>

</form>


