
<div id="home-page">

<table>
  <% @finished.each do |kata| %>
    <tr>
        <td><a href="/dashboard/show/<%= kata.id %>"><%= kata.id %></a></td>
        <td><%= kata.language.name %></td>
        <td><%= kata.exercise.name %></td>
        <td>#animals<%= kata.avatars.active.count %></td>
        <td>#traffic-light
            <%= kata.avatars.active.each.map {|avatar|
                avatar.lights.count
            }.reduce(:+) %>
        </td>
    </tr>
  <% end %>
</table>

</div>

<%= render :partial => 'shared/footer' %>
