
<div id="footer">
    <table>
        <tr>
            <td>
                <%= render partial: 'shared/help_link', locals: { help_url: help_url } %>
            </td>
            <td>
                <%= render partial: 'shared/bullet' %>
            </td>
            <td>
                <%= render partial: 'shared/tweet' %>
            </td>
            <td>
                <%= render partial: 'shared/bullet' %>
            </td>
            <td>
                <%= render partial: 'shared/info' %>
            </td>
        </tr>
    </table>
</div>
