
<div id="footer">
    <table>
        <tr>
            <td>
                <%= render :partial => 'shared/info' %>
            </td>
            <td>
                <%= render :partial => 'shared/bullet' %>
            </td>
            <td>
                <%= render :partial => 'shared/terms_and_conditions' %>
            </td>
            <td>
                <%= render :partial => 'shared/bullet' %>
            </td>
            <td>
            <%= render :partial => 'shared/tweet' %>
            </td>
        </tr>
    </table>
</div>
