
<script type="text/javascript"><!--

$(document).ready(function() {

  $('#id').click(function() {
  
    var timeString = function() {
      var hourMinute = "<%= @kata.created.strftime("%I:%M") %>";
      var day = <%= @kata.created.day %>;
      var month = "<%= translate_month_kata_created(@kata) %>";
      var year = "<%= @kata.created.strftime("%Y") %>";
      return year + ' ' + month + ' ' + day + ' ' + hourMinute;
    };
  
    var info = {
        "language" : "<%= @kata.language.name %>",
       "unit-test" : "<%= @kata.language.unit_test_framework %>",
        "exercise" : "<%= @kata.exercise.name %>".replace('_',' '),
         "created" : timeString(),
    };
    
    cd.dialog_id("<%= @kata.id %>", info).dialog('open');
  });

});

//--></script>

<div class="button"
     title="Show dojo info"
     id="id">
  <%= @kata.id[0..5] %>
</div>