
<script language="javascript" type="text/javascript"><!--

$(document).ready(function() {

  $('#id').click(function() {
  
    var daySuffix = function(day) {
      if (Math.floor(day / 10) === 1) {
        return "th";
      } else {
        switch (day % 10) {
          case 1 : return "st";
          case 2 : return "nd";
          case 3 : return "rd";
          default: return "th";
        }
      }
    };

    var timeString = function() {
      var hourMinute = "<%= @kata.created.strftime("%I:%M%P") %>";
      var dayName = "<%= @kata.created.strftime("%a") %>";
      var day = <%= @kata.created.day %>;
      var monthYear = "<%= @kata.created.strftime("%b %Y") %>";
      return hourMinute + ' '
           + dayName + ' '
           + day + '<sup>' + daySuffix(day) + '</sup>' + ' '
           + monthYear;
    };
  
    var info = {
        "language" : "<%= @kata.language.name %>",
       "unit-test" : "<%= @kata.language.unit_test_framework %>",
        "exercise" : "<%= @kata.exercise.name %>".replace('_',' '),
         "created" : timeString(),
    };
    
    cd.dialog_id("<%= @kata.id %>", info).dialog('open');
  });

});

//--></script>

<div type="button"
     class="button"
     title="Show dojo info"
     id="id">
  <%= @kata.id[0..5] %>
</div>