
<div>

  <span title="this dojo's unique id is <%= @kata.id.to_s[0..5] %>">
  <%= @kata.id.to_s[0..5] %></span>,
  <span title="this dojo's (language + test framework) is <%= @kata.language.display_name %>">
    <%= @kata.language.display_name %></span>,
  <span title="this dojo's exercise is <%= @kata.exercise.name.gsub('_',' ') %>">
    <%= @kata.exercise.name.gsub('_',' ') %></span>

</div>
