
<table id="shared-info">
  <tr>
    <td>
      <%= render :partial => 'shared/logo' %>
    </td>
    <td>
      <div class="tipped table-row">
        <%= @kata.id.to_s[0..5] %>
        <div class="tooltip">
          this dojo's<br>unique id
        </div>
      </div>
      <div class="tipped table-row">
        <%= @kata.language.display_name %>
        <div class="tooltip">
          this dojo's<br>language
        </div>
      </div>
      <div class="tipped table-row">
        <%= @kata.language.display_test_name %>
        <div class="tooltip">
          this dojo's<br>unit test framework
        </div>
      </div>
      <div class="tipped table-row">
        <%= @kata.exercise.name.sub('_',' ') %>
        <div class="tooltip">
          this dojo's<br>chosen exercise
        </div>
      </div>
    </td>
  </tr>
</table>
