
<span title="language: <%=@kata.language.name-%>">
<%= @kata.language.name -%></span><br/>
<span title="exercise: <%=@kata.exercise.name-%>">
<%= @kata.exercise.name -%></span><br/>
<span title="id: <%=@kata.id-%>">
  <%= @kata.id -%>
</span><br/>
<% if @kata.diff -%>
<a href="/diff/show/<%=@kata.diff.id-%>?avatar=<%=@kata.diff.avatar-%>&tag=<%=@kata.diff.tag-%>"
   title="This coding-practice was forked from a traffic-light diff"
   target="_blank">
<%= @kata.diff.id -%>-<%= @kata.diff.avatar -%>-<%= @kata.diff.tag -%>
</a>
<% end -%>
