
<% tag_number = @traffic_lights_to_tag.length -%>

<table>
  <tr>
  
    <% if tag_number != 0 -%>
    <td>
      <span class="traffic_light_number"
        <%= link_to 0, 
        { :controller => :kata, 
          :action => :review,
          :dojo_name => @dojo.name,
          :avatar => @avatar.name,
          :tag => 0 
        } -%>
      </span>
    </td>                
    <% end -%>
    
    <td>
      <%= render :partial => 'kata/diff/prev_traffic_light_button' -%>
    </td>
    
    <td>
      <% if tag_number != 0-%>
        <%= unlinked_traffic_light(@traffic_lights_to_tag.last) -%>
      <% end -%>
    </td>
    
    <td>
      <span class="traffic_light_number">
         <%= tag_number -%>
      </span>
    </td>   
    
    <td>
      <%= render :partial => 'kata/diff/next_traffic_light_button' -%>                      
    </td>
    
    <% if tag_number < @all_traffic_lights.length -%>
    <td>
      <span class="traffic_light_number"
        <%= link_to @all_traffic_lights.length, 
        { :controller => :kata, 
          :action => :review,
          :dojo_name => @dojo.name,
          :avatar => @avatar.name,
          :tag => @all_traffic_lights.length 
        } -%>
      </span>
    </td>                
    <% end -%>
    
  </tr>
</table>      
    

