
<div style="display:none"
     id="visible_files_container">
     
  <% @diffed_files.each do |filename,diff| -%>
    <% html = html_sameify(diff) -%>
    
    <div name="file_content['<%=filename-%>']"
         id="file_content_for_<%=filename-%>"><%=html-%></div>
    
    <div name="file_caret_pos['<%=filename-%>']"
         id="file_caret_pos_for_<%=filename-%>">
      0
    </div>
           
    <div name="file_scroll_top['<%=filename-%>']"
         id="file_scroll_top_for_<%=filename-%>">
      0
    </div>
    
    <div name="file_scroll_left['<%=filename-%>']"
         id="file_scroll_left_for_<%=filename-%>">
      0
    </div>
        
  <% end -%>
</div>

