
<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {
  rebuildDiffFilenameList();
  //createLineNumbersForEditor();
  //loadFile("<%=@current_file-%>");
});

function rebuildDiffFilenameList() 
{
  var filenames = allDiffFilenames();
  sortFilenames(filenames);

  var filename_list = $('filename_list');
  // Remove all children
  while (filename_list.childNodes.length >= 1) 
  {
     filename_list.removeChild(filename_list.firstChild);
  } 

  // Add new children
  for (var at = 0; at < filenames.length; at++) 
  {
    filename_list.appendChild(makeDiffFileListEntry(filenames[at]));
  }
}

function makeDiffFileListEntry(filename) 
{
  var div = new Element('div', { 'class':'mid_tone filename' });
  div.onclick = function() { 
    saveCurrentDiffFile();
    loadDiffFile(filename);
  };
  var inp = new Element('input', 
    { id:'radio_' + filename, 
      name:'filename', 
      type:'radio', 
      value:filename 
    });
  div.appendChild(inp);
  div.appendChild(document.createTextNode(filename));
  return div;
}

function allDiffFilenames() 
{
  var prefix = 'file_content_for_';
  filenames = []
  var all = $$('div[id^="' + prefix + '"]');
  for(var at = 0; at < all.length; at++) 
  {
    var att = all[at].getAttribute('id');
    var filename = att.substr(prefix.length, att.length - prefix.length);
    filenames.push(filename);
  }
  return filenames;
}

function saveCurrentDiffFile() 
{
  if (current_filename) 
  {
    var diff_view = $j('#diff_sheet');    
    fileCaretPos(current_filename).setAttribute('value', diff_view.caretPos());
    fileScrollLeft(current_filename).setAttribute('value', diff_view.scrollLeft());
    fileScrollTop(current_filename).setAttribute('value', diff_view.scrollTop());
  }
}

function loadDiffFile(filename) 
{
  var caret_pos = fileCaretPos(filename).getAttribute('value');
  var scroll_top  = fileScrollTop(filename).getAttribute('value');
  var scroll_left = fileScrollLeft(filename).getAttribute('value');
  
  var diff = fileContent(filename).innerHTML;

  var diff_sheet = $j('#diff_sheet');
  
  diff_sheet.html(diff);
  
  diff_sheet.caretPos(caret_pos);
  diff_sheet
    .scrollTop(scroll_top)
    .scrollLeft(scroll_left);
  
  selectFileInDiffFileList(filename);
}

function selectFileInDiffFileList(filename) 
{
  $('radio_' + filename).checked = true;
  $('current_filename').setAttribute('value', filename);
  current_filename = filename;  
}


//--></script>

<table>
  <tr valign="top">
    <td>
      <div class="panel">
        <%= render :partial => 'kata/info' -%>
      </div>
      
      <div class="panel">
        <%= render :partial => 'filenames' -%>
      </div>

      <div class="panel">
        <%= render :partial => 'prev_next' -%>
      </div>
            
    </td>
    
    <td>
      <div style="width:42em;">
        <%= render :partial => 'view' -%>
        <%= render :partial => 'output' -%>
      </div>
    </td>
  </tr>

</table>

<%= render :partial => 'hidden_file_diffs' -%>

  

