      
<td>
  &nbsp;&nbsp;Language<b>?</b>
  <% @languages.each_with_index do |language,index| -%>
    <div class="mid_tone fileset" 
         onclick='selectLanguage("<%=language-%>", <%=index-%>);' >
      <input id="language_<%=index-%>" 
             type="radio" 
             name="language"
             <% if language==@current_language -%>
             checked="checked"
             <% end -%>
             value="<%=language-%>" />
      <label><%= language -%></label>
    </div>
   <% end -%>
</td>
