
<script language="JavaScript"
        type="text/javascript"><!--

$j(document).ready(function() {
  $j('#dojo_name').keyup(function() {
    setSaveButtonState();
  });
});

function setSaveButtonState() {
  $j('#save_button').attr("disabled", dojoName() === "");
}

function dojoName() {
  return trim($j('#dojo_name').val());
}

var currentLanguage = "<%=@current_language-%>";
var currentKata = "<%=@current_kata-%>";
var currentFilename = "<%=@current_filename-%>"

function rePost() {
  postTo('choose_name_language_kata', {
    current_language: currentLanguage,
    current_kata: currentKata,
    current_filename: currentFilename
  });
}

function selectFilename(index) {
  var radio = $j('#file_' + index);
  radio.attr("checked", true);
  var content = $j('#file_content_' + index).attr("value");
  $j('#editor_without_line_numbers').val(content);
  currentFilename = radio.attr('value');
}

function selectLanguage(language, index) {
  var radio = $j('#language_' + index);
  radio.attr("checked", true);
  currentLanguage = radio.attr('value');
  rePost();  
}

function selectKata(kata, index) {
  var radio = $j('#kata_' + index);
  radio.attr("checked", true);
  currentKata = radio.attr('value');
  rePost();
}

//--></script>

<%= render :partial => 'dojo/title',
           :locals => { :title => 'Configure Your Dojo' } -%>

<table>
  <tr>
    <td class="panel">
      <%= render :partial => 'name_save' -%>
    </td>
    <td rowspan="2" class="panel">
      <%= render :partial => 'files' -%>
    </td>
  </tr>
  <tr>
    <td class="panel">
      <table>
        <tr valign="top">
          <td>
            <%= render :partial => 'language' -%>
          </td>
          <td>
            <%= render :partial => 'kata' -%>
          </td>
        </tr>
      </table>
    </td>
  </tr>  
</table>

