
<div>
  <div class="align-center small">
  <% if @started_avatar_names.size == 0 %>
    no one has entered yet!
  <% else %>
    click the animal
  <% end %>
  </div>
  <table class="align-center">
    <% started_count = 0 %>
    <% index = 0 %>
    <% size = 50 %>
    <% (1..8).each do %>
    <tr>
      <% (1..8).each do %>
      <td>
        <% avatar_name = @all_avatar_names[index] %>
        <% if @started_avatar_names.include?(avatar_name) %>
          <% started_count += 1 %>
          <img onclick='return cd.reEnter("<%= @id %>","<%= avatar_name %>");'
               src="/images/avatars/<%= avatar_name %>.jpg"
               style="display:block"
               title="<%= avatar_name %>"
               width="<%= size %>"
               height="<%= size %>"
               data-cursor="pointer"/>
        <% else %>
          <img src="/images/avatars/bw/<%= avatar_name %>.jpg"
               style="display:block"
               width="<%= size %>"
               height="<%= size %>"/>
        <% end %>
        <% index += 1 %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>
