
<div id="enter-page">
  <table class="align-right">
    <tr>
      <th>
        <div id="join-a-prepared-practice">
          join&nbsp;a&nbsp;prepared&nbsp;practice
        </div>
      </th>
    </tr>
    <tr>
      <td id="enter-id-prompt">enter it's id</td>
    </tr>
    <tr>
      <td><%= render partial: 'enter_id' %></td>
    </tr>
    <tr>
      <td><%= render partial: 'join_button' %></td>
    </tr>
    <tr>
      <td><%= render partial: 're_join_button' %></td>
    </tr>
    <tr>
      <td><%= render partial: 'review_button' %></td>
    </tr>
  </table>
</div>

<%= render partial: 'shared/footer_short',
    locals: { help_url: "http://blog.cyber-dojo.org/p/learn-more.html" } %>
