
<div id="enter-page">
  <table class="align-right">
    <tr>
      <th colspan="2">
        <div id="enter-your-practice-session">
          enter&nbsp;a&nbsp;practice&nbsp;session
        </div>
      </th>
    </tr>
    <tr>
      <td></td>
      <td id="enter-id-prompt">type in it's id</td>
    </tr>
    <tr>
      <td rowspan="5" valign="top">
        <%= render partial: 'shared/avatar_grid_colour' %>
      </td>
      <td><%= render partial: 'enter_id' %></td>
    </tr>
    <tr>
      <td><%= render partial: 'start_button' %></td>
    </tr>
    <tr>
      <td><%= render partial: 'continue_button' %></td>
    </tr>
    <tr>
      <td><%= render partial: 'dashboard_button' %></td>
    </tr>
    <tr>
      <td><%= render partial: 'review_button' %></td>
    </tr>
  </table>

</div>
