
<div id="enter-page">
  <table class="align-right">
    <tr>
      <td id="enter-your-cyber-dojo-id">
        the cyber-dojo's id?
      </td>
      <td>
        <span class="button-td">
          <%= render partial: 'enter_id' %>
        </span>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <span class="button-td">
          <%= render partial: 'enter_button' %>
        </span>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <span class="button-td">
          <%= render partial: 're_enter_button' %>
        </span>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <span class="button-td">
          <%= render partial: 'review_button' %>
        </span>
      </td>
    </tr>
  </table>
</div>

<%= render partial: 'shared/footer_short',
    locals: { help_url: "http://blog.cyber-dojo.org/p/learn-more.html" } %>
