
<div id="enter-page">

  <table class="align-right">

    <tr>
      <td><%= render partial: 'shared/cyber_dojo_heading' %></td>
    </tr>
    <tr>
      <td><%= render partial: 'shared/the_place_to_practice_programming' %></td>
    </tr>
    <tr>
      <td><%= render partial: 'shared/learn_more_button' %></td>
    </tr>

    <tr>
      <td>
        <span class="button-info-td">
          type in your cyber-dojo's
          id in <span class="each">each</span> browser
        </span>
        <span class="button-td">
          <%= render partial: 'enter_id' %>
        </span>
      </td>
    </tr>

    <tr>
      <td>
        <span class="button-info-td">
          click enter in <span class="each">each</span>
          browser to start programming
        </span>
        <span class="button-td">
          <%= render partial: 'enter_button' %>
        </span>
      </td>
    </tr>

    <tr>
      <td>
        <span class="button-info-td">
          re-enter as a specific animal
        </span>
        <span class="button-td">
          <%= render partial: 're_enter_button' %>
        </span>
      </td>
    </tr>

    <tr>
      <td>
        <span class="button-info-td">
          stop programming and
          review everyone's code
        </span>
        <span class="button-td">
          <%= render partial: 'review_button' %>
        </span>
      </td>
    </tr>

  </table>
</div>


<%= render partial: 'footer' %>
