
<div id="enter-page">
  <table class="align-right">
    <tr>
      <th colspan="2">
        <div id="enter-your-practice-session">
          <%= render partial: 'shared/home_page_logo' %>
          enter&nbsp;your&nbsp;practice&nbsp;session
        </div>
      </th>
    </tr>
    <tr>
      <td></td>
      <td id="enter-id-prompt">type in it's id</td>
    </tr>
    <tr>
      <td rowspan="4" valign="top">
        <img src="/images/avatars/all_avatars_background.png" id="avatars-grid" alt="">
      </td>
      <td><%= render partial: 'enter_id' %></td>
    </tr>
    <tr>
      <td><%= render partial: 'start_button' %></td>
    </tr>
    <tr>
      <td><%= render partial: 'continue_button' %></td>
    </tr>
    <tr>
      <td><%= render partial: 'review_button' %></td>
    </tr>
    <tr>
      <td colspan="2">
        <div id="info">
        <div>
          cyber-dojo is built using
            <a href="https://www.docker.com/">Docker</a>,
            <a href="https://www.ruby-lang.org/en/">Ruby</a>,
            <a href="http://rubyonrails.org/">Rails</a>, and
            <a href="https://git-scm.com/">Git</a>.
        </div>
        <div>
          cyber-dojo is hosted on
            <a href="https://cloud.google.com/compute/">Google Compute Engine</a>.
        </div>
        <div>
          cyber-dojo is open source - it lives on
          <a href="https://github.com/JonJagger/cyber-dojo">github</a>.
        </div>
        <div>
          cyber-dojo's images live on the
          <a href="https://hub.docker.com/u/cyberdojofoundation/">docker hub</a>.
        </div>
        <div>
          <a href="https://www.behance.net/NadyaSivers">Nadya Sivers</a>
          drew the super animals.
        </div>
     </div>
      </td>
    </tr>
  </table>

</div>

