
<div id="enter-page">

  <table class="align-right">

    <tr>
      <td colspan="2"><%= render partial: 'shared/cyber_dojo_heading' %></td>
    </tr>
    <tr>
      <td colspan="2"><%= render partial: 'shared/the_place_to_practice_programming' %></td>
    </tr>
    <tr>
      <td colspan="2"><%= render partial: 'shared/learn_more_button' %></td>
    </tr>

    <tr>
      <td><%= render partial: 'enter_id' %></td>
    </tr>
    <tr>
      <td><%= render partial: 'enter_button' %></td>
    </tr>
    <tr>
      <td><%= render partial: 're_enter_button' %></td>
    </tr>
    <tr>
      <td><%= render partial: 'review_button' %></td>
    </tr>

  </table>
</div>


<%= render partial: 'footer' %>
