
<script type="text/javascript"><!--

$(document).ready(function() {

  var previousLanguage = undefined;
  var container = $('#div_languages');
  var downFromTop = 100;
  var halfSecond = 500;
  var selected = $('#language_' + <%= @selected_language_index %>);

  $('[id^=language_]').each(function(index) {
    var node = $(this);
    node.click(function() {
      cd.radioEntrySwitch(previousLanguage, node);
      previousLanguage = node;
    });
  });

  selected.click();
  // ensure visible
  container.animate({
    scrollTop: selected.offset().top - container.offset().top - downFromTop
  }, halfSecond);

});

//--></script>

<div id="choose_language">
  <%= t("views.labels.language") %>?
</div>

<div id="div_languages">
  <% @languages.each_with_index do |atts,index| %>
    <div class="filename"
         id="language_<%= index %>"
         data-language="<%= atts[2] %>">
      <%= atts[0] %>, <%= atts[1] %>
    </div>
  <% end %>
</div>