
<script type="text/javascript"><!--
        
$(document).ready(function() {

  var previousExercise = undefined;
  
  $('[id^=exercise_]').each(function(index) {
    var instructions = $('#instructions_' + index).val();
    var node = $(this);
    node.click(function() {
      cd.radioEntrySwitch(previousExercise, node);
      previousExercise = node;
      $('#instructions').val(instructions);      
    });
  });

  $('#exercise_' + <%= @selected_exercise_index %>).click();
  //TODO: ensure visible (auto scroll)

});

//--></script>

<div id="choose_exercise">
  <%= t("views.labels.exercise") %>
</div>

<div id="div_exercises">
  <% @exercises.each_with_index do |choice,index| %>
    <div class="filename" 
         id="exercise_<%= index %>"
         data-exercise="<%= choice %>" >
      <%= choice.gsub("_", " ") %>
    </div>    
  <% end %>
</div>

