
<script type="text/javascript"><!--

$(function() {

  var testIndexes = $.parseJSON('<%= @split.tests_indexes.inspect.html_safe %>');

  //- - - - - - - - - - - - - - -

  var previousTests = undefined;
	
  $('[id^=test_]').each(function() {
    var node = $(this);
    node.click(function() {
      cd.radioEntrySwitch(previousTests, node);
      previousTests = node;
      //update current-selection in language
      var language = $('[id^=language_][class~=selected]');
      language.data('test-index', node.data('index'));	  
    });
  });

  //- - - - - - - - - - - - - - -

  var previousLanguage = undefined;

  $('[id^=language_]').each(function() {
    var node = $(this);
    node.click(function() {      	  	
      cd.radioEntrySwitch(previousLanguage, node);
      previousLanguage = node;	  
      // hide all tests
      $('[id^=test_]').hide();	  
      // show tests for this language
      var i = node.data('index');
      $.each(testIndexes[i], function(_,index) {
        $('[id=test_' + index + ']').show();
      });
      // select test
      var ti = node.data('test-index');
      $('[id=test_' + ti +']').click();
    });
  });

  var selectedLanguage = $('#language_' + <%= @selected_language_index %>);
  
  selectedLanguage.click();
  selectedLanguage.scrollIntoView({ direction: 'vertical' });

});

//--></script>

<div id="languages-container">
  <% @split.languages_names.each_with_index do |name,index| %>
    <div class="filename"
         id="language_<%= index %>"
         data-language="<%= name %>"
         data-index="<%= index %>"
         data-test-index="<%= @split.tests_indexes[index][0] %>">
      <%= name %>
    </div>
  <% end %>
</div>
