
<div id="language_qm">
  <%= t("views.labels.language") %>
</div>      

<div id="languages_list">
  <% @languages.each_with_index do |choice,index| %>
    <div class="filename" >
      <input id="language_<%= index %>" 
             type="radio"
             name="language"
             value="<%= choice %>" />
      <label id=<%= "language_#{choice.tableize.singularize}" %>><%= choice %></label>
    </div>    
  <% end %>
</div>
