
<div id="setup-page">
  <table>
    <tr>
      <td>
        <div id="choose-language">
          <%= t("views.labels.language") %>?
        </div>
      </td>
      <td>
        <div id="choose-exercise">
          <%= t("views.labels.exercise") %>?
        </div>
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td class="valign-top">
        <%= render :partial => 'choose_language' %>
      </td>
      <td class="valign-top">
        <%= render :partial => 'choose_exercise' %>
      </td>
      <td class="valign-top">
        <%= render :partial => 'instructions' %>
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
      </td>
      <td>
        <%= render :partial => 'ok_button' %>
        <%= render :partial => 'cancel_button' %>
	  </td>
    </tr>
  </table>
</div>

<%= render partial: 'shared/footer',
    locals: { help_url:"http://blog.cyber-dojo.org/p/learn-more.html" } %>
