
<%= render partial: 'language_chooser' %>

<div id="setup-language-page">

  <table>
    <tr class="valign-top">
      <td colspan="3">
        <div id="create-a-practice-session">
          create&nbsp;a&nbsp;practice&nbsp;session
        </div>
      </td>
    </tr>
    <tr class="valign-top">
      <td id="info-container">
        <%= render partial: 'language_info' %>
      </td>
      <td id="languages-container">
        <div id="language-title">language?</div>
        <%= render partial: 'languages_list' %>
      </td>
      <td id="tests-container">
        <div id="tests-title">tests?</div>
        <%= render partial: 'tests_list' %>
      </td>
    </tr>
    <tr>
      <td colspan="3" align="right">
        <%= render partial: 'next_button' %>
      </td>
    </tr>
  </table>

</div>


