
<%= render partial: 'chooser' %>

<div id="setup-page">
  <table>
    <tr>
      <th colspan="4">
        <div id="prepare-a-new-practice">
          <%= render partial: 'shared/home_page_logo' %>
          create&nbsp;your&nbsp;practice&nbsp;session
        </div>
      </th>
    <tr>
      <td><div id="choose-language">language</div></td>
      <td><div id="choose-tests">tests</div></td>
      <td><div id="choose-exercise">exercise</div></td>
      <td></td>
    </tr>
    <tr class="valign-top">
      <td><%= render partial: 'list_languages' %></td>
      <td><%= render partial: 'list_tests' %></td>
      <td><%= render partial: 'list_exercises' %></td>
      <td><%= render partial: 'instructions' %></td>
    </tr>
    <tr>
      <td colspan="3"></td>
      <td class="align-left"><%= render partial: 'ok_button' %></td>
    </tr>
  </table>
</div>

