
<script type="text/javascript"><!--

$(document).ready(function() {
  
  // remove radio bullets - they are sometimes causing layout weirdness in firefox
  // and to match style of name lists in test page and diff page
  $('input[type=radio]').hide();  

});

//--></script>

<table>
  <tr>
    <td class="panel" colspan="2">
      <table>
        <tr>
          <td>
            <%= link_to logo_image(50, "cyber-dojo"),            
                                  {
                                    :controller => :dojo,
                                    :action => :index
                                  } %>
          </td>
          <td>&nbsp;</td>
          <td>
            <%= render :partial => 'ok_button' %>
          </td>
          <td>&nbsp;</td>
          <td>
            <%= render :partial => 'cancel_button' %>      
          </td>
        </tr>
      </table>
    </td>
    <td class="light_margin panel valign-top" rowspan="2">
      <%= render :partial => 'instructions' %>      
    </td>              
  </tr>
  
  <tr>
    <td class="panel valign-top">
      <%= render :partial => 'choose_language' %>      
    </td>
    <td class="panel valign-top">
      <%= render :partial => 'choose_exercise' %>
    </td>
  </tr>
</table>
