
<%= render partial: 'chooser' %>

<div id="setup-page">
  <table>
    <tr>
      <th colspan="3"><div id="prepare-a-new-practice">prepare&nbsp;a&nbsp;new&nbsp;practice</div></th>
      <th></th>
    <tr>
      <td><div id="choose-language">language</div></td>
      <td><div id="choose-tests">tests</div></td>
      <td><div id="choose-exercise">exercise</div></td>
      <td></td>
    </tr>
    <tr class="valign-top">
      <td><%= render partial: 'list_languages' %></td>
      <td><%= render partial: 'list_tests' %></td>
      <td><%= render partial: 'list_exercises' %></td>
      <td><%= render partial: 'instructions' %></td>
    </tr>
    <tr>
      <td colspan="3"></td>
      <td class="align-left"><%= render partial: 'ok_button' %></td>
    </tr>
  </table>
</div>

<%= render partial: 'shared/footer_short',
    locals: { help_url: "http://blog.cyber-dojo.org/p/learn-more.html" } %>
