
<%= render partial: 'choose_exercise' %>

<div id="setup-page">

  <div id="prepare-a-new-practice">
    <%= render partial: 'shared/home_page_logo' %>
    create&nbsp;your&nbsp;practice&nbsp;session
  </div>

  <table>
    <tr class="valign-top" id="exercises-container">
      <td>
        <div id="exercise-title">exercise?</div>
        <%= render partial: 'list_exercises' %>
      </td>
      <td>
        <%= render partial: 'instructions' %>
      </td>
    </tr>
    <tr class="valign-top">
      <td>
        <%= render partial: 'ok_button' %>
      </td>
      <td>
      </td>
    </tr>
  </table>


</div>


