
<%= render partial: 'chooser' %>

<div id="setup-page">
  <table>
    <tr>
      <th><div id="choose-language">language</div></th>
      <th><div id="choose-tests">tests</div></th>
      <th><div id="choose-exercise">exercise</div></th>
      <th></th>
    </tr>
    <tr>
      <td class="valign-top">
        <%= render partial: 'list_languages' %>
      </td>
      <td class="valign-top">
        <%= render partial: 'list_tests' %>
      </td>
      <td class="valign-top">
        <%= render partial: 'list_exercises' %>
      </td>
      <td class="valign-top">
        <%= render partial: 'instructions' %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>
        <%= render partial: 'create_button' %>
	    </td>
      <td>
        <div id="a-new-cyber-dojo">a new cyber-dojo</div>
      </td>
    </tr>
  </table>
</div>

