
<%= render partial: 'chooser' %>

<div id="setup-page">
  <table>
    <tr>
      <td><div id="choose-language">language?</div></td>
      <td><div id="choose-tests">tests?</div></td>
      <td></td>
      <td><div id="choose-exercise">exercise?</div></td>
    </tr>
    <tr>
      <td class="valign-top">
        <%= render partial: 'list_languages' %>
      </td>
      <td class="valign-top">
        <%= render partial: 'list_tests' %>
      </td>
      <td class="valign-top">
        <%= render partial: 'list_exercises' %>
      </td>
      <td class="valign-top">
        <%= render partial: 'instructions' %>
      </td>
    </tr>
    <tr>
      <td colspan="3"></td>
      <td>
        <%= render partial: 'create_button' %>
	    </td>
    </tr>
  </table>
</div>

