
<div id="avatar_pair">
  <% size = 65 -%>
  <img src="/images/avatars/<%=@avatar.name.downcase-%>.jpg"
       alt="<%=@avatar.name.humanize-%>"
       title="<%=@avatar.name.humanize-%>"
       width="<%= size -%>"
       height="<%= size -%>" />
  <img src="/images/avatars/<%=@avatar.name.downcase-%>.jpg"
       alt="<%=@avatar.name.humanize-%>"
       title="<%=@avatar.name.humanize-%>"
       width="<%= size -%>"
       height="<%= size -%>" />
</div>

