

<%= render :partial => 'test_button' %>

<div class="panel">
  <%= render :partial => 'filename_list' %>
</div>

<div class="panel">
  <%= render :partial => 'file_new_rename_delete' %>
  <%= render :partial => 'line_numbers_checkbox' %>
  <%= render :partial => 'revert_button' %>
  <%= render :partial => 'fork_button' %>
  <%= render :partial => 'help_button' %>
</div>

