

<%= render :partial => 'test_button' %>

<%= render :partial => 'filename_list' %>

<div>
  <%= render :partial => 'file_new_rename_delete' %>
  <%= render :partial => 'line_numbers_checkbox' %>
  <%= render :partial => 'revert_fork' %>
  <%= render :partial => 'help_button' %>
</div>
