
<div id="current_traffic_light_count">
  <% if @traffic_lights.length != 0 %>
      <% bulb = @traffic_lights[-1][:colour].to_s %>
      <span class="tag_count <%= bulb %>"
            title="<%= @avatar.name%> has <%= @traffic_lights.length %> traffic-lights so far and is currently at <%= bulb %>">
        <%= @traffic_lights.length %>
      </span>
  <% end %>
</div>

