
<table cellpadding="0" 
       cellpadding="0">
  <tr valign="top">
    <td class="file-manager panel box">
      <table>
        <tr>
          <td nowrap>
            <span id="shown-increment-number">
              <%=@shown_increment_number-%>
            </span>
            <% if !@kata.readonly -%>
              <input type="hidden" 
                     id="run_tests_prediction" 
                     name="run_tests_prediction" 
                     value="">
              <input type="submit" 
                     class="failed increment box" 
                     value="  "
                     title="we predict a red"
                     onclick="predict('failed');"/>
              <input type="submit" 
                     class="passed increment box" 
                     value="  "
                     title="we predict a green"
                     onclick="predict('passed');"/>
            <% end -%>                 
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <td nowrap>
            <a href="/kata/see_all_increments/<%= @kata.id -%>" 
               target="_blank">
              <%= avatar_image(@kata.avatar.name) {|f| f} -%>
            </a>
            <a href="/kata/see_all_increments/<%= @kata.id -%>" 
               target="_blank">
              <%= avatar_image(@kata.avatar.name) {|f| f} -%>
            </a>
          <td/>
        <tr/>
      </table>

      <table>
        <% if !@kata.readonly -%>
          <tbody id="file-list">  <!-- rename/delete popup menu keys off this id -->     
        <% else -%>
          <tbody>       
        <% end -%>

  		  <% @manifest[:visible_files].sort.each do |filename,file| -%>
		  <tr>
            <td>             
			  <div onclick='loadFile("<%=filename-%>")'>
                <input id="radio_<%=filename-%>" 
                       name="radio_filename"
                       type="radio"
                       value="<%=filename-%>"><%= filename -%>
              </div>
		    </td>
          </tr>
		  <% end -%>
        </tbody>
	  </table>

      <br/>
      <br/>
      <br/>
      <% if !@kata.readonly -%>
        <input type="button" name="new file" value="new file" onclick="newFile()"/>
      <% end -%>
    </td>

    <td>
      <table cellpadding="0">
        <tr>
          <td>
            <textarea style="font-family: <%=@manifest[:font_family]-%>; font-size: <%=@manifest[:font_size]-%>pt; font-weight: <%=@manifest[:font_weight]-%>; color: <%=@manifest[:color]-%>; background-color: <%=@manifest[:background_color]-%>; "
                      id="editor" 
                      name="editor" 
                      <% if @kata.readonly -%>
                        readonly="true"
                      <% end -%>
                      cols="80" 
                      rows="30">
            </textarea>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<div class="hidden">
  <!-- When run-tests is clicked the javascript preRunTests() function copies  -->
  <!-- the contents of currently edited file back to its hidden textarea (below)   -->
  <!-- before submitting the form. On the server rails grabs the file contents -->
  <!-- from these hidden textareas and not from the main textarea editor.     -->
  <div id="visible_files_container">
    <% @manifest[:visible_files].each do |filename,file| -%>
      <textarea id="<%=filename-%>" 
                name="<%=filename-%>"><%= h file[:content] -%></textarea> 
    <% end -%>
  </div>

  <textarea id="visible_filenames_container"
            name="visible_filenames_container">
    ;<% @manifest[:visible_files].each do |filename,file| -%><%=filename-%>;<% end -%>   
  </textarea>

   <textarea id="manifest.rb" 
             name="manifest.rb">
     <%= h @manifest.inspect -%>
   </textarea>

</div>

