
<table cellpadding="0" 
       cellpadding="0">
  <tr valign="top">
    <td class="file-manager panel box">
      <table>
        <tr>
          <td nowrap>
            <% if !@kata.readonly -%>
              <input type="hidden" 
                     id="run_tests_prediction" 
                     name="run_tests_prediction" 
                     value="">
            <% end -%>                 
          </td>
        </tr>
      </table>

      <table>
       <tbody>
        <tr>
          <td nowrap>
            <input type="image" 
                   src="/images/avatars/<%=@kata.avatar.name.downcase-%>.jpg"
                   class="box" 
                   <% if !@kata.readonly -%>
                     style="border: 5px solid #F33;" 
                     onclick="predict('failed');"
                   <% end -%>  />

            <input type="image" 
                   src="/images/avatars/<%=@kata.avatar.name.downcase-%>.jpg"
                   class="box" 
                   <% if !@kata.readonly -%>
                     style="border: 5px solid #3C3;" 
                     onclick="predict('passed');"
                   <% end -%> />
          <td/>
        <tr/>
       </tbody>
      </table>

      <table>
        <% if !@kata.readonly -%>
          <tbody id="file-list">  <% # rename/delete popup menu keys off this id -%>     
        <% else -%>
          <tbody>       
        <% end -%>

  		  <% @manifest[:visible_files].sort.each do |filename,file| -%>
		  <tr>
            <td>             
			  <div onclick='loadFile("<%=filename-%>")'>
                <input id="radio_<%=filename-%>" 
                       name="radio_filename"
                       type="radio"
                       value="<%=filename-%>"><%= filename -%>
              </div>
		    </td>
          </tr>
		  <% end -%>
        </tbody>
	  </table>
    </td>

    <td>
      <table cellpadding="0">
        <tr>
          <td>
            <textarea id="editor" 
                      tabindex="0"
                      name="editor" 
                      class="box"
                      <% if @kata.readonly -%>
                        readonly="true"
                      <% end -%>
                      cols="80" 
                      rows="28">
            </textarea>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<div class="hidden">
  <% # When run-tests is clicked the javascript preRunTests() function copies  -%>
  <% # the contents of currently edited file back to its hidden textarea (below)  -%>
  <% # before submitting the form. On the server rails grabs the file contents -%>
  <% # from these hidden textareas and not from the main textarea editor.     -%>
  <div id="visible_files_container">
    <% @manifest[:visible_files].each do |filename,file| -%>
      <textarea id="<%=filename-%>" 
                name="<%=filename-%>"><%= h file[:content] -%></textarea> 
    <% end -%>
  </div>

  <textarea id="visible_filenames_container"
            name="visible_filenames_container">
    ;<% @manifest[:visible_files].each do |filename,file| -%><%=filename-%>;<% end -%>   
  </textarea>

</div>

