
<table cellpadding="0">
  <tr valign="top">
    <td>
      <div class="panel">
        <div id="avatar_id">
          <%= avatar_image(@avatar.name, 65) -%>        
        </div>

        <span class="small_title"><%= @avatar.name.capitalize -%></span>
        <span class="small_title"><%= @kata.name -%></span>
        <span class="small_title"><%= @kata.language -%></span>
      </div>
      
      <div class="panel">
        <%= render :partial => 'fileops' -%>
        <%= render :partial => 'filenames' -%>
      </div>
    </td>
    <td>
      <%= render :partial => 'editor' -%>
    </td>
    <td rowspan=2>
      <%= render :partial => 'server_message' -%>

      <div class="panel">
        <span class="small_title">
          <%= link_to "#{@dojo.name}", 
               { :controller => :dojo, :action => :dashboard, :dojo_name => "#{@dojo.name}" }, 
               { :class => "title", :target => "_blank" } -%>
        </span>

        <%= render :partial => 'ladder' -%>
      </div>
    </td>
  </tr>
  <tr valign="top">
    <td>
      <table class="panel">
        <tr>
          <td>
            <table style="float:left;">
              <tr>
                <td>
                  <%= render :partial => 'increment_number' -%>
                </td>
                <td>
                  <%= render :partial => 'run_tests' -%>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <%= render :partial => 'increments' -%>
          </td>
         </tr>
       </table>
    </td>
    <td>
      <%= render :partial => 'output' -%>
    </td>
  </tr>
</table>

<%= periodically_call_remote :url => { :action => 'heartbeat',
                                       :dojo_name => @dojo.name,
                                       :avatar => @avatar.name
                                     }, 
                             :frequency => @dojo.seconds_per_heartbeat -%>
                   

