
<div id="visible_files_container"
     class="panel">
  
  <% @manifest[:visible_files].each do |filename,file| -%>
    <div class="filename_div"
         name="<%=filename-%>"
         id="<%=filename-%>_div">
      <table cellspacing="0" cellpadding="0">
        <tr>
          <td>
            <textarea class="line_numbers"
                      name="<%=filename-%>_line_numbers"
                      id="<%=filename-%>_line_numbers">
            </textarea>
          </td>
          <td>
            <% if filename != 'output'-%>
              <textarea class="file_content"
                        name="file_content['<%=filename-%>']"
                        id="file_content_for_<%=filename-%>"
                        wrap="off"
                        tab="<%=@tab-%>"><%=h file[:content]-%>
              </textarea>                                     
            <% else -%>            
              <%= render :partial => 'output' -%>        
            <% end -%>
          </td>
        </tr>
      </table>
    </div>

    <input type="hidden"
           name="file_caret_pos['<%=filename-%>']"
           id="file_caret_pos_for_<%=filename-%>"
           value="<%=h file[:caret_pos]-%>"/>         
    <input type="hidden"
           name="file_scroll_top['<%=filename-%>']"
           id="file_scroll_top_for_<%=filename-%>"
           value="<%=h file[:scroll_top]-%>"/>
    <input type="hidden"
           name="file_scroll_left['<%=filename-%>']"
           id="file_scroll_left_for_<%=filename-%>"
           value="<%=h file[:scroll_left]-%>"/>         
  <% end -%>
  
</div>

<input type="hidden"
       name="current_filename"
       id="current_filename"
       value="<%=@manifest[:current_filename]-%>"/>


