
<table cellpadding="0" 
       cellpadding="0">
  <tr valign="top">
    <td class="file-manager panel box">
      <table>
        <tr>
          <td>
            <% if (run_tests) -%>
              <input type="hidden" 
                     id="run_tests_prediction" 
                     name="run_tests_prediction" 
                     value="">
              <input type="submit" 
                     id="run-tests-passed"
                     name="run-tests-passed" 
                     class="passed increment box" 
                     value="<%=@shown_increment_number-%>"
                     onclick="predict('passed');"/>
              <input type="submit" 
                     id="run-tests-failed"
                     name="run-tests-failed" 
                     class="failed increment box" 
                     value="<%=@shown_increment_number-%>"
                     onclick="predict('failed');"/>
              <input type="submit" 
                     id="run-tests-error"
                     name="run-tests-error" 
                     class="error increment box" 
                     value="<%=@shown_increment_number-%>"
                     onclick="predict('error');"/>
            <% end -%>
          </td>
        </tr>
      </table>

        <a href="/kata/see_all_increments/<%= @kata_id -%>" target="_blank">
          <%= avatar_image(@avatar) {|f| f} -%>
        </a>
        <a href="/kata/see_all_increments/<%= @kata_id -%>" target="_blank">
          <%= avatar_image(@avatar) {|f| f} -%>
        </a>
        <br/>
        <br/>

      <table>       
		<% @manifest[:visible_files].sort.each do |filename,file| -%>
		  <tr>
            <td id="filename-button-list">
			  <div id="<%=filename-%>-button"
                   class="fake-button box"
                   onclick='editAreaTabbedLoad("<%=filename-%>")'
                   title="edit <%= filename -%>">
                   <%= filename -%>
              </div>
		    </td>
          </tr>
		<% end -%>
	  </table>

      <br/>
      <br/>
      <br/>
      <input type="button" name="new-file" value="new-file" onclick="newFile()"/>
      <br/>
      <input type="text" id="new-filename" size="8" value=""/>
    </td>

    <td>
      <!-- EditArea turns this textarea into a tabbed edtitor. See _javascript.html.erb -->
      <table cellpadding="0">
        <tr>
          <td>
            <textarea id="tabbed_files" 
                      name="tabbed_files" 
                      cols="105" 
                      rows="35">
            </textarea>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<div class="hidden">
  <!-- When run-tests is clicked the javascript preRunTests() function copies  -->
  <!-- the contents of each editArea tab back to its hidden textarea (below)   -->
  <!-- before submitting the form. On the server rails grabs the file contents -->
  <!-- from these hidden textareas and not from the tabbed_files editArea.     -->
  <div id="visible_files_container">
    <% @manifest[:visible_files].each do |filename,file| -%>
      <!-- This outer div is needed for run_tests_outcome from run_tests.js.rjs -->
      <div id="<%=filename-%>_div">
        <textarea id="<%=filename-%>" 
                  name="<%=filename-%>"><%= h file[:content] -%></textarea> 
        <% file.delete :content -%>
      </div>
    <% end -%>
  </div>

  <textarea id="visible_filenames_container"
            name="visible_filenames_container">
  </textarea>

   <textarea id="manifest.rb" 
             name="manifest.rb">
     <%= h @manifest.inspect -%>
   </textarea>

</div>

