
<table cellpadding="0" 
       cellpadding="0">
  <tr valign="top">
    <td class="file-manager panel">
      <table>
        <tr>
          <td>
           <div id="shown_increment_number">
             <span class="increment-box" 
                   title="current increment"-%>
               <%= @shown_increment_number -%>
             </span>
           </div>
          </td>
          <td>
            <% if (run_tests) -%>
              <%= submit_tag 'run-tests' -%>
            <% end -%>
          </td>
        </tr>
      </table>

      <%= avatar_image(@avatar) {|f| f} -%>
      <%= avatar_image(@avatar) {|f| f} -%>
    
      <table>       
		<% @manifest[:visible_files].sort.each do |filename,file| -%>
		  <tr>
            <td id="filename-button-list">
			  <div id="<%=filename-%>-button"
                   class="fake-button"
                   onclick='editAreaTabbedLoad("<%=filename-%>")'
                   title="load <%= filename -%>">
                   <%= filename -%>
              </div>
		    </td>
          </tr>
		<% end -%>
	  </table>

      <br/>
      <br/>
      <br/>
      <input type="button" name="new-file" value="new file" onclick="newFile()"/>
      <br/>
      <input type="text" id="new-filename" size="8" value=""/>
    </td>

    <td>
      <!-- EditArea turns this textarea into a tabbed edtitor. See _javascript.html.erb -->
      <table cellpadding="7" 
             id="tabbed_files_border" 
             class="<%=@outcome-%>">
       <tr><td>
        <textarea id="tabbed_files" 
                  name="tabbed_files" 
                  cols="125" 
                  rows="50">
        </textarea>
       </td></tr>
      </table>
    </td>
  </tr>
</table>

<div class="hidden">
  <!-- When run-tests is clicked the javascript preRunTests() function copies  -->
  <!-- the contents of each editArea tab back to its hidden textarea (below)   -->
  <!-- before submitting the form. On the server rails grabs the file contents -->
  <!-- from these hidden textareas and not from the tabbed_files editArea.     -->
  <div id="visible_files_container">
    <% @manifest[:visible_files].each do |filename,file| -%>
      <!-- This outer div is needed for run_tests_outcome from run_tests.js.rjs -->
      <div id="<%=filename-%>_div">
        <textarea id="<%=filename-%>" 
                  name="<%=filename-%>"><%= h file[:content] -%></textarea> 
        <% file.delete :content -%>
      </div>
    <% end -%>
  </div>

  <textarea id="visible_filenames_container"
            name="visible_filenames_container">
  </textarea>

   <textarea id="manifest.rb" 
             name="manifest.rb">
     <%= h @manifest.inspect -%>
   </textarea>

</div>

