
<table cellpadding="0" 
       cellpadding="0">
  <tr valign="top">
    <td class="file-manager panel box">
      <table>
        <tr>
          <td nowrap>
            <% if (run_tests) -%>
              <input type="hidden" 
                     id="run_tests_prediction" 
                     name="run_tests_prediction" 
                     value="">
              <input type="submit" 
                     id="run-tests-failed"
                     name="run-tests-failed" 
                     class="failed increment box" 
                     value="<%=@shown_increment_number-%>"
                     onclick="predict('failed');"/>
              <input type="submit" 
                     id="run-tests-passed"
                     name="run-tests-passed" 
                     class="passed increment box" 
                     value="<%=@shown_increment_number-%>"
                     onclick="predict('passed');"/>
            <% end -%>
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <td nowrap>
            <a href="/kata/see_all_increments/<%= @kata_id -%>" target="_blank">
              <%= avatar_image(@avatar) {|f| f} -%>
            </a>
            <a href="/kata/see_all_increments/<%= @kata_id -%>" target="_blank">
              <%= avatar_image(@avatar) {|f| f} -%>
            </a>
          <td/>
        <tr/>
      </table>

      <table>       
		<% @manifest[:visible_files].sort.each do |filename,file| -%>
		  <tr>
            <td id="filename-button-list">
              
			  <div id="<%=filename-%>-button"
                   onclick='loadFile("<%=filename-%>")'
                   title="edit <%= filename -%>">
                <input id="radio_<%=filename-%>" 
                       name="radio_filename"
                       type="radio"
                       value="">
                  <%= filename -%>
              </div>
		    </td>
          </tr>
		<% end -%>
	  </table>

      <br/>
      <br/>
      <br/>
      <input type="button" name="new-file" value="new-file" onclick="newFile()"/>
      <br/>
      <input type="text" id="new-filename" size="8" value=""/>
    </td>

    <td>
      <!-- EditArea turns this textarea into a tabbed edtitor. See _javascript.html.erb -->
      <table cellpadding="0">
        <tr>
          <td>
            <textarea id="editor" 
                      name="editor" 
                      cols="80" 
                      rows="30">
            </textarea>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<div class="hidden">
  <!-- When run-tests is clicked the javascript preRunTests() function copies  -->
  <!-- the contents of currently edited file back to its hidden textarea (below)   -->
  <!-- before submitting the form. On the server rails grabs the file contents -->
  <!-- from these hidden textareas and not from the main textarea editor.     -->
  <div id="visible_files_container">
    <% @manifest[:visible_files].each do |filename,file| -%>
      <textarea id="<%=filename-%>" 
                name="<%=filename-%>"><%= h file[:content] -%></textarea> 
    <% end -%>
  </div>

  <textarea id="visible_filenames_container"
            name="visible_filenames_container">
  </textarea>

   <textarea id="manifest.rb" 
             name="manifest.rb">
     <%= h @manifest.inspect -%>
   </textarea>

</div>

