
<table cellpadding="0">
  <tr valign="top">
    <td>
      <div id="avatar_pair">
        <%= avatar_image(@avatar.name, 65) -%> 
        <%= avatar_image(@avatar.name, 65) -%>        
      </div>

      <span class="small_title"><%= @kata.language -%></span>
      <span class="small_title"><%= @kata.name -%></span>
           
      <%= render :partial => 'fileops' -%>
      <%= render :partial => 'filenames' -%>
    </td>
    <td>
      <%= render :partial => 'editor' -%>
    </td>
    <td rowspan=2>
      <%= render :partial => 'rotation' -%>

      <%= link_to "#{@dojo.name}", 
             { :controller => :dojo, :action => :dashboard, :name => "#{@dojo.name}" }, 
             { :class => "title", :target => "_blank" } -%>

      <%= render :partial => 'ladder' -%>
    </td>
  </tr>
  <tr valign="top">
    <td>
      <table style="float:right;">
        <tr>
          <td>
            <table style="float:right;">
              <tr>
                <td>
                  <%= render :partial => 'increment_number' -%>
                </td>
                <td>
                  <%= render :partial => 'play' -%>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <%= render :partial => 'increments' -%>
          </td>
         </tr>
       </table>
    </td>
    <td>
      <%= render :partial => 'output' -%>
    </td>
  </tr>
</table>

<% if !@dojo.closed -%>
<%= periodically_call_remote :url => { :action => 'heartbeat',
                                       :dojo => @dojo.name,
                                       :avatar => @avatar.name
                                     }, 
                             :frequency => @dojo.seconds_per_heartbeat -%>
<% end -%>                             
                   

