
<div class="panel">
  
  <% filenames = [ 'editor', 'output'] -%>
  <% filenames.each do |filename| -%>
  
    <div id="<%=filename-%>_div">
      <table cellspacing="0" cellpadding="0">
        <tr>
          <td>
            <textarea class="line_numbers"
                      name="<%=filename-%>_line_numbers"
                      id="<%=filename-%>_line_numbers">
            </textarea>
          </td>
          <td>
            <% if filename != 'output'-%>
              <textarea name="<%=filename-%>" 
                        id="<%=filename-%>"
                        wrap="off"
                        tab="<%=@tab-%>">
              </textarea>                                     
            <% else -%>            
              <%= render :partial => 'output' -%>        
            <% end -%>
          </td>
        </tr>
      </table>
    </div>
  
  <% end -%>
  
</div>

