
<table cellpadding="0">
  <tr valign="top">
    <td id="file_manager" 
        class="rounded panel">
      <%= @dojo.name -%>
      <br/>
      <%= @kata.name -%>
      <%= render :partial => 'avatar_buttons' -%>
      <%= render :partial => 'file_list' -%>
      <%= render :partial => 'increments_panel' -%>


    </td>
    <td>
      <%= render :partial => 'editor' -%>
    </td>
  </tr>
</table>

<%= render :partial => 'hidden_text_areas' -%>


