
<% size=30 -%>

<div id="fileops">
  <table>
    <tr>
      <td class="file_op"
          id="file_op_new"
          title="create a new file"
          onclick="newFile();" >
        <img src="/images/file-new-icon.png"
             alt="new"
             width="<%=size-%>"
             height="<%=size-%>"/><br/>
        <span class="file_op_name">new</span>
      </td>
      <td class="file_op"
          id="file_op_rename"
          title="rename the current file"
          onclick="renameFile();" >
        <img src="/images/file-rename-icon.png"
             alt="rename"
             width="<%=size-%>"
             height="<%=size-%>"/><br/>
        <span class="file_op_name">rename</span>
      </td>
      <td class="file_op"
          id="file_op_delete"
          title="delete the current file"
          onclick="deleteFile();" >
        <img src="/images/file-delete-icon.png"
             alt="delete"
             width="<%=size-%>"
             height="<%=size-%>"/><br/>
        <span class="file_op_name">delete</span>
      </td>
    </tr>
  </table>
</div>


