
<script type="text/javascript"><!--

$(document).ready(function() {

  var fileButtons =  $('#file_operations');
  
  var isEnabled = function(node) {
    return node.attr('disabled') !== 'disabled';
  };
  
  fileButtons.find('#new').click(function() {
    cd.newFile();
    cd.allLineNumbersRefresh();
    //Do immediate rename?
    //var title = $(this).text();
    //cd.renameFile(title, "<%= @avatar.name %>");
    //Best is to ask for the new filename _first_
    //and only enable [ok] button if it is valid
  });
  fileButtons.find('#rename').click(function() {
    if (isEnabled($(this))) {
      var title = $(this).text();
      cd.renameFile(title, "<%= @avatar.name %>");
    }
  });
  fileButtons.find('#delete').click(function() {
    if (isEnabled($(this))) {
      var title = $(this).text();        
      cd.deleteFile(title, "<%= @avatar.name %>");
    }
  });

});

//--></script>

<div id="file_operations">
  <table>
    <tr>
      <td>
        <div class="button"
             id="new">
          <%= t("views.buttons.new_file") %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="button"
             id="rename">
          <%= t("views.buttons.rename_file") %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="button"
             id="delete">
          <%= t("views.buttons.delete_file") %>
        </div>
      </td>
    </tr>
  </table>
</div>
