
<script type="text/javascript"><!--

$(document).ready(function() {

  var fileButtons =  $('#file_operations');
  
  fileButtons.find('#new').click(function() {
    //var title = $(this).text();
    cd.newFile();
    cd.allLineNumbersRefresh();
    //cd.renameFile(title, "<%= @avatar.name %>");
  });
  fileButtons.find('#rename').click(function() {
    var title = $(this).text();
    cd.renameFile(title, "<%= @avatar.name %>");
  });
  fileButtons.find('#delete').click(function() {
    var title = $(this).text();        
    cd.deleteFile(title, "<%= @avatar.name %>");
  });

});

//--></script>

<div id="file_operations">
  <table>
    <tr>
      <td>
        <div class="button"
             id="new">
          <%= t("views.buttons.new") %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="button"
             id="rename">
          <%= t("views.buttons.rename") %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="button"
             id="delete">
          <%= t("views.buttons.delete") %>
        </div>
      </td>
    </tr>
  </table>
</div>
