
<script type="text/javascript"><!--

$(document).ready(function() {

  var fileButtons =  $('#file-operations');

  fileButtons.find('#new').click(function() {
    var title = $(this).data('title');
    cd.newFile(title);
  });

  fileButtons.find('#rename').click(function() {
    var title = $(this).data('title');
    cd.renameFile(title);
  });

  fileButtons.find('#delete').click(function() {
    var title = $(this).data('title');
    cd.deleteFile(title);
  });

});

//--></script>

<div id="file-operations">
  <table>
    <tr>
      <td>
        <button type="button"
                id="new"
                data-title="<%= t('views.buttons.new_file') %>"
                class="tipped">
          <%= t('views.buttons.new_file') %>
          <div class="tooltip">
            creates a<br>new file
          </div>
        </button>
      </td>

      <td>
        <button type="button"
                id="rename"
                data-title="<%= t('views.buttons.rename_file') %>"
                class="tipped">
          <%= t('views.buttons.rename_file') %>
          <div class="tooltip">
            renames the<br>current file
          </div>
        </button>
      </td>

      <td>
        <button type="button"
                id="delete"
                data-title="<%= t('views.buttons.delete_file') %>"
                class="tipped">
          <%= t('views.buttons.delete_file') %>
          <div class="tooltip">
            deletes the<br>current file
          </div>
        </button>
      </td>
    </tr>
  </table>
</div>
