
<div>

<% size=30 -%>
<table style="margin-left:0.1em">
  <tr>
     <td class="file_op" 
         id="file_op_new"
         disabled="false" >
       <img src="/images/file-new-icon.png"
            alt="new"
            width="<%=size-%>"
            height="<%=size-%>"/><br/>
       <span class="file_op_name">new</span>
     </td>
     <td class="file_op" 
         disabled="false"
         id="file_op_rename" >
       <img src="/images/file-rename-icon.png"
            alt="rename"
            width="<%=size-%>"
            height="<%=size-%>"/><br/>
       <span class="file_op_name">rename</span>
     </td>
     <td class="file_op"
         disabled="false"
         id="file_op_delete" >
       <img src="/images/file-delete-icon.png"
            alt="delete"
            width="<%=size-%>"
            height="<%=size-%>"/><br/>
       <span class="file_op_name">delete</span>
     </td>
   </tr>
</table>

<div id="filename_list">
</div>

</div>

<script language="javascript" type="text/javascript"><!--
 
$('file_op_new').onclick = function() { newFile(); }; 
$('file_op_rename').onclick = function() { renameFile(); };
$('file_op_delete').onclick = function() { deleteFile(); };

//--></script>

