
<script type="text/javascript"><!--

$(document).ready(function() {

  var fileButtons =  $('#file_operations');
  
  var isEnabled = function(node) {
    return node.attr('disabled') !== 'disabled';
  };
    
  var newFile = fileButtons.find('#new');
  var renameFile = fileButtons.find('#rename');
  var deleteFile = fileButtons.find('#delete');
  
  newFile.click(function() {
    cd.newFile();
    cd.allLineNumbersRefresh();
    //Do immediate rename?
    //var title = $(this).text();
    //cd.renameFile(title, "<%= @avatar.name %>");
    //Best is to ask for the new filename _first_
    //and only enable [ok] button if it is valid
  });
  cd.tipify(newFile);
  
  renameFile.click(function() {
    if (isEnabled($(this))) {
      var title = $(this).text();
      cd.renameFile(title, "<%= @avatar.name %>");
    }
  });
  cd.tipify(renameFile);
  
  deleteFile.click(function() {
    if (isEnabled($(this))) {
      var title = $(this).text();        
      cd.deleteFile(title, "<%= @avatar.name %>");
    }
  });
  cd.tipify(deleteFile);
  
});

//--></script>

<div id="file_operations">
  
  <div class="table-row">
    <button type="button"
            id="new"
            value="<%= t('views.buttons.new_file') %>">
      <%= t('views.buttons.new_file') %>
      <div class="tooltip">
        Create a new file
      </div>
    </button>
  </div>
  
  <div class="table-row">
    <button type="button"
            id="rename"
            value="<%= t('views.buttons.rename_file') %>">
      <%= t('views.buttons.rename_file') %>
      <div class="tooltip">
        Rename the current file
      </div>                
    </button>
  </div>

  <div class="table-row">
    <button type="button"
            id="delete"
            value="<%= t('views.buttons.delete_file') %>">
      <%= t('views.buttons.delete_file') %>
      <div class="tooltip">
        Delete the current file
      </div>                        
    </button>    
  </div>
  
</div>

