
<script language="javascript" type="text/javascript"><!--

$(document).ready(function() {

  var fileButtons =  $('#file_operations');

  fileButtons.find('#new').click(function() {
    cd.newFile(); 
  });
  fileButtons.find('#rename').click(function() {
    cd.renameFile("<%= @avatar.name %>");
  });
  fileButtons.find('#delete').click(function() {
    cd.deleteFile("<%= @avatar.name %>");
  });

});

//--></script>

<div id="file_operations">
  <table>
    <tr>
      <td>
        <div class="button" id="new">
          <%= t("views.buttons.new") %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="button" id="rename">
          <%= t("views.buttons.rename") %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="button" id="delete">
          <%= t("views.buttons.delete") %>
        </div>
      </td>
    </tr>
  </table>
</div>
