
<script type="text/javascript"><!--

$(document).ready(function() {

  var fileButtons =  $('#file_operations');
  
  var isEnabled = function(node) {
    return node.attr('disabled') !== 'disabled';
  };
    
  var newFile = fileButtons.find('#new');
  var renameFile = fileButtons.find('#rename');
  var deleteFile = fileButtons.find('#delete');
  
  newFile.click(function() {
    cd.newFile();
    cd.allLineNumbersRefresh();
    //Do immediate rename?
    //var title = $(this).text();
    //cd.renameFile(title, "<%= @avatar.name %>");
    //Best is to ask for the new filename _first_
    //and only enable [ok] button if it is valid
  });
  renameFile.click(function() {
    if (isEnabled($(this))) {
      var title = $(this).text();
      cd.renameFile(title, "<%= @avatar.name %>");
    }
  });
  deleteFile.click(function() {
    if (isEnabled($(this))) {
      var title = $(this).text();        
      cd.deleteFile(title, "<%= @avatar.name %>");
    }
  });

  var tipSettings = {
    cancelDefault: true,
	predelay: 500,
	effect: 'toggle',
	position: 'top right',
	offset: [20,0],
	relative: true,
	delay: 0  
  };

  newFile.tooltip(tipSettings);
  renameFile.tooltip(tipSettings);
  deleteFile.tooltip(tipSettings);
  
});

//--></script>

<div id="file_operations">
  <table>
    <tr>
      <td>
        <input type="button"
               class="button"
               id="new"
               value="<%= t("views.buttons.new_file") %>">
          <div class="tooltip">
            Create a new file
          </div>
        </input>
      </td>
    </tr>
    <tr>
      <td>
        <input type="button"
               class="button"
               id="rename"
               value="<%= t("views.buttons.rename_file") %>">
          <div class="tooltip">
            Rename the current file
          </div>                
        </input>
      </td>
    </tr>
    <tr>
      <td>
        <input type="button"
               class="button"
               id="delete"
               value="<%= t("views.buttons.delete_file") %>">
          <div class="tooltip">
            Delete the current file
          </div>                        
        </input>
      </td>
    </tr>
  </table>
</div>
