
<div>

<% size=30 -%>
<table style="margin-left:0.1em">
  <tr>
     <td class="file_op" 
         id="file_op_new"
         onclick="newFile();">
       <img src="/images/file-new-icon.png"
            alt="new"
            width="<%=size-%>"
            height="<%=size-%>"/><br/>
       <span class="file_op_name">new</span>
     </td>
     <td class="file_op" 
         id="file_op_rename"         
         onclick="renameFile();">
       <img src="/images/file-rename-icon.png"
            alt="rename"
            width="<%=size-%>"
            height="<%=size-%>"/><br/>
       <span class="file_op_name">rename</span>
     </td>
     <td class="file_op"
         id="file_op_delete"
         onclick="deleteFile();">
       <img src="/images/file-delete-icon.png"
            alt="delete"
            width="<%=size-%>"
            height="<%=size-%>"/><br/>
       <span class="file_op_name">delete</span>
     </td>
   </tr>
</table>

<div id="filename_list">
</div>

</div>


