
<script type="text/javascript"><!--

$(document).ready(function() {

  var fileButtons =  $('#file_operations');
      
  fileButtons.find('#new').click(function() {
    cd.newFile();
    //Do immediate rename?
    //var title = $(this).text();
    //cd.renameFile(title, "<%= @avatar.name %>");
    //Best is to ask for the new filename _first_
    //and only enable [ok] button if it is valid
  });
  
  fileButtons.find('#rename').click(function() {
    var title = $(this).data('title');
    cd.renameFile(title, "<%= @avatar.name %>");
  });
  
  fileButtons.find('#delete').click(function() {
    var title = $(this).data('title');        
    cd.deleteFile(title, "<%= @avatar.name %>");
  });
  
});

//--></script>

<div id="file_operations">
    
  <div class="table-row">
    <button type="button"
            id="rename"
            data-title="<%= t('views.buttons.rename_file') %>"
            class="tipped"
            value="<%= t('views.buttons.rename_file') %>">
      <%= t('views.buttons.rename_file') %>
      <div class="tooltip">
        Rename the current file
      </div>                
    </button>
  </div>

  <div class="table-row">
    <button type="button"
            id="delete"
            data-title="<%= t('views.buttons.delete_file') %>"            
            class="tipped"
            value="<%= t('views.buttons.delete_file') %>">
      <%= t('views.buttons.delete_file') %>
      <div class="tooltip">
        Delete the current file
      </div>                        
    </button>    
  </div>
  
  <div class="table-row">
    <button type="button"
            id="new"
            class="tipped"
            value="<%= t('views.buttons.new_file') %>">
      <%= t('views.buttons.new_file') %>
      <div class="tooltip">
        Create a new file
      </div>
    </button>
  </div>
  
</div>

