
<script type="text/javascript"><!--

$(function() {

  var fileButtons =  $('#file-operations');

  fileButtons.find('#new')
    .click(function() { cd.newFile($(this).data('title')); });

  fileButtons.find('#rename')
    .click(function() { cd.renameFile($(this).data('title')); });

  fileButtons.find('#delete')
    .click(function() { cd.deleteFile($(this).data('title')); });

});

//--></script>

<div id="file-operations">
  <button type="button"
          id="new"
          data-title="<%= t('views.buttons.new_file') %>"
          title="creates a new file">
    <%= t('views.buttons.new_file') %>
  </button>
  <button type="button"
          id="rename"
          data-title="<%= t('views.buttons.rename_file') %>"
          title="renames the current file">
    <%= t('views.buttons.rename_file') %>
  </button>
  <button type="button"
          id="delete"
          data-title="<%= t('views.buttons.delete_file') %>"
          title="deletes the current file">
    <%= t('views.buttons.delete_file') %>
  </button>
</div>
