
<% size=25 -%>

<div>
  <table>
    <tr>
      <td class="file_op"
          id="file_op_new"
          title="create a new file"
          onclick="newFile();" >
        <div class="file_op_name">new</div>
        <img src="/images/file-new-icon.png"
             alt="new"
             width="<%=size-%>"
             height="<%=size-%>"/><br/>
      </td>
      <td class="file_op"
          id="file_op_rename"
          title="rename the current file"
          onclick="renameFile();" >
        <div class="file_op_name">rename</div>
        <img src="/images/file-rename-icon.png"
             alt="rename"
             width="<%=size-%>"
             height="<%=size-%>"/><br/>
      </td>
      <td class="file_op"
          id="file_op_delete"
          title="delete the current file"
          onclick="deleteFile();" >
        <div class="file_op_name">delete</div>
        <img src="/images/file-delete-icon.png"
             alt="delete"
             width="<%=size-%>"
             height="<%=size-%>"/><br/>
      </td>
    </tr>
  </table>
</div>


