
<script type="text/javascript"><!--

$(function() {

  var fileButtons =  $('#file-operations');
  var expired = <%= @kata.expired? %>;

  fileButtons.find('#new')
    .click(function() { cd.newFile($(this).data('title')); })
    .prop('disabled', expired);

  fileButtons.find('#rename')
    .click(function() { cd.renameFile($(this).data('title')); })
    .prop('disabled', expired);

  fileButtons.find('#delete')
    .click(function() { cd.deleteFile($(this).data('title')); })
    .prop('disabled', expired);

});

//--></script>

<div id="file-operations">
  <button type="button"
          id="new"
          data-title="<%= t('views.buttons.new_file') %>"
          data-expired="<%= @kata.expired? %>"
          title="creates a new file">
    <%= t('views.buttons.new_file') %>
  </button>
  <div style="clear:both;"></div>
  <button type="button"
          id="rename"
          data-title="<%= t('views.buttons.rename_file') %>"
          data-expired="<%= @kata.expired? %>"
          title="renames the current file">
    <%= t('views.buttons.rename_file') %>
  </button>
  <div style="clear:both;"></div>
  <button type="button"
          id="delete"
          data-title="<%= t('views.buttons.delete_file') %>"
          data-expired="<%= @kata.expired? %>"
          title="deletes the current file">
    <%= t('views.buttons.delete_file') %>
  </button>
</div>
