
<script language="javascript" type="text/javascript"><!--

var addEvent;

if (document.addEventListener) {
    addEvent = function(element, type, handler) {
        element.addEventListener(type, handler, null);
    }
}
else if (document.attachEvent) {
    addEvent = function(element, type, handler) {
    element.attachEvent("on" + type, handler);
    }
}
else {
    addEvent = new Function; // not supported
}

document.observe('dom:loaded', function() 
{
  addEvent($('file_op_new'),    'click', newFile, false); 
  addEvent($('file_op_rename'), 'click', renameFile, false);
  addEvent($('file_op_delete'), 'click', deleteFile, false);
});
//--></script>


<div>

<% size=30 -%>
<table style="margin-left:0.1em">
  <tr>
     <td class="file_op" 
         id="file_op_new"
         disabled="false" >
       <img src="/images/file-new-icon.png"
            alt="new"
            width="<%=size-%>"
            height="<%=size-%>"/><br/>
       <span class="file_op_name">new</span>
     </td>
     <td class="file_op" 
         disabled="false"
         id="file_op_rename" >
       <img src="/images/file-rename-icon.png"
            alt="rename"
            width="<%=size-%>"
            height="<%=size-%>"/><br/>
       <span class="file_op_name">rename</span>
     </td>
     <td class="file_op"
         disabled="false"
         id="file_op_delete" >
       <img src="/images/file-delete-icon.png"
            alt="delete"
            width="<%=size-%>"
            height="<%=size-%>"/><br/>
       <span class="file_op_name">delete</span>
     </td>
   </tr>
</table>

<div id="filename_list">
</div>

</div>

