
<script type="text/javascript"><!--

$(document).ready(function() {

  $('#fork-button').click(function() {
    var button = $(this);
    var title = button.data('title');
    var cancel = button.data('cancel');
    var id = "<%= @kata.id %>";
    var avatarName = "<%= @avatar.name %>";
    var maxTag = parseInt($('.traffic-light-count').text());
    var tag = maxTag;
    cd.dialog_fork(title, cancel, id, avatarName, tag, maxTag, button);
  });

});

//--></script>

<button type="button"
        id="fork-button"
        class="tipped"
        data-title="<%= t('views.buttons.fork') %>"
        data-cancel="<%= t('views.buttons.cancel') %>">
  <%= raw t('views.buttons.fork') %>
  <div class="tooltip">
    forks a new dojo<br>from any traffic-light
  </div>
</button>
