
<% # TODO: once the visible_filenames_container is removed below I can skip the div here -%>
<% # TODO: and also delete the hidden styles from cyberdojo.css -%>

<div id="hidden_file_contents">
  <% # When run-tests is clicked the javascript preRunTests() function copies  -%>
  <% # the contents of currently edited file to its input below -%>
  <% # before submitting the form. On the server rails grabs the file contents -%>
  <% # from these hidden inputs and not from the main textarea editor. -%>
  <div id="visible_files_container">
    <% @manifest[:visible_files].each do |filename,file| -%>
    <input type="hidden"
           name="file_content['<%=filename-%>']"
           id="file_content['<%=filename-%>']"
           value="<%= h file[:content] -%>">
    <input type="hidden"
           name="file_caret_pos['<%=filename-%>']"
           id="file_caret_pos['<%=filename-%>']"
           value="<%= h file[:caret_pos] -%>">
    <% end -%>
  </div>

  <% # The server extracts each filename from between the semi-colons. -%>
  <textarea id="visible_filenames_container"
            name="visible_filenames_container">
    ;<% @manifest[:visible_files].each do |filename,file| -%><%=filename-%>;<% end -%>   
  </textarea>

</div>

