
<% # When run-tests is clicked the javascript preRunTests() function copies  -%>
<% # the contents of currently edited file to its input below -%>
<% # before submitting the form. On the server rails grabs the file contents -%>
<% # from these hidden inputs and not from the main textarea editor. -%>

<div id="visible_files_container">
  <% @manifest[:visible_files].each do |filename,file| -%>
  <input type="hidden"
         name="file_content['<%=filename-%>']"
         id="file_content_for_<%=filename-%>"
         value="<%=h file[:content]-%>"/>
  <input type="hidden"
         name="file_caret_pos['<%=filename-%>']"
         id="file_caret_pos_for_<%=filename-%>"
         value="<%=h file[:caret_pos]-%>"/>         
  <input type="hidden"
         name="file_scroll_top['<%=filename-%>']"
         id="file_scroll_top_for_<%=filename-%>"
         value="<%=h file[:scroll_top]-%>"/>
  <input type="hidden"
         name="file_scroll_left['<%=filename-%>']"
         id="file_scroll_left_for_<%=filename-%>"
         value="<%=h file[:scroll_left]-%>"/>         
  <% end -%>
</div>

<input type="hidden"
       name="current_filename"
       id="current_filename"
       value="<%=@manifest[:current_filename]-%>"/>


