
<div id="increments_panel">

<table cellpadding="2px">
  <tr>
    <% @increments.each do |increment| -%>
    <td class="mid_tone traffic_light">
      <div class="<%= increment[:outcome] -%> <%= increment[:r] -%> increment"></div>
      <div class="<%= increment[:outcome] -%> <%= increment[:y] -%> increment"></div>
      <div class="<%= increment[:outcome] -%> <%= increment[:g] -%> increment"></div>
    </td>
    <% end -%>
  </tr>
</table>

<table style="float:right;">
  <tr>
    <% size = 30 -%>
    <td id="play" 
        style="visibility:visible">
      <input type="image" 
             width="<%=size-%>" 
             height="<%=size-%>" 
             title="Run cyberdojo.sh on the server"
             src="/images/triangle.gif"/>
    </td>

    <td id="run_tests_spinner" 
        style="display:none"> 
      <span>
        <img src="/images/spinner.gif"
             width="<%=size-%>" 
             height="<%=size-%>" 
             alt="Spinny Thing"/>
      </span>
    </td> 

  </tr>
</table>

</div>

