
<table cellpadding="2px">
  <tr>
    <% @increments.each do |increment| -%>
      <td>
        <span class="<%= increment[:outcome].to_s -%> increment-box" 
              title="<%=increment[:info]-%>"-%>
          <% if @editable -%> 
            <a href="/kata/see_one_increment/<%= @kata_id -%>?avatar=<%= @avatar-%>&increment=<%= increment[:number]-%>" target="_blank">
          <% else -%>
            <a href="/kata/see_one_increment/<%= @kata_id -%>?avatar=<%= @avatar-%>&increment=<%= increment[:number]-%>">
          <% end -%>
            <%= increment[:number] -%>
          </a>
        </span>
      </td>
    <% end -%>

    <td id="run_tests_spinner" style="display:none;"> 
      <span class="temp increment-box">
        <%= image_tag "spinner.gif" -%>
      </span>
    </td> 

  </tr>
</table>

