
<table cellpadding="2px">
  <tr>
    <td>
      <a href="/dojo/index/<%= @kata.id -%>">
        <img height="25"
             width="25"
             src="/images/logo.gif"
             title="Cyber-Dojo Homepage" />
      </a> 
    </td>

    <% @increments.each do |increment| -%>
      <td>
          <% if @editable -%> 
            <a class="<%= increment[:prediction]-%>_prediction <%= increment[:outcome] -%> increment box" 
               href="/kata/see_one_increment/<%= @kata_id -%>?avatar=<%= @avatar-%>&increment=<%= increment[:number]-%>" target="_blank" >
          <% else -%>
            <a class="<%= increment[:prediction]-%>_prediction <%=increment[:outcome] -%> increment box" 
               href="/kata/see_one_increment/<%= @kata_id -%>?avatar=<%= @avatar-%>&increment=<%= increment[:number]-%>" >
          <% end -%>
            &thinsp;
            <span><%= increment[:number] -%>:<%= increment[:info] -%></span>
          </a>
      </td>
    <% end -%>

    <td id="run_tests_spinner" style="display:none;"> 
      <span class="spinner increment box">
        <%= image_tag "spinner.gif" -%>
      </span>
    </td> 

  </tr>

</table>

