
<table cellpadding="2px">
  <tr>

    <td>
      <%= @shown_increment_number -%>
    </td>

    <% limited(@increments).each do |increment| -%>
    <td>
        <a class="<%= increment[:prediction]-%>_prediction <%= increment[:outcome] -%> increment box" 
           href="/kata/see_one_increment/<%= @kata.id -%>?avatar=<%= @kata.avatar.name-%>&increment=<%= increment[:number]-%>" 
          <% if !@kata.readonly -%>        
            target="_blank" 
          <% end -%> >
          &thinsp;
          <span><%= increment[:number] -%>:<%= increment[:info] -%></span>
        </a>
    </td>
    <% end -%>

    <td id="run_tests_spinner" style="display:none;"> 
      <span>
        <%= image_tag "spinner.gif" -%>
      </span>
    </td> 

  </tr>
</table>

