
<div id="increments_panel"
     class="panel">

<table cellpadding="2px">
  <tr>
    <% size = 22 -%>
    <td id="play" 
        style="visibility:visible">
      <input type="image" 
             width="<%=size-%>" 
             height="<%=size-%>" 
             title="Run kata.sh on the CyberDojo server"
             src="/images/PlayButton.svg.thumb.png"/>
    </td>

    <td id="run_tests_spinner" 
        style="display:none"> 
      <span>
        <img src="/images/spinner.gif"
             width="<%=size-%>" 
             height="<%=size-%>" 
             alt="Spinny Thing"/>
      </span>
    </td> 

    <% @increments.each do |increment| -%>
    <td>
      <div class="<%= increment[:outcome] -%> increment">
         &thinsp;
      </div>
    </td>
    <% end -%>

  </tr>
</table>

</div>

