
<table cellpadding="2px">
  <tr>

    <td>
      <%= @shown_increment_number -%>
    </td>

    <% limited(@increments).each do |increment| -%>
    <td>
      <a class="<%= increment[:prediction]-%>_prediction <%= increment[:outcome] -%> rounded increment" 
         href="/kata/see_one_increment/<%=h @dojo.id -%>?kata_id=<%=CGI::escape(@kata.id) -%>&avatar=<%=h  @kata.avatar.name-%>&increment=<%=h increment[:number]-%>" 
         <% if !@kata.readonly -%>        
           target="_blank" 
         <% end -%> >
         &thinsp;
         <span><%= increment[:number] -%>:<%= increment[:info] -%></span>
      </a>
    </td>
    <% end -%>

    <td id="run_tests_spinner" 
        style="display:none;"> 
      <span>
        <%= image_tag "spinner.gif" -%>
      </span>
    </td> 

  </tr>
</table>

