
<table>
  <tr>
    <td>
      <%= render :partial => 'fork_button' %>
    </td>
  </tr>
  <tr>
    <td>
      <%= render :partial => 'line_numbers_button' %>
    </td>
  </tr>
  <tr>
    <td>
      <%= render :partial => 'revert_button' %>
    </td>
  </tr>
  <tr>
    <td>
      <%= render :partial => 'review_button' %>
    </td>
  </tr>
  <tr>
    <td>
      <%= render :partial => 'help_button' %>
    </td>
  </tr>  
</table>
