

<div id="money_ladder">

<% size = 45 -%>

<table>
  <% @money_ladder[:failed_rungs].each do |rung| -%>
  <tr>
    <td>
      <img src="/images/avatars/<%=rung[:avatar]-%>.jpg"
           width="<%=size-%>"
           height="<%=size-%>"
           title="<%=rung[:avatar]-%>" />
    </td>
    <td>
      <img src="/images/avatars/<%=rung[:avatar]-%>.jpg"
           width="<%=size-%>"
           height="<%=size-%>"
           title="<%=rung[:avatar]-%>" />
    </td>
    <td class="money_rung failed amount">
      <%= commatize(rung[:amount]) -%>
    </td>
  </tr>
  <% end -%>

  <% @money_ladder[:error_rungs].each do |rung| -%>
  <tr>
    <td>
      <img src="/images/avatars/<%=rung[:avatar]-%>.jpg"
           width="<%=size-%>"
           height="<%=size-%>"
           title="<%=rung[:avatar]-%>" />
    </td>
    <td>
      <img src="/images/avatars/<%=rung[:avatar]-%>.jpg"
           width="<%=size-%>"
           height="<%=size-%>"
           title="<%=rung[:avatar]-%>" />      
    </td>
    <td class="money_rung error amount">
      <%= commatize(rung[:amount]) -%>
    </td>
  </tr>
  <% end -%>

  <% @money_ladder[:passed_rungs].each do |rung| -%>
  <tr>
    <td>
      <img src="/images/avatars/<%=rung[:avatar]-%>.jpg"
           width="<%=size-%>"
           height="<%=size-%>"
           title="<%=rung[:avatar]-%>" />
    </td>
    <td>
      <img src="/images/avatars/<%=rung[:avatar]-%>.jpg"
           width="<%=size-%>"
           height="<%=size-%>"
           title="<%=rung[:avatar]-%>" />      
    </td>
    <td class="money_rung passed amount">
      <%= commatize(rung[:amount]) -%>
    </td>
  </tr>
  <% end -%>

  <tr>
    <td colspan="2">
      <% if @money_ladder[:passed_rungs].size > 0 -%>
        <%= button_to_remote("Bank", {:update => 'money_ladder', 
                                      :url => { :action => 'bank',
                                                :dojo => @dojo.name }},
                                     {:id=>'bank_button'}) -%>
      <% end -%>
    </td>
    <td class="money_rung total amount">
      <%= commatize(@money_ladder[:balance]) -%>      
    </td>
  </tr>

</table>

<% if @money_ladder[:sound_alarm] -%>  
  <!-- this will repeat the Ding until the next periodically_call refresh which -->
  <!-- will, on average, be 5 (half the frequency) --> 
  <embed src="/sounds/Ding.wav" hidden="true" autostart="true" loop="true">
<% end -%>

</div>

