

<div id="money_ladder">

<% size = 27 -%>

<!--

<table>
  <tr>
    <td>
      <img src="/images/avatars/lions.jpg"
           width="<%=size-%>"
           height="<%=size-%>"
           title="Lions" />
      <img src="/images/avatars/lions.jpg"
           width="<%=size-%>"
           height="<%=size-%>"
           title="Lions" />      
    </td>
    <td class="money_rung failed amount">
      1,008,000
    </td>
  </tr>

  <tr>
    <td>
      <img src="/images/avatars/snakes.jpg"
           width="<%=size-%>"
           height="<%=size-%>"
           title="Snakes" />
      <img src="/images/avatars/snakes.jpg"
           width="<%=size-%>"
           height="<%=size-%>"
           title="Snakes" />      
    </td>
    <td class="money_rung error amount">
      144,000
    </td>
  </tr>

  <tr>
    <td>
      <img src="/images/avatars/frogs.jpg"
           width="<%=size-%>"
           height="<%=size-%>"
           title="Frogs" />
      <img src="/images/avatars/frogs.jpg"
           width="<%=size-%>"
           height="<%=size-%>"
           title="Frogs" />      
    </td>
    <td class="money_rung passed top amount">
      24,000
    </td>
  </tr>

  <tr>
    <td>
      <img src="/images/avatars/alligators.jpg"
           width="<%=size-%>"
           height="<%=size-%>"
           title="Alligators" />
      <img src="/images/avatars/alligators.jpg"
           width="<%=size-%>"
           height="<%=size-%>"
           title="Alligators" />
    </td>
    <td class="money_rung passed amount">
      4,800
    </td>
  </tr>

  <tr>
    <td>
    </td>
    <td class="money_rung total amount">
      125,600
    </td>
  </tr>

  <tr>
    <td>
    </td>
    <td class="money_rung bank_button">
      Bank
    </td>
  </tr>

</table>

-->

</div>

