<div id="money_ladder">
  <table>
    <%= rungs(@money_ladder, "blank") -%>
    <%= rungs(@money_ladder, "failed") -%>
    <%= rungs(@money_ladder, "error") -%>
    <%= rungs(@money_ladder, "passed") -%>
    <tr>
      <td colspan="2">
        Banked
      </td>
      <td class="money_rung total amount">
        <%= commatize(@money_ladder[:balance]) -%>      
      </td>
      <td>
      </td>
    </tr>
  </table>
</div>

