<div id="money_ladder">

<table>

  <% @money_ladder[:blank_rungs].each do |rung| -%>
    <%= money_rung(rung, "blank") -%>
  <% end -%>

  <% @money_ladder[:failed_rungs].each do |rung| -%>
    <%= money_rung(rung, "failed") -%>
  <% end -%>

  <% @money_ladder[:error_rungs].each do |rung| -%>
    <%= money_rung(rung, "error") -%>
  <% end -%>

  <% @money_ladder[:passed_rungs].each do |rung| -%>
    <%= money_rung(rung, "passed") -%>
  <% end -%>

  <tr>
    <td colspan="2">
      <% if @money_ladder[:passed_rungs].size > 0 -%>
        <%= button_to_remote("Bank", {:update => 'money_ladder', 
                                      :url => { :action => 'bank',
                                                :dojo => @dojo.name }},
                                     {:id=>'bank_button'}) -%>
      <% end -%>
    </td>
    <td class="money_rung total amount">
      <%= commatize(@money_ladder[:balance]) -%>      
    </td>
  </tr>

</table>

</div>

