
<script type="text/javascript"><!--

$(function() {

  $('#revert-button')
    .click(function() {
	  var button = $(this);
	  var title = button.data('title');
	  var cancel = button.data('cancel');
	  var maxTag = parseInt($('.traffic-light-count').text());
	  cd.dialog_revert(title, cancel, "<%= @kata.id %>", "<%= @avatar.name %>", maxTag, maxTag, button);
	});
	
  $('#fork-button')
    .click(function() {
	  var button = $(this);
	  var title = button.data('title');
	  var cancel = button.data('cancel');
	  var id = "<%= @kata.id %>";
	  var avatarName = "<%= @avatar.name %>";
	  var maxTag = parseInt($('.traffic-light-count').text());
	  var tag = maxTag;
	  cd.dialog_fork(title, cancel, id, avatarName, tag, maxTag, button);
	});

});

//--></script>

<div id="revert-fork-container">
  <button type="button"
		  id="revert-button"
		  title="reverts to any previous traffic-light"
		  data-title="<%= t('views.buttons.revert') %>"
		  data-cancel="<%= t('views.buttons.cancel') %>">
	<%= raw t('views.buttons.revert') %>
  </button>
  <div style="clear:both;"></div>
  <button type="button"
		  id="fork-button"
		  title="forks a new dojo from any traffic-light"
		  data-title="<%= t('views.buttons.fork') %>"
		  data-cancel="<%= t('views.buttons.cancel') %>">
	<%= raw t('views.buttons.fork') %>
  </button>
</div>
