
<script type="text/javascript"><!--

$(document).ready(function() {
  
  var lights = $('.diff-traffic-light');
  lights.click(function() {
    var title = "<%= t('views.buttons.diff_review') %>";	
    var id = $(this).data('id');
    var avatarName = $(this).data('avatar-name');
    var wasTag = $(this).data('was-tag');
    var nowTag = $(this).data('now-tag');
    var maxTag = $(this).data('max-tag');
    cd.dialog_diff(title, id, avatarName, wasTag, nowTag, maxTag);
  });
  cd.tipify(lights);
  
});

//--></script>

<div id="traffic_lights">
  <table>
    <tr class="row">
      
      <% max_lights = 35 %>                
      <% recent(@traffic_lights, max_lights).each do |light| %>
        <td>
		  <%= diff_traffic_light(@kata, @avatar.name, light, @traffic_lights.length) %>			
        </td>
      <% end %>
      
      <td>
		<%= render :partial => 'shared/traffic_light_bulb_counts',
				   :locals  => { :traffic_lights => @traffic_lights,
							 	 :avatar_name    => translate_avatar(@avatar.name)
							   } %>
      </td>
	  
      <td>
		<%= render :partial => 'shared/traffic_light_count',
				   :locals  => { :traffic_lights => @traffic_lights,
								 :avatar_name    => translate_avatar(@avatar.name)
							   } %>
      </td>
	  
	  <td>
		<%= render :partial => 'shared/avatar_image',
		           :locals => { :target => '_blank' } %>
		
		<%= render :partial => 'shared/avatar_name',
				   :locals  => { :avatar_name => @avatar.name 
							   } %>		
	  </td>
	  
    </tr>      
  </table>
</div>

