
<script type="text/javascript"><!--

$(document).ready(function() {
  
  var title = "<%= t('views.buttons.diff_review') %>";
  var lights = $('.diff-traffic-light');
  cd.setupDiffHandlerHandlers(lights, title);
  
  cd.tipify(lights);
  cd.tipify($('.tag_count .red'));
  cd.tipify($('.tag_count .amber'));
  cd.tipify($('.tag_count .green'));
  cd.tipify($('#traffic_light_count'));
  cd.tipify($('.avatar_image'));
});

//--></script>

<div id="traffic_lights">
  <table>
    <tr class="row">
      
      <% max_lights = 35 %>                
      <% recent(@traffic_lights, max_lights).each do |light| %>
        <td>
		  <%= diff_traffic_light(@kata, @avatar.name, light, @traffic_lights.length) %>			
        </td>
      <% end %>
      
      <td>
		<%= render :partial => 'shared/traffic_light_bulb_counts',
				   :locals  => { :traffic_lights => @traffic_lights,
							 	 :avatar_name    => translate_avatar(@avatar.name)
							   } %>
      </td>
	  
      <td>
		<%= render :partial => 'shared/traffic_light_count',
				   :locals  => { :traffic_lights => @traffic_lights,
								 :avatar_name    => translate_avatar(@avatar.name)
							   } %>
      </td>
	  
	  <td>
		<%= render :partial => 'avatar_image' %>
		
		<%= render :partial => 'shared/avatar_name',
				   :locals  => { :avatar_name => @avatar.name 
							   } %>		
	  </td>
	  
    </tr>      
  </table>
</div>

