
<script type="text/javascript"><!--

$(function() {

  var review = $('#review-dialog')
    .dialog({
        dialogClass: 'no-title',
              width: 1150,
             height: 650,
              modal: true,
           autoOpen: false,
      closeOnEscape: true,
    });

  cd.setupReviewTrafficLight = function(lights) {
    lights.each(function() {
      var light = $(this);
      var wasTag = light.data('was-tag');
      var nowTag = light.data('now-tag');
      light.click(function() {
        cd.setReviewDialogData("<%= @kata.id %>", "<%= @avatar.name %>", wasTag, nowTag);
        review.dialog('open');
      });
      // TODO: tip-plumbing duplication
      light.mouseenter(function() {
        light.removeClass('mouse-has-left');
        var tip = 'Review ' + wasTag + '&harr;' + nowTag;
        cd.setHoverTip(light, tip);
      });
      light.mouseleave(function() {
        light.addClass('mouse-has-left');
        $('.hover-tip', light).remove();
      });

    });
  };

  cd.setupReviewTrafficLight($('.diff-traffic-light'));

});

//--></script>

<div id="traffic-lights">
  <table>
    <tr>
      <% @avatar.lights.each do |light| %>
        <td><%= raw simple_diff_traffic_light(light) %></td>
      <% end %>
      <td><%= render partial: 'traffic_lights_count' %></td>
      <td><%= render partial: 'traffic_lights_pie_chart' %></td>
      <td><%= render partial: 'avatar_image' %></td>
    </tr>
  </table>
</div>

<div style="display:none;">
  <div id="review-dialog">
    <%= render(:partial => 'review/review') %>
  </div>
</div>