
<div id="traffic_lights">
  <table>
    <tr class="row">
      
      <td>
        <div id="revert_tip">
                Click<br/>
                to &rarr;<br/>
                revert<br/>
        </div>
      </td>                  
      
      <% max_lights = 35 %>                
      <% recent(@traffic_lights, max_lights).each do |light| %>
        <td>
          <span onclick="cd.dialog_revert('<%=@kata.id%>', '<%=@avatar.name%>', <%=light[:number]%>);">
            <%= revert_traffic_light(light) %>
	      </span>          
        </td>
      <% end %>
      
      <td>
        <%= render :partial => 'current_traffic_light_count' %>
      </td>
      
	  <td>
        <%= render :partial => 'test_button' %>		
	  </td>
    </tr>      
  </table>
</div>

