
<div id="traffic_lights">
  <table>
    <tr class="row">
      
      <% in_new_window = true %>
      <% max_lights = 35 %>                
      <% recent(@traffic_lights, max_lights).each do |light| %>
        <td>
		  <%= linked_traffic_light(@kata, @avatar.name, light, in_new_window) %>			
        </td>
      <% end %>
      
      <td>
		<%= render :partial => 'shared/traffic_light_bulb_counts',
				   :locals  => { :traffic_lights => @traffic_lights,
							 	 :avatar_name    => translate_avatar(@avatar.name)
							   } %>
      </td>
	  
      <td>
		<%= render :partial => 'shared/traffic_light_count',
				   :locals  => { :traffic_lights => @traffic_lights,
								 :avatar_name    => translate_avatar(@avatar.name)
							   } %>
      </td>
	  
	  <td>
		<%= render :partial => 'shared/avatar_image',
		           :locals => { :target => '_blank' } %>
		
		<%= render :partial => 'shared/avatar_name',
				   :locals  => { :avatar_name => @avatar.name 
							   } %>		
	  </td>
	  
    </tr>      
  </table>
</div>

