
<script type="text/javascript"><!--

$(function() {

  var review = $('#review-dialog')
    .dialog({
        dialogClass: 'no-title',
              width: 1150,
             height: 650,
              modal: true,
           autoOpen: false,
      closeOnEscape: true,
    });

  $('.diff-traffic-light').click(function() {
    var light = $(this);
    var wasTag = light.data('was-tag');
    var nowTag = light.data('now-tag');
    cd.setupReviewDialog("<%= @kata.id %>", "<%= @avatar.name %>", wasTag, nowTag);
    review.dialog('open');
  });

  cd.setupHoverTips();

  var allTheWay = 100000;
  $('#traffic-lights').scrollLeft(allTheWay);

});

//--></script>

<div id="traffic-lights-container">
  <div id="traffic-lights">
    <% @avatar.lights.each do |light| %>
      <%= raw diff_traffic_light(light) %>
    <% end %>

    <% if @avatar.active? %>
      <div class="traffic-lights-count">
        <%= render partial: 'traffic_lights_count' %>
      </div>
      <div id="pie-chart">
        <%= render partial: 'pie_chart' %>
      </div>
    <% end %>

    <%= render partial: 'avatar_image' %>

  </div>
</div>
