
<table cellpadding="0">
  <tr valign="top">
    <td>
      <%= render :partial => 'avatar_pair' -%>
      <%= render :partial => 'increments_panel' -%>
      <%= render :partial => 'filenames_panel' -%>
    </td>
    <td>
      <%= render :partial => 'editor_panel' -%>
    </td>
    <td>
      <%= render :partial => 'output' -%>
    </td>
  </tr>
</table>



