
<table cellpadding="0">
  <tr valign="top">
    <td>
      <div class="panel">
        <%= link_to "#{@dojo.name}", 
             { :controller => :dojo, :action => :dashboard, :dojo_name => "#{@dojo.name}" }, 
             { :class => "title", :target => "_blank" } -%>
        <div>
          <%= avatar_image(@avatar.name, 65) -%>
        </div>
 
        <span class="small_title"><%= @kata.language -%></span>
        <span class="small_title"><%= @kata.name -%></span>
      </div>
           
      <div class="panel">
        <%= render :partial => 'filenames' -%>
      </div>
    </td>
    <td>
      <%= render :partial => 'editor' -%>
    </td>
  </tr>
  <tr valign="top">
    <td>
      <table class="panel">
        <tr>
          <td>
            <table style="float:left;">
              <tr>
                <td>
                  <%= render :partial => 'prev_increment_button' -%>
                </td>                
                <td>
                  <span id="increment_number"><%= @increments.length.to_s -%></span>
                </td>                
                <td>
                  <%= render :partial => 'next_increment_button' -%>                      
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <%= render :partial => 'increments' -%>
          </td>
         </tr>
       </table>
    </td>
    <td>
      <%= render :partial => 'output' -%>
    </td>
  </tr>
</table>
                   

