
<table cellpadding="0">
  <tr valign="top">
    <td>
      <%= render :partial => 'avatar_pair' -%>
      
      <span class="small_title"><%= @kata.language -%></span>
      <span class="small_title"><%= @kata.name -%></span>
           
      <%= render :partial => 'filenames_panel' -%>
    </td>
    <td>
      <%= render :partial => 'editor_panel' -%>
    </td>
    <td rowspan=2>
      <%= render :partial => 'rotation' -%>
      <span class="title"><%= @dojo.name -%></span> 
      <%= render :partial => 'ladder' -%>
    </td>
  </tr>
  <tr valign="top">
    <td>
      <table style="float:right;">
        <tr>
          <td>
            <%= render :partial => 'play_button' -%>
          </td>
        </tr>
        <tr>
          <td>
            <%= render :partial => 'increments_panel' -%>
          </td>
         </tr>
       </table>
    </td>
    <td>
      <%= render :partial => 'output' -%>
    </td>
  </tr>
</table>


<%= periodically_call_remote :url => { :action => 'heartbeat',
                                       :dojo => @dojo.name,
                                       :avatar => @avatar.name
                                     }, 
                             :frequency => 5 -%>                
                   

