
<table cellpadding="0">
  <tr valign="top">
    <td>
      <div id="avatar_pair">
        <%= avatar_image(@avatar.name, 65) -%> 
        <%= avatar_image(@avatar.name, 65) -%>        
      </div>

      <span class="small_title"><%= @kata.language -%></span>
      <span class="small_title"><%= @kata.name -%></span>
           
      <%= render :partial => 'fileops' -%>
      <%= render :partial => 'filenames' -%>
    </td>
    <td>
      <%= render :partial => 'editor' -%>
    </td>
    <td rowspan=2>
      <%= link_to "#{@dojo.name}", 
             { :controller => :dojo, :action => :dashboard, :dojo_name => "#{@dojo.name}" }, 
             { :class => "title", :target => "_blank" } -%>
    </td>
  </tr>
  <tr valign="top">
    <td>
      <table style="float:right;">
        <tr>
          <td>
            <table style="float:right;">
              <tr>
                <td>
                  <%= render :partial => 'prev_increment_button' -%>
                </td>                
                <td>
                  <span id="increment_number"><%= @increments.length.to_s -%></span>
                </td>                
                <td>
                  <%= render :partial => 'next_increment_button' -%>                      
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <%= render :partial => 'increments' -%>
          </td>
         </tr>
       </table>
    </td>
    <td>
      <%= render :partial => 'output' -%>
    </td>
  </tr>
</table>
                   

