
<table cellpadding="0">
  <tr valign="top">
    <td>
      <%= render :partial => 'avatar_pair' -%>
      <span class="title">CyberDojo: <%= @dojo.name -%></span> 
      <span class="title">Language: <%=@kata.language -%></span>
      <span class="title">Kata: <%= @kata.name -%></span>
      <%= render :partial => 'filenames_panel' -%>
    </td>
    <td>
      <%= render :partial => 'editor_panel' -%>
    </td>
    <td>
      <%= render :partial => 'money_ladder' -%>
      <%= periodically_call_remote :url => { :action => 'money_ladder' }, 
            :frequency => 5 %>
    </td>
  </tr>
  <tr valign="top">
    <td>
      <%= render :partial => 'increments_panel' -%>
    </td>
    <td>
      <%= render :partial => 'output' -%>
    </td>
  </tr>
</table>



