
<table cellpadding="0">
  <tr valign="top">
    <td>
      <%= render :partial => 'avatar_pair' -%>
      <%= render :partial => 'increments_panel' -%>
      <%= render :partial => 'file_menu_panel' -%> 
      <%= render :partial => 'filenames_panel' -%>
    </td>
    <td>
      <%= render :partial => 'editor_panel' -%>
    </td>
    <td>
      <span class="title"><%= @dojo.name -%></span>
      <span class="title"><%= @kata.name -%></span>
    </td>
  </tr>
</table>



