
<div class="filename_div"
     id="<%= filename %>_div">
  <table>
    <tr class="valign-top">
      <td>
        <div class="line_numbers"
                id="<%= filename %>_line_numbers">
        </div>
      </td>
      <td>
        <% if filename != 'output' %>
          <textarea class="file_content"
                    spellcheck="false"
                    data-filename="<%= filename %>"
                    name="file_content[<%= filename %>]"
                    id="file_content_for_<%= filename %>"
                    wrap="off">
<%= h content %></textarea>
        <% else %>
          <%= render partial: 'output' %>
        <% end %>
      </td>
    </tr>
  </table>
</div>
