
<script language="javascript" type="text/javascript"><!--

$(document).ready(function() {
  
  cd.tabExpansion = function() {
    return "<%= @tab %>";
  };
  
  cd.supportFilenames = function() {
    return $.parseJSON('<%= @kata.language.support_filenames.inspect.html_safe %>');
  };
  
  cd.hiddenFilenames = function() {
    return $.parseJSON('<%= @kata.language.hidden_filenames.inspect.html_safe %>');
  };  

  var startHtml = 
    '<div align="center">' +
      '<div class="medium">your animal is the</div>' +
      '<img class="avatar_image"' +
           'src="/images/avatars/<%= @avatar.name %>.jpg"' +
           'title="<%= @avatar.name.humanize %>"' +
           'width="120"' +
           'height="120" />' +
      '<div align="center">' +
        '<div class="medium"><%= @avatar.name %></div>' +
      '</div>' +
    '</div>';

  var starter = $('<div class="dialog">')
    .html(startHtml)
    .dialog({
      autoOpen: false,
      title: cd.dialogTitle('start-coding'),
      width: 400,
      modal: true,
      buttons: {
        ok: function() {
          if (<%= @traffic_lights == [ ] -%>) {            
            $('#test').closest("form").submit();
          }
          $(this).dialog('close');
        }
      }
    });
  starter.dialog('open');

});


//--></script>

<%= form_tag( { :action => 'run_tests',
                :id => @kata.id,
                :avatar => @avatar.name
              },
                :remote => true ) do %>  

  <%= render :partial => 'current_filename' %>
  
  <table cellpadding="0" cellspacing="0">
    <tr valign="top">
      <td class="panel">
        <%= render :partial => 'logo' %>
      </td>
      <td class="panel">
        <%= render :partial => 'traffic_lights' %>
      </td>
    </tr>    
    <tr valign="top">
      <td>
        <div class="panel">
          <%= render :partial => 'test_button' %>
          <br/>
          <%= render :partial => 'filename_list' %>
          <br/>
          <%= render :partial => 'file_new_rename_delete' %>
        </div>        
        <div class="panel">          
          <%= render :partial => 'help_button' %>
          <br/>
          <%= render :partial => 'shared/donate_button' %>
          <br/>
          <%= render :partial => 'shared/feedback_button' %>
        </div>
      </td>
      <td>
        <%= render :partial => 'editor' %>
      </td>
    </tr>
  </table>
  
<% end %>
