
<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {
  
  $cd.tabExpansion = function() {
    return "<%= @tab %>";
  };
  $cd.support_filenames = function() {
    return $j.parseJSON('<%= @kata.language.support_filenames.inspect.html_safe %>');
  };
  $cd.hidden_filenames = function() {
    return $j.parseJSON('<%= @kata.language.hidden_filenames.inspect.html_safe %>');
  };  

});

//--></script>

<%= form_tag( { :action => 'run_tests',
                :id => @kata.id,
                :avatar => @avatar.name
              },
                :remote => true ) do %>  

  <table cellpadding="0" cellspacing="0">
    <tr valign="top">
      <td class="panel">
        <%= render :partial => 'logo' %>
      </td>
      <td class="panel">
        <%= render :partial => 'traffic_lights' %>
      </td>
    </tr>    
    <tr valign="top">
      <td>
        <div class="panel">
          <%= render :partial => 'test_button' %>
        </div>
        
        <div class="panel">
          <%= render :partial => 'filename_list' %>
          <br/>
          <%= render :partial => 'current_filename' %>
          <%= render :partial => 'file_new_rename_delete' %>
        </div>
        
        <div class="panel">          
          <table>
            <tr>
              <td>
                <%= render :partial => 'shared/raspberry_pi_logo' %>
              </td>
              <td>
                <%= render :partial => 'shared/feedback_button' %><br/>
                <%= render :partial => 'shared/donate_button' %><br/>
                <%= render :partial => 'help_button' %><br/>  
              </td>
            </tr>
          </table>
        </div>
      </td>
      <td>
        <%= render :partial => 'editor' %>
      </td>
    </tr>
  </table>
  
<% end %>
