
<script type="text/javascript"><!--

$(document).ready(function() {
  
  cd.tabExpansion = function() {
    return "<%= @tab %>";
  };
  
  cd.supportFilenames = function() {
    return $.parseJSON('<%= @kata.language.support_filenames.inspect.html_safe %>');
  };
  
  cd.hiddenFilenames = function() {
    return $.parseJSON('<%= @kata.language.hidden_filenames.inspect.html_safe %>');
  };
  
  cd.highlightFilenames = function() {
    return $.parseJSON('<%= @kata.language.highlight_filenames.inspect.html_safe %>');
  };
  
  cd.storeIncomingFileHashes();    
  cd.storeOutgoingFileHashes();
  
  if (<%= @traffic_lights == [ ] %>) {
    cd.testForm().submit();
  }

  cd.setContentListeners();
  
});

//--></script>

<%= form_tag( { :action => 'run_tests',
                :id     => @kata.id,
                :avatar => @avatar.name
              },
                :remote => true ) do %>  

  <%= render :partial => 'current_filename' %>
  <%= render :partial => 'file_hashes_incoming' %>
  <%= render :partial => 'file_hashes_outgoing' %>
  
  <table>
    <tr class="valign-top">
      <td>
        <div class="panel">
          <%= render :partial => 'logo' %>          
        </div>
        <div class="panel">
          <%= render :partial => 'shared/info' %>          
        </div>
        <div class="panel">        
          <%= render :partial => 'filename_list' %>
          <br/>
          <%= render :partial => 'file_new_rename_delete' %>
        </div>        
        <div class="edgeless panel"></div>
      </td>
      <td>
        <%= render :partial => 'editor' %>
      </td>
    </tr>
    <tr class="valign-top">
      <td align="center" class="valign-center">
        <div class="panel">
          <%= render :partial => 'fork_review' %>
        </div>
      </td>
      <td>
        <table>
          <tr>
            <td>	  
              <%= render :partial => 'line_numbers_on_off' %>
            </td>
            <td>
              <%= render :partial => 'traffic_lights' %>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  
<% end %>
