
<script type="text/javascript"><!--

$(document).ready(function() {
  
  cd.tabExpansion = function() {
    return "<%= @tab %>";
  };
  
  cd.supportFilenames = function() {
    return $.parseJSON('<%= @kata.language.support_filenames.inspect.html_safe %>');
  };
  
  cd.hiddenFilenames = function() {
    return $.parseJSON('<%= @kata.language.hidden_filenames.inspect.html_safe %>');
  };  

  if (<%= @traffic_lights == [ ] %>) {            
    cd.testForm().submit();
  }

});

//--></script>

<%= form_tag( { :action => 'run_tests',
                :id     => @kata.id,
                :avatar => @avatar.name
              },
                :remote => true ) do %>  

  <%= render :partial => 'current_filename' %>
  <%= render :partial => 'file_hashes_incoming' %>
  <%= render :partial => 'file_hashes_outgoing' %>
  
  <table>
    <tr class="valign-top">
      <td>
        <div class="panel">
          <%= render :partial => 'logo' %>        
        </div>
        <div class="panel">        
          <%= render :partial => 'filename_list' %>
          <br/>
          <%= render :partial => 'file_new_rename_delete' %>
        </div>        
        <div class="panel">
          <%= render :partial => 'help_fork_feedback' %>
        </div>
      </td>
      <td>
        <%= render :partial => 'editor' %>
        <%= render :partial => 'traffic_lights' %>
      </td>
    </tr>
  </table>
  
<% end %>
