
<script language="javascript" type="text/javascript"><!--

function bindRunTests(event)
{
  event.stopPropagation();
  event.preventDefault();
  $cd.runTests();
  return false;    
}

function bindLoadNextFile(event)
{
  event.stopPropagation();
  event.preventDefault();
  $cd.loadNextFile();
  return false;
}

$j(document).ready(function() {
  var editor = $j('#editor');
  var output = $j('#output');

  editor.bind('keydown', 'Alt+r', bindRunTests);
  output.bind('keydown', 'Alt+r', bindRunTests);
  
  editor.bind('keydown', 'Alt+f', bindLoadNextFile);
  output.bind('keydown', 'Alt+f', bindLoadNextFile);
  
  editor.tabby({ tabString: editor.attr('tab') });
  $cd.rebuildFilenameList();
  $cd.loadFile("<%=@current_file-%>");
  
  $j('#editor_tabs').tabs();
  $j('#editor_tabs').tabs('select', $cd.OUTPUT_TAB_INDEX);
  output.focus();
});

//--></script>

<% form_remote_tag :url  => { :action => :run_tests,
                              :dojo_name => @dojo.name,
                              :avatar => @avatar.name
                            }, 
                   :before   => '$cd.preRunTests();',
                   :complete => '$cd.postRunTests();' do -%> 

  <table cellpadding="0" cellspacing="0">
    <tr valign="top">
      <td class="panel">
        <%= render :partial => 'info' -%>
      </td>
      <td class="panel">
        <%= render :partial => 'traffic_lights' -%>
      </td>
    </tr>    
    <tr valign="top">
      <td>
        <div class="panel">
          <%= render :partial => 'fileops' -%>
          <%= render :partial => 'filenames' -%>
        </div>
        <div class="panel">
          <%= render :partial => 'messages' -%>
        </div>
      </td>
      <td>
        <%= render :partial => 'editor' -%>
      </td>
    </tr>
  </table>
  
  <%= periodically_call_remote :url => { :action => :heartbeat,
                                         :dojo_name => @dojo.name,
                                         :avatar => @avatar.name
                                       }, 
                               :frequency => @dojo.seconds_per_heartbeat -%>
                   
  <%= render :partial => 'hidden_file_contents' -%>

<% end -%>


