
<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {

  $cd.tabExpansion = function() { return "<%=@tab-%>"; };

  var filenames = $cd.filenames();
  for (var i = 0; i < filenames.length; i++) {
    var filename = filenames[i];
    var file = $cd.fileContentFor(filename);
    $cd.bindHotKeys(file);
    if (filename !== 'output') {
      $cd.tabber(file);
    }
  }
  
  $cd.bindAllLineNumbers();
  $cd.rebuildFilenameList();
  $cd.loadFile("<%=@current_file-%>");
  $cd.welcome("<%=@avatar.name-%>");  
});

//--></script>

<% form_remote_tag :url  => { :action => :run_tests,
                              :dojo_name => @dojo.name,
                              :avatar => @avatar.name
                            }, 
                   :before   => '$cd.preRunTests();',
                   :complete => '$cd.postRunTests();' do -%> 

  <table cellpadding="0" cellspacing="0">
    <tr valign="top">
      <td class="panel">
        <%= render :partial => 'kata_info' -%>
      </td>
      <td class="panel">
        <%= render :partial => 'traffic_lights' -%>
      </td>
    </tr>    
    <tr valign="top">
      <td>
        <div class="panel">
          <%= render :partial => 'help' -%>
        </div>
        <div class="panel">
          <%= render :partial => 'run_tests' -%>
        </div>
        <div class="panel">
          <%= render :partial => 'file_new_rename_delete' -%>
          <%= render :partial => 'filename_list' -%>
          <%= render :partial => 'current_filename' -%>
        </div>
        <div class="panel">
          <%= render :partial => 'messages' -%>
        </div>
      </td>
      <td>
        <%= render :partial => 'editor' -%>
      </td>
    </tr>
  </table>
  
  <%= periodically_call_remote :url => { :action => :heartbeat,
                                         :dojo_name => @dojo.name,
                                         :avatar => @avatar.name
                                       }, 
                               :frequency => @dojo.seconds_per_heartbeat -%>                   
<% end -%>

