
<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {
  var editor = $j('#editor');
  editor.tabby({ tabString: editor.attr('tab') });
  createLineNumbersFor('editor');
  rebuildFilenameList();
  loadFile("<%=@current_file-%>");  
});

//--></script>

<% form_remote_tag :url  => { :action => 'run_tests',
                              :dojo_name => @dojo.name,
                              :avatar => @avatar.name
                            }, 

                   :before   => 'preRunTests();',
                   :complete => 'postRunTests();' do -%> 

  <table>
    <tr valign="top">
      <td>
        <%= render :partial => 'message_panel' -%>
      </td>
      <td>
        <div class="panel">
          <%= render :partial => 'fileops' -%>
          <%= render :partial => 'filenames' -%>
        </div>
        
        <div class="panel">      
          <%= render :partial => 'run_tests' -%>
          <%= render :partial => 'increments' -%>
        </div>
      </td>
      <td>
        <div style="width:42em;">
          <%= render :partial => 'editor' -%>
          <%= render :partial => 'output' -%>
        </div>
      </td>
    </tr>
  </table>
  
  <%= periodically_call_remote :url => { :action => 'heartbeat',
                                         :dojo_name => @dojo.name,
                                         :avatar => @avatar.name
                                       }, 
                               :frequency => @dojo.seconds_per_heartbeat -%>
                   
  <%= render :partial => 'hidden_file_contents' -%>

<% end -%>


