
<%= render partial: 'test_button_handler' %>
<%= render partial: 'filename_support' %>

<script type="text/javascript"><!--

$(function() {

  cd.storeIncomingFileHashes();
  cd.storeOutgoingFileHashes();

  var filenames = cd.filenames();
  $.each(filenames, function(_,filename) {
    var file = cd.fileContentFor(filename);
    cd.bindHotKeys(file);
    if (filename !== 'output') {
      cd.tabber(file);
    }
  });
  cd.bindAllLineNumbers();
  cd.rebuildFilenameList();

  var filename = filenames[cd.nonBoringFilenameIndex(filenames)];
  cd.loadFile(filename);

});

//--></script>

<%= form_tag( { action: 'run_tests',
                id: @kata.id,
                avatar: @avatar.name
              } ) do %>

  <div id="kata-page">
    <%= render partial: 'test_spinner' %>
    <%= render partial: 'current_filename' %>
    <%= render partial: 'file_hashes_incoming' %>
    <%= render partial: 'file_hashes_outgoing' %>
    <table>
      <tr class="valign-top">
        <td align="right">
          <%= render partial: 'test_button' %>
        </td>
        <td>
          <div id="traffic-lights">
            <%= render partial: 'traffic_lights' %>
          </div>
        </td>
      </tr>
      <tr class="valign-top">
        <td>
          <%= render partial: 'file_new_rename_delete' %>
          <%= render partial: 'filename_list' %>
        </td>
        <td>
          <%= render partial: 'editor' %>
        </td>
      </tr>
    </table>
  </div>

  <%= render partial: 'shared/footer',
             locals: {
                help_url:"http://blog.cyber-dojo.org/2014/10/the-cyber-dojo-test-page.html" 
             } %>

<% end %>
