
<script type="text/javascript"><!--

$(document).ready(function() {

  cd.tabExpansion = function() {
    return "<%= @tab %>";
  };

  cd.supportFilenames = function() {
    return $.parseJSON('<%= @kata.language.support_filenames.inspect.html_safe %>');
  };

  cd.highlightFilenames = function() {
    return $.parseJSON('<%= @kata.language.highlight_filenames.inspect.html_safe %>');
  };

  cd.lowlightFilenames = function() {
    return $.parseJSON('<%= @kata.language.lowlight_filenames.inspect.html_safe %>');
  };

  cd.storeIncomingFileHashes();
  cd.storeOutgoingFileHashes();

  //cd.tipify($('.tipped'), $('#tip-window'));

  var filenames = cd.filenames();
  $.each(filenames, function(index,filename) {
    var file = cd.fileContentFor(filename);
    cd.bindHotKeys(file);
    if (filename !== 'output') {
      cd.tabber(file);
    }
  });
  cd.bindAllLineNumbers();
  cd.rebuildFilenameList();

  if (<%= @traffic_lights.length === 0 %>) {
    var message = "\n    Please wait while the tests are run...";
    cd.fileContentFor('output').val(message);
    cd.loadFile('output');
    $('#test-button').attr('disabled', true);
    cd.testForm().submit();
  } else {
    var filename = filenames[cd.nonBoringFilenameIndex(filenames)];
    $('#spinner').hide();
    cd.loadFile(filename);
  }

});

//--></script>

<%= form_tag( { :action => 'run_tests',
                :id     => @kata.id,
                :avatar => @avatar.name
              },
                :remote => true ) do %>

  <%= render :partial => 'current_filename' %>
  <%= render :partial => 'file_hashes_incoming' %>
  <%= render :partial => 'file_hashes_outgoing' %>

<div id="kata-page">
  <table>
    <tr class="valign-top">
      <td>
        <%= render :partial => 'test_button' %>
        <div class="panel">
          <%= render :partial => 'filename_list' %>
        </div>
        <div class="panel">
          <%= render :partial => 'file_new_rename_delete' %>
        </div>
        <div class="panel align-right" id="controls">
          <div>
            <%= render :partial => 'line_numbers_checkbox' %>
          </div>
          <div>
            <%= render :partial => 'revert_button' %>
          </div>
          <div>
            <%= render :partial => 'fork_button' %>
          </div>
          <div>
            <%= render :partial => 'help_button' %>
          </div>
        </div>
      </td>
      <td>
        <div>
          <%= render :partial => 'editor' %>
        </div>
      </td>
    </tr>
    <tr class="valign-top">
      <td>
        <div class="vertical-padded">
          <%= render :partial => 'shared/info' %>
        </div>
      </td>
      <td>
        <div id="traffic-lights">
          <%= render :partial => 'traffic_lights' %>
        </div>
      </td>
    </tr>
  </table>
</div>
<% end %>
