
<script type="text/javascript"><!--

$(document).ready(function() {

  var spinner = $('#spinner');
  var testButton = $('#test-button');

  var ajaxAfter = function() {
    var allTheWay = 100000;
    spinner.hide();
    $('#overlay').remove();
    cd.loadFile('output');
    testButton.attr('disabled', false);
    $('#traffic-lights').scrollLeft(allTheWay);
  };

  $('form').bind('ajax:before', function(evt, data, status, xhr) {
    testButton.attr('disabled', true);
    $('body').prepend('<div id="overlay"></div>');
    spinner.show();
    cd.storeOutgoingFileHashes();
  });

  $('form').bind('ajax:error', function(evt, data, status, xhr) {
    var errorMessage = "" +
      "Files not sent files to the cyber-dojo server." + "\n" +
      "Have you lost your network connection?";
    cd.fileContentFor('output').val(errorMessage);
    ajaxAfter();
  });

  $('form').bind('ajax:success', function(evt, data, status, xhr) {
    cd.rebuildFilenameList();
    // when the ajax replaces output the shortcuts
    // are lost so need rebinding
    var output = cd.fileContentFor('output');
    cd.bindHotKeys(output);
    cd.bindAllLineNumbers();
    cd.storeIncomingFileHashes();
    ajaxAfter();
  });

});

//--></script>

<script type="text/javascript"><!--

$(document).ready(function() {

  cd.tabExpansion = function() {
    return "<%= @tab %>";
  };

  cd.supportFilenames = function() {
    return $.parseJSON('<%= @kata.language.support_filenames.inspect.html_safe %>');
  };

  cd.highlightFilenames = function() {
    return $.parseJSON('<%= @kata.language.highlight_filenames.inspect.html_safe %>');
  };

  cd.lowlightFilenames = function() {
    return $.parseJSON('<%= @kata.language.lowlight_filenames.inspect.html_safe %>');
  };

  cd.extensionFilename = function() {
    return "<%= @kata.language.filename_extension %>";
  };

  cd.storeIncomingFileHashes();
  cd.storeOutgoingFileHashes();

  var filenames = cd.filenames();
  $.each(filenames, function(index,filename) {
    var file = cd.fileContentFor(filename);
    cd.bindHotKeys(file);
    if (filename !== 'output') {
      cd.tabber(file);
    }
  });
  cd.bindAllLineNumbers();
  cd.rebuildFilenameList();

  if (<%= @traffic_lights.length === 0 %>) {
    cd.loadFile('instructions');
    cd.testForm().submit();
  } else {
    var filename = filenames[cd.nonBoringFilenameIndex(filenames)];
    cd.loadFile(filename);
  }

});

//--></script>

<%= form_tag( { :action => 'run_tests',
                :id     => @kata.id,
                :avatar => @avatar.name
              },
                :remote => true ) do %>

  <%= render :partial => 'current_filename' %>
  <%= render :partial => 'file_hashes_incoming' %>
  <%= render :partial => 'file_hashes_outgoing' %>

<div id="kata-page">
  <table>
    <tr class="valign-top">
      <td>
        <%= render :partial => 'shared/info' %>
        <%= render :partial => 'revert_fork' %>
        <%= render :partial => 'line_numbers_checkbox' %>
        <%= render :partial => 'help_button' %>
      </td>
      <td>
        <%= render :partial => 'editor' %>
      </td>
      <td>
        <%= render :partial => 'test_button' %>
        <%= render :partial => 'file_new_rename_delete' %>
        <%= render :partial => 'filename_list' %>
      </td>
    </tr>
    <tr class="valign-top">
      <td></td>
      <td>
        <div id="traffic-lights">
          <%= render :partial => 'traffic_lights' %>
        </div>
      </td>
      <td></td>
    </tr>
  </table>
</div>
<% end %>
