
<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {
  var editor = $j('#editor');
  editor.tabby({ tabString: editor.attr('tab') });
  createLineNumbersForEditor();
  rebuildFilenameList();
  loadFile("<%=@current_file-%>"); 

  editor.bind('keydown', 'Alt+r', runTests);
  editor.bind('keydown', 'Alt+p', loadPreviousFile);
  editor.bind('keydown', 'Alt+n', loadNextFile);
});

//--></script>

<% form_remote_tag :url  => { :action => :run_tests,
                              :dojo_name => @dojo.name,
                              :avatar => @avatar.name
                            }, 
                   :before   => 'preRunTests();',
                   :complete => 'postRunTests();' do -%> 

  <table>
    <tr valign="top">
      <td colspan="2">
          <%= render :partial => 'traffic_lights' -%>
      </td>    
    </tr>
    <tr valign="top">
    
      <td>         
        <div class="panel">
          <%= render :partial => 'fileops' -%>
          <%= render :partial => 'filenames' -%>
        </div>
        
        <div class="panel">
          <span class="small_title">
            <%= link_to ellided_name(@dojo.name, 20), 
                 { :controller => :dashboard, 
                   :action => :show_inflated, 
                   :dojo_name => @dojo.name 
                 }, 
                 { :class => "title",
                   :title => @dojo.name,
                   :target => "_blank" 
                 } 
            -%>
          </span>            
          <%= render :partial => 'messages' -%>
        </div>
        
      </td>
      
      <td style="width:50em;">
        <%= render :partial => 'editor' -%>
        <%= render :partial => 'output' -%>
      </td>
      
    </tr>
  </table>
  
  <%= periodically_call_remote :url => { :action => :heartbeat,
                                         :dojo_name => @dojo.name,
                                         :avatar => @avatar.name
                                       }, 
                               :frequency => @dojo.seconds_per_heartbeat -%>
                   
  <%= render :partial => 'hidden_file_contents' -%>

<% end -%>


