
<script type="text/javascript"><!--

$(document).ready(function() {
  
  cd.tabExpansion = function() {
    return "<%= @tab %>";
  };
  
  cd.supportFilenames = function() {
    return $.parseJSON('<%= @kata.language.support_filenames.inspect.html_safe %>');
  };
  
  cd.hiddenFilenames = function() {
    return $.parseJSON('<%= @kata.language.hidden_filenames.inspect.html_safe %>');
  };
  
  cd.highlightFilenames = function() {
    return $.parseJSON('<%= @kata.language.highlight_filenames.inspect.html_safe %>');
  };
  
  cd.storeIncomingFileHashes();    
  cd.storeOutgoingFileHashes();  

  cd.tipify($('.tipped'), $('#tip_window'));
  
  if (<%= @traffic_lights.length === 0 %>) {
    cd.testForm().submit();
  }
  
});

//--></script>

<%= form_tag( { :action => 'run_tests',
                :id     => @kata.id,
                :avatar => @avatar.name
              },
                :remote => true ) do %>  

  <%= render :partial => 'current_filename' %>
  <%= render :partial => 'file_hashes_incoming' %>
  <%= render :partial => 'file_hashes_outgoing' %>
  
  <table>
    <tr class="valign-top">
      <td>
        <div class="panel">
          <%= render :partial => 'shared/info' %>          
        </div>
        <div class="panel">
          <%= render :partial => 'test_button' %>		
        </div>
        <div class="panel">        
          <%= render :partial => 'filename_list' %>
        </div>
        <div class="panel">        
          <%= render :partial => 'file_new_rename_delete' %>
        </div>        
        <div class="panel">
          <%= render :partial => 'misc_buttons' %>          
        </div>
      </td>
      <td>
        <%= render :partial => 'editor' %>
      </td>
    </tr>
    <tr class="valign-top">
      <td>
        <%= render :partial => 'shared/tip_window' %>
      </td>
      <td>
        <%= render :partial => 'traffic_lights' %>
      </td>
    </tr>
  </table>
  
<% end %>
