
<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {
  var filenames = $cd.filenames();
  var filename, file, i, max = filenames.length;
  
  $cd.tabExpansion = function() {
    return "<%=@tab-%>";
  };
  $cd.support_filenames = function() {
    return $j.parseJSON('<%=@kata.language.support_filenames.inspect-%>');
  };
  $cd.hidden_filenames = function() {
    return $j.parseJSON('<%=@kata.language.hidden_filenames.inspect-%>');
  };  

  for (i = 0; i < max; i += 1) {
    filename = filenames[i];
    file = $cd.fileContentFor(filename);
    $cd.bindHotKeys(file);
    if (filename !== 'output') {
      $cd.tabber(file);
    }
  }
  $cd.bindAllLineNumbers();
  $cd.rebuildFilenameList();
  $cd.loadFile(filenames[$cd.rand(max)]);
  $cd.welcome("<%=@avatar.name-%>");
});

//--></script>

<% form_remote_tag :url  => { :action => :run_tests,
                              :id => @kata.id,
                              :avatar => @avatar.name
                            }, 
                   :before   => '$cd.preRunTests();',
                   :complete => '$cd.postRunTests();' do -%> 

  <table cellpadding="0" cellspacing="0">
    <tr valign="top">
      <td class="panel">
        <%= render :partial => 'logo' -%>
      </td>
      <td class="panel">
        <%= render :partial => 'traffic_lights' -%>
      </td>
    </tr>    
    <tr valign="top">
      <td>
        <div class="panel">
          <%= render :partial => 'run_tests' -%>
        </div>
        <div class="panel">
          <%= render :partial => 'filename_list' -%>
          <br/>
          <%= render :partial => 'file_new_rename_delete' -%>
          <%= render :partial => 'current_filename' -%>
        </div>
        <div class="info panel">
          <br/>
          <%= render :partial => 'shared/info' -%>
          <br/>
          <%= render :partial => 'help' -%>
        </div>
      </td>
      <td>
        <%= render :partial => 'editor' -%>
      </td>
    </tr>
  </table>
  
<% end -%>

