
<script language="JavaScript"
        type="text/javascript"><!--

function makeSelection(name, index, choice)
{
  $(name + '_' + index).checked = true; 
  
  if (name == 'kata')
  {     
  	 $('kata_info').value = $('kata[' + choice + ']').value;
  }
}

//--></script>

<form action="/kata/choose_avatar">

<noscript>
  &nbsp;
  <h2><b>You must enable JavaScript.</b></h2>
  &nbsp;
</noscript>

<input type="hidden"
       name="dojo" 
       id="dojo" 
       value="<%=h @dojo.name-%>" />

<h1>CyberDojo: <%= @dojo.name -%></h1>

&nbsp;&bull;&nbsp;All CyberDojos automatically close 1 hour after creation.<br/>
&nbsp;&bull;&nbsp;If unselected, the server will randomly choose the Kata, and the Language.<br/>

<table>
  <tr>
    <td valign="top">
      <table class="panel">
        <tr>
          <td>
            <textarea name="kata_info" 
                      id="kata_info"
                      cols="62" 
                      rows="24">
                      
                      
               Select a Kata from the list ---&gt;
               to view its instructions
            </textarea>
          </td>
          <td valign="top">
            <span class="choose_title">Kata?</span>
            <% @katas.each_with_index do |choice,index| -%>
              <div onclick='makeSelection("kata", "<%=index-%>", "<%=choice-%>");'>
                <input id="kata_<%=index-%>" 
                       type="radio" 
                       name="filesets[kata]" 
                       value="<%=choice-%>" />
                <label><%= choice -%></label>
              </div>    
            <% end -%>    
          </td>
        </tr>
      </table>
    </td>
    <td valign="top">
      <table class="panel">
        <tr>
          <td>
            <span class="choose_title">Language?</span>
            <% @languages.each_with_index do |choice,index| -%>
              <div onclick='makeSelection("language", "<%=index-%>", "<%=choice-%>");'>
                <input id="language_<%=index-%>" 
                       type="radio" 
                       name="filesets[language]" 
                      value="<%=choice-%>" />
                <label><%= choice -%></label>
              </div>    
            <% end -%>    
          </td>
        </tr>
      </table>
      
      <table>
        <tr>
          <td valign="top">
            <input id="start_button" 
                   type="submit" 
                   value="Enter" 
                   name="start" />
          </td>
        </tr>
      </table>        
    </td>
  </tr>
</table>

</form>

<% @katas.each_with_index do |choice,index| -%>
   <textarea style="display:none;" 
             name="kata[<%=choice-%>]"
             id="kata[<%=choice-%>]"><%=h @kata_info[choice] -%></textarea>
<% end -%>      


