
<div class="dialog" id="help-dialog" data-width="550">
  <table>

    <tr>
      <td>
        <div class="panel">
          <table>
            <tr>
              <td>
                <button class="button"
                        id="test-button">
                  <%= t("views.buttons.test") %>
                </button>
              </td>
              <td>
                &nbsp;<%= t("views.kata_help.runs_the_tests") %><br/>
                &nbsp;creates a new traffic light
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="panel">
          <table>
            <tr>
              <td>
                <%= raw traffic_light_image('red',20,60) %>
              </td>
              <td>
                <%= raw traffic_light_image('amber',20,60) %>
              </td>
              <td>
                <%= raw traffic_light_image('green',20,60) %>
              </td>
              <td>
                <table>
                  <tr>
                    <td align='right'>
                      &nbsp;
                      <span style="color:#F33;"><%= t("views.labels.red") %></span>
                    </td>
                    <td>
                      &nbsp;=
                      <span style="color:#F33;">
                       <%= t('views.kata_help.the_tests_ran_but_one_or_more_failed') %>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td align='right'>
                      &nbsp;
                      <span style="color:#FC3;"><%= t("views.labels.amber") %></span>
                    </td>
                    <td>
                      &nbsp;=
                      <span style="color:#FC3;">
                        <%= t('views.kata_help.the_tests_could_not_be_run') %>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td align='right'>
                      &nbsp;
                      <span style="color:#0F0;"><%= t("views.labels.green") %></span>
                    </td>
                    <td>
                      &nbsp;=
                      <span style="color:#0F0;">
                      <%= t('views.kata_help.the_tests_ran_and_all_passed') %>
                      </span>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
         </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="panel">
          <table>
            <tr>
              <td>
                <div class="filename selected">
                  <input style="display:none;"'
                         type="radio"'
                         checked="checked"
                         value="filename"/>
                    <label><%= t('views.kata_help.filename') %></label>
                </div>
              </td>
              <td>
                <div>
                  &nbsp;<%= t('views.kata_help.opens_the_filename') %>
                </div>
                </td>
            </tr>
            </table>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="panel">
        <table>
          <tr>
            <td>
              <table>
                <tr>
                  <td>
                    <%= raw traffic_light_image('red',20,60) %>
                  </td>
                  <td>
                    <%= raw traffic_light_image('amber',20,60) %>
                  </td>
                  <td>
                    <%= raw traffic_light_image('green',20,60) %>
                  </td>
                  <td>
                    &nbsp;
                  </td>
                  <td>
                    <%= raw t("views.kata_help.opens_a_history_dialog") %>
                  </td>
                </tr>
              </table>
            </td>
            <td>
              <table>
                <tr>
                  <td>
                    <%= raw avatar_image(@avatar_name, 57, translate_avatar(@avatar_name)) %>
                  </td>
                  <td>
                    <%= raw t("views.kata_help.opens_a_dashboard_page") %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="panel">
          <table>
            <tr>
              <td><b>alt-t</b></td> <td>&nbsp;&nbsp;</td> <td><%= raw t('views.kata_help.runs_the_tests') %></td>
            </tr>
            <tr>
              <td><b>alt-o</b></td> <td>&nbsp;</td> <td><%= raw t('views.kata_help.open_the_output_file') %></td>
            </tr>
            <tr>
              <td><b>alt-j</b></td> <td>&nbsp;</td> <td><%= raw t('views.kata_help.open_the_next_lit_file') %></td>
            </tr>
            <tr>
              <td><b>alt-k</b></td> <td>&nbsp;</td> <td><%= raw t('views.kata_help.open_the_previous_lit_file') %></td>
            </tr>
          </table>
        </div>
      </td>
    </tr>

  </table>
</div>
