
<div class="dialog" id="help-dialog" data-width="610">
  <table>
    <tr>
      <td>
        <div class="panel">
        <table>
          <tr>
            <td>
              <table>
                <tr>
                  <td>
                    <%= logo_image(50,'') %>
                  </td>
                  <td>
                    <%= raw t("views.kata_help.opens_a_home_page") %>
                  </td>
                </tr>
              </table>
            </td>
            <td>
              <table>
                <tr>
                  <td>
                    <%= traffic_light_image('red',22,65) %>
                  </td>
                  <td>
                    <%= traffic_light_image('amber',22,65) %>
                  </td>
                  <td>
                    <%= traffic_light_image('green',22,65) %>
                  </td>
                  <td>
                    &nbsp;
                  </td>
                  <td>
                    <%= raw t("views.kata_help.opens_a_diff_review") %>
                  </td>
                </tr>
              </table>
            </td>
            <td>
              <table>
                <tr>
                  <td>
                    <%= avatar_image(@avatar_name, 57, translate_avatar(@avatar_name)) %>
                  </td>
                  <td>
                    <%= raw t("views.kata_help.opens_a_dashboard_page") %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="panel">
          <table>
            <tr>
              <td>
                <button type="submit"
                        class="button"
                        id="test-button">
                  <%= t("views.buttons.test") %>
                </button>
              </td>
              <td>
                &nbsp;<%= t("views.kata_help.runs_the_tests") %>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="panel">
          <table>
            <tr>
              <td>
                <%= traffic_light_image('red',20,60) %>
              </td>
              <td>
                <%= traffic_light_image('amber',20,60) %>
              </td>
              <td>
                <%= traffic_light_image('green',20,60) %>
              </td>
              <td>
                &nbsp;<span style="color:red;"><%= t("views.labels.red") %></span>
                - <%= t('views.kata_help.the_tests_ran_but_one_or_more_failed') %><br/>
                &nbsp;<span style="color:#FC3;"><%= t("views.labels.amber") %></span>
                - <%= t('views.kata_help.the_tests_could_not_be_run') %><br/>
                &nbsp;<span style="color:#0F0;"><%= t("views.labels.green") %></span>
                - <%= t('views.kata_help.the_tests_ran_and_all_passed') %>
              </td>
            </tr>
          </table>
         </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="panel">
          <table>
            <tr>
              <td>
                <div class="filename selected">
                  <input style="display:none;"'
                         type="radio"'
                         checked="checked"
                         value="filename"/>
                    <label><%= t('views.kata_help.filename') %></label>
                </div>
              </td>
              <td>
                <div>
                  &nbsp;<%= t('views.kata_help.opens_the_filename') %>
                </div>
                </td>
            </tr>
            </table>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="panel">
          <table>
            <tr>
              <td><b>alt-t</b></td> <td>&nbsp;</td> <td><%= raw t('views.kata_help.runs_the_tests') %></td>
            </tr>
            <tr>
              <td><b>alt-o</b></td> <td>&nbsp;</td> <td><%= raw t('views.kata_help.open_the_output_file') %></td>
            </tr>
            <tr>
              <td><b>alt-f</b></td> <td>&nbsp;</td> <td><%= raw t('views.kata_help.open_the_next_lit_file') %></td>
            </tr>
            <tr>
              <td><b>alt-b</b></td> <td>&nbsp;</td> <td><%= raw t('views.kata_help.open_the_previous_lit_file') %></td>
            </tr>
          </table>
        </div>
      </td>
    </tr>

  </table>
</div>
