
<script language="JavaScript"
        type="text/javascript"><!--
var avatar_selected = false;
var language_selected = false;
var kata_selected = false;

function enable_play_if_all_selected()
{
  $('play').disabled 
     =  !avatar_selected 
     || !language_selected 
     || !kata_selected;
}

function select_avatar(selected, index)
{
  $('avatar_' + index).checked = true;
  avatar_selected = true;
  enable_play_if_all_selected();
}
function select_language(selected, index)
{
  $('language_' + index).checked = true; 
  language_selected = true;
  enable_play_if_all_selected();
}
function select_kata(selected, index)
{
  $('kata_' + index).checked = true;
  kata_selected = true;
  enable_play_if_all_selected();
}
//--></script>

<form name="avatarIndex" 
      action="/kata/view">

<noscript>
  &nbsp;
  <h2><b>You must enable JavaScript.</b></h2>
  &nbsp;
</noscript>

<input readonly 
       type="hidden"
       name="dojo" 
       id="dojo" 
       value="<%=h @dojo.name-%>">

<h1><b>CyberDojo: <%= @dojo.name -%></b></h1>
<h2><i>Each laptop must have a different animal</i></h2>

<table>
<tr>
<td>

<table class="mid_tone panel" >
  <tr>    
    <td>
      <% chunk_size = 5 -%>
      <% chunks = chunk_array(@avatars.sort, chunk_size) -%>
      <table>
        <% chunks.each_with_index do |chunk,outer| -%>
        <tr>
        <% chunk.each_with_index do |avatar,inner| -%>
           <% index = outer*chunk_size + inner -%>
           <td onclick='select_avatar("<%=avatar.downcase-%>", "<%=index-%>");'>
             <input id="avatar_<%=index-%>"
                    type="radio"
                    name="avatar"
                    value="<%=avatar.downcase-%>">

               <img alt="<%=avatar-%>" 
                    src="/images/avatars/<%=avatar.downcase-%>.jpg"
                    title="<%=avatar.humanize-%>" />
           </td>
        <% end -%>
        </tr>
      <% end -%>
      </table>    
    </td>
  </tr>
</table>
</td>

<td>+</td>

<td>
<table class="mid_tone panel">
  <% @languages.each_with_index do |language,index| -%>
  <tr>
    <td onclick='select_language("<%=language-%>", "<%=index-%>");'>
      <input id="language_<%=index-%>" 
             type="radio" 
             name="language" 
             value="<%=language-%>">
      <%= language -%>
    </td>
  </tr>
  <% end -%>
</table>
</td>

<td>+</td>

<td>
<table class="mid_tone panel">
  <% @katas.each_with_index do |kata,index| -%>
  <tr>
    <td onclick='select_kata("<%=kata-%>", "<%=index-%>");'>
      <input id="kata_<%=index-%>" 
             type="radio" 
             name="kata" 
             value="<%=kata-%>">
      <%= kata -%>
    </td>
  </tr>
  <% end -%>
</table>
</td>

<td>
<input id="play" 
       type="submit" 
       value="Play" 
       name="play" 
       disabled>
</td>

</tr>
</table>

</form>


