
<script language="JavaScript"
        type="text/javascript"><!--
function choose_kata(kata_name)
{
  $('kata_name').value = kata_name;
  document.kataIndex.submit();
}
//--></script>

<form name="kataIndex" action="/kata/view"">

<input type="hidden"
       name="dojo_name" 
       id="dojo_name" 
       value="<%=h @dojo.name-%>">

<input type="hidden"
       name="avatar_name" 
       id="avatar_name" 
       value="<%=h @avatar_name -%>">

<input type="hidden"
       name="kata_name" 
       id="kata_name" 
       value="">

<h1><b><%= @dojo.name -%></b></h1>

<div id="avatar_pair">
  <img alt="<%=@avatar_name-%>" 
       src="/images/avatars/<%=@avatar_name-%>.jpg"
       title="<%=@avatar_name.humanize-%>" />
  <img alt="<%=@avatar_name-%>" 
       src="/images/avatars/<%=@avatar_name-%>.jpg"
       title="<%=@avatar_name.humanize-%>" />
</div>

<table class="mid_tone panel">
  <% @dojo.kata_names.sort.each do |kata_name| -%>
  <tr>
    <td>
      <input type="button" 
             onClick='choose_kata("<%=kata_name-%>");'
             value="<%=kata_name-%>">
    </td>
  </tr>
  <% end -%>
</table>

<h2><i>Please click your kata....</i></h2>

</form>


