
<script language="JavaScript"
        type="text/javascript"><!--
var avatar_selected = false;

var selected = {};
<% @filesets.each do |name| -%>
selected['<%=name-%>'] = false;
<% end -%>

function enable_start_if_all_selected()
{
  var all_selected = true;
  for (one in selected) {
    if (!selected[one]) {
      all_selected = false;
    }
  }
  $('start_button').disabled = !avatar_selected || !all_selected;     
}

function select_avatar(index)
{
  $('avatar_' + index).checked = true;
  avatar_selected = true;
  enable_start_if_all_selected();
}

function selection(name, index)
{
  $(name + '_' + index).checked = true; 
  selected[name] = true;  
  enable_start_if_all_selected();
}

//--></script>

<form name="avatarIndex" 
      action="/kata/view">

<noscript>
  &nbsp;
  <h2><b>You must enable JavaScript.</b></h2>
  &nbsp;
</noscript>

<input readonly 
       type="hidden"
       name="dojo" 
       id="dojo" 
       value="<%=h @dojo.name-%>">

<h1><b>CyberDojo: <%= @dojo.name -%></b></h1>
<h3>
Each computer entering your CyberDojo must
choose a <em>different</em> animal avatar.<br/>
The CyberDojo server does <em>not</em> check this.
Please self-organize this yourselves.
</h3>

<table>
<tr>
<td>

<table class="panel" >
  <tr><th><span class="choose_title">Avatar?</span></th></tr>
  <tr>    
    <td valign="top">
      <% chunk_size = 5 -%>
      <% chunks = chunk_array(@avatars.sort, chunk_size) -%>
      <table>
        <% chunks.each_with_index do |chunk,outer| -%>
        <tr>
        <% chunk.each_with_index do |avatar,inner| -%>
           <% index = outer*chunk_size + inner -%>
           <td onclick='select_avatar("<%=index-%>");'>
             <input id="avatar_<%=index-%>"
                    type="radio"
                    name="avatar"
                    value="<%=avatar.downcase-%>">

               <img alt="<%=avatar-%>" 
                    src="/images/avatars/<%=avatar.downcase-%>.jpg"
                    title="<%=avatar.humanize-%>" />
           </td>
        <% end -%>
        </tr>
      <% end -%>
      </table>    
    </td>
  </tr>
</table>
</td>

<% @filesets.each do |name| -%>
<td valign="top">
  <div class="panel">
    <span class="choose_title"><%=name.capitalize-%>?</span>
    <% FileSet.new(name).choices.each_with_index do |choice,index| -%>
      <div onclick='selection("<%=name-%>", "<%=index-%>");'>
        <input id="<%=name-%>_<%=index-%>" 
               type="radio" 
               name="filesets[<%=name-%>]" 
               value="<%=choice-%>">
        <%= choice -%>
      </div>    
    <% end -%>    
  </div>
</td>
<% end -%>

<td valign="top">
<input id="start_button" 
       type="submit" 
       value="Start" 
       name="start" 
       disabled>
</td>

</tr>
</table>

</form>


