
<script language="JavaScript"
        type="text/javascript"><!--
var avatar_selected = false;
var language_selected = false;
var kata_selected = false;

function enable_start_if_all_selected()
{
  $('start_button').disabled 
     =  !avatar_selected 
     || !language_selected 
     || !kata_selected;
}

function select_avatar(selected, index)
{
  $('avatar_' + index).checked = true;
  avatar_selected = true;
  enable_start_if_all_selected();
}
function select_language(selected, index)
{
  $('language_' + index).checked = true; 
  language_selected = true;
  enable_start_if_all_selected();
}
function select_kata(selected, index)
{
  $('kata_' + index).checked = true;
  kata_selected = true;
  enable_start_if_all_selected();
}
//--></script>

<form name="avatarIndex" 
      action="/kata/view">

<noscript>
  &nbsp;
  <h2><b>You must enable JavaScript.</b></h2>
  &nbsp;
</noscript>

<input readonly 
       type="hidden"
       name="dojo" 
       id="dojo" 
       value="<%=h @dojo.name-%>">

<h1><b>CyberDojo: <%= @dojo.name -%></b></h1>
<h3>
Each computer entering your CyberDojo must
choose a <em>different</em> animal avatar.<br/>
The CyberDojo server does <em>not</em> check this.
Please self-organize this yourselves.
</h3>

<table>
<tr>
<td>

<table class="panel" >
  <tr><th><span class="choose_title">Avatar?</span></th></tr>
  <tr>    
    <td valign="top">
      <% chunk_size = 5 -%>
      <% chunks = chunk_array(@avatars.sort, chunk_size) -%>
      <table>
        <% chunks.each_with_index do |chunk,outer| -%>
        <tr>
        <% chunk.each_with_index do |avatar,inner| -%>
           <% index = outer*chunk_size + inner -%>
           <td onclick='select_avatar("<%=avatar.downcase-%>", "<%=index-%>");'>
             <input id="avatar_<%=index-%>"
                    type="radio"
                    name="avatar"
                    value="<%=avatar.downcase-%>">

               <img alt="<%=avatar-%>" 
                    src="/images/avatars/<%=avatar.downcase-%>.jpg"
                    title="<%=avatar.humanize-%>" />
           </td>
        <% end -%>
        </tr>
      <% end -%>
      </table>    
    </td>
  </tr>
</table>
</td>

<td valign="top">
  <div class="panel">
    <span class="choose_title">Language?</span>
    <% @languages.each_with_index do |language,index| -%>
      <div onclick='select_language("<%=language-%>", "<%=index-%>");'>
        <input id="language_<%=index-%>" 
               type="radio" 
               name="language" 
               value="<%=language-%>">
        <%= language -%>
      </div>
    <% end -%>
  </div>
</td>

<td valign="top">
<div class="panel">
  <span class="choose_title">Kata?</span>
  <% @katas.each_with_index do |kata,index| -%>
    <div onclick='select_kata("<%=kata-%>", "<%=index-%>");'>
      <input id="kata_<%=index-%>" 
             type="radio" 
             name="kata" 
             value="<%=kata-%>">
      <%= kata -%>
    </div> 
  <% end -%>
</div>
</td>

<td valign="top">
<input id="start_button" 
       type="submit" 
       value="Start" 
       name="start" 
       disabled>
</td>

</tr>
</table>

</form>


