
<script language="JavaScript"
        type="text/javascript"><!--

function makeSelection(name, index, choice)
{
  $(name + '_' + index).checked = true; 
  
  if (name == 'kata')
  {     
  	 $('kata_info').value = $('kata[' + choice + ']').value;
  }
  if (name == 'avatar')
  {
  	$('avatar_choice').innerHTML = choice;
  }
}

//--></script>

<form name="avatarIndex" 
      action="/kata/edit">

<noscript>
  &nbsp;
  <h2><b>You must enable JavaScript.</b></h2>
  &nbsp;
</noscript>

<input type="hidden"
       name="dojo" 
       id="dojo" 
       value="<%=h @dojo.name-%>" />

<h1>CyberDojo: <%= @dojo.name -%></h1>

<table class="panel" >
  <tr>
    <th>
      <span class="choose_title">Avatar? <span id="avatar_choice"></span>
      </span>
    </th>
  </tr>
  <tr>    
    <td valign="top">
      <% chunk_size = 2 -%>
      <% chunks = chunk_array(@avatars.sort, chunk_size) -%>
      <table>
        <% chunks.each_with_index do |chunk,outer| -%>
        <tr>
        <% chunk.each_with_index do |avatar,inner| -%>
           <% index = inner*chunk_size + outer -%>
           <td onclick='makeSelection("avatar", "<%=index-%>", "<%=avatar.humanize-%>");'>
             <input id="avatar_<%=index-%>"
                    type="radio"
                    name="avatar"
                    value="<%=avatar.downcase-%>" />
               <img alt="<%=avatar-%>" 
                    width='44'
                    height='44'
                    src="/images/avatars/<%=avatar.downcase-%>.jpg"
                    title="<%=avatar.humanize-%>" />
           </td>
        <% end -%>
        </tr>
      <% end -%>
      </table>    
    </td>
  </tr>
</table>


<!-- In a multi-kata dojo, if you list the kata/language -->
<!-- filesets alphabetically there is a strong likelihood -->
<!-- each station will simply pick the first entry. That -->
<!-- happened at the 2010 NDC conference for example. Listing --> 
<!-- them in a random order increases the chances stations -->
<!-- will make different selections, which hopefully will -->
<!-- increase the potential for collaboration - the game's -->
<!-- prime directive. --> 

<table>
  <tr>
    <td valign="top">
      <table class="panel">
        <tr>
          <td>
            <textarea name="kata_info" 
                      id="kata_info"
                      cols="62" 
                      rows="24">
            </textarea>
          </td>
          <td valign="top">
            <span class="choose_title">Kata?</span>
            <% katas = FileSet.new('kata').choices.shuffle -%>
            <% katas.each_with_index do |choice,index| -%>
              <div onclick='makeSelection("kata", "<%=index-%>", "<%=choice-%>");'>
                <input id="kata_<%=index-%>" 
                       type="radio" 
                       name="filesets[kata]" 
                       value="<%=choice-%>" />
                <label><%= choice -%></label>
              </div>    
            <% end -%>    
          </td>
        </tr>
      </table>
    </td>
    <td valign="top">
      <table class="panel">
        <tr>
          <td>
            <span class="choose_title">Language?</span>
            <% languages = FileSet.new('language').choices.shuffle -%>
            <% languages.each_with_index do |choice,index| -%>
              <div onclick='makeSelection("language", "<%=index-%>", "<%=choice-%>");'>
                <input id="language_<%=index-%>" 
                       type="radio" 
                       name="filesets[language]" 
                      value="<%=choice-%>" />
                <label><%= choice -%></label>
              </div>    
            <% end -%>    
          </td>
        </tr>
      </table>
      
      <table>
        <tr>
          <td valign="top">
            <input id="start_button" 
                   type="submit" 
                   value="Start" 
                   name="start" />
          </td>
        </tr>
        <tr>
          <td>
            &nbsp;<br/>
            &nbsp;<br/>
          </td>  
        </tr>
        <tr>
          <td valign="bottom">
            <%= link_to 'Dashboard', 
                   { :controller => 'dojo', 
                     :action => 'dashboard',
                     :name => @dojo.name 
                   },
                   { :id => 'dashboard_button' } -%>
          </td>
        </tr>
      </table>        
    </td>
  </tr>
</table>

If unselected, the server will randomly choose the Avatar, the Kata, and the Language.<br/>
Kata and Language selection will be ignored for an already started Avatar.

</form>

<% FileSet.new('kata').choices.each_with_index do |choice,index| -%>
   <textarea style="display:none;" 
             name="kata[<%=choice-%>]"
             id="kata[<%=choice-%>]"><%=h @kata_info[choice] -%></textarea>
<% end -%>      


