 
<h1 align="center">CyberDojo: <%= @dojo.name -%></h1>

<% avatars = @dojo.avatars -%>
<% languages = avatars.collect { |avatar| avatar.kata.language }.uniq -%>
<% katas = avatars.collect { |avatar| avatar.kata.name }.uniq -%>

<div align="center">
  <% if languages.length == 1 -%> 
    <%= languages[0] -%>,
  <% end -%>
  <% if katas.length == 1 -%> 
    <%= katas[0] -%>, 
  <% end -%>
  <%= age_or_closed(@dojo) -%>
</div>

<div>
<table>
  <% all_avatar_increments(@dojo).each do |avatar_name,increments| -%>
  <tr>
    <td>
      <table align="right"
             cellspacing="2"
             cellpadding="0">
        <tr>
          <% increments.each do |inc| -%>
            <%= traffic_light(inc)-%>
          <% end -%>
        </tr>
      </table>
    </td>
    <td>
      <%= avatar_image(avatar_name, 45) -%>
    </td>
    
    <td>
      <%= reenter_button(@dojo.name, avatar_name) -%>
    </td>
    
    <td>
      <% avatar = Avatar.new(@dojo, avatar_name) -%> 
      <% kata = avatar.kata -%>
      <div class='small_title'>
        <% if languages.length != 1 -%> <%= kata.language -%>. <% end -%> 
        <% if katas.length != 1 -%> <%= kata.name -%>. <% end -%>
        <%= pluralize(avatar.increments.length, 'increment') -%>
      </div>
    </td>    
  </tr>
  <% end -%>

</table>
</div>


