 
<h1 align="center">CyberDojo: <%= @dojo.name -%></h1>

<div>
<table>
  <% all_avatar_increments(@dojo).each do |avatar_name,increments| -%>
  <tr>
    <td>
      <% size = 45 -%>
      <img src="/images/avatars/<%=avatar_name.downcase-%>.jpg"
           width="<%=size-%>"
           height="<%=size-%>"
           title="<%=avatar_name.humanize-%>" />
    </td>
    <% if increments.length > 0 -%>
    <%   last = increments.last -%>
    <% else -%>
    <%   last = { :outcome => :blank } -%>
    <% end -%>
    <%= traffic_light(last) -%>
    <td>
      <img src="/images/avatars/<%=avatar_name.downcase-%>.jpg"
           width="<%=size-%>"
           height="<%=size-%>"
           title="<%=avatar_name.humanize-%>" />
    </td>
    
    <td>
      <form action="/kata/edit">
        <input type="hidden" name="dojo" id="dojo" value="<%=h @dojo.name-%>" />
        <input type="hidden" name="avatar" id="avatar" value="<%=h avatar_name-%>" />
        <input id="reenter_button" 
           type="submit" 
           value="ReEnter" 
           name="reenter" />
      </form>
    </td>
    <td>
      <% avatar = Avatar.new(@dojo, avatar_name) -%> 
      <% kata = avatar.kata -%>
    </td>
    <td>
      <div class='small_title'>
        <%= kata.language -%>, <%= kata.name -%>, <%= pluralize(avatar.increments.length, 'increment') -%>
      </div>
    </td>    
  </tr>
  <% end -%>

</table>
</div>


