
<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {
  rebuildFilenameList();
  createLineNumbersForEditor();
  loadFile("<%=@current_file-%>");
});

//--></script>

<table>
  <tr valign="top">
    <td>
      <%= render :partial => 'info_panel' -%>
      
      <div class="panel">
        <table>
          <tr>
            <td>
              <table>
                <tr>
                  <% if @increments.length != 0 -%>
                  <td>
                    <%= link_to "0", 
                    { :controller => :kata, 
                      :action => :review,
                      :dojo_name => "#{@dojo.name}",
                      :avatar => "#{@avatar.name}",
                      :tag => "0" }, 
                    { :class => "title" } -%>
                  </td>                
                  <% end -%>
                  <td>
                    <%= render :partial => 'prev_increment_button' -%>
                  </td>                
                  <td>
                    <% if @increments.length != 0 -%>
                      <%= traffic_light(@dojo.name, @avatar.name, @increments.last) -%>
                    <% end -%>
                  </td>
                  <td>
                    <div id="increment_number">
                       <%= @increments.length -%>
                    </div>
                  </td>                
                  <td>
                    <%= render :partial => 'next_increment_button' -%>                      
                  </td>
                  <% if @increments.length < @avatar_increments.length -%>
                  <td>
                    <%= link_to "#{@avatar_increments.length}", 
                    { :controller => :kata, 
                      :action => :review,
                      :dojo_name => "#{@dojo.name}",
                      :avatar => "#{@avatar.name}",
                      :tag => "#{@avatar_increments.length}" }, 
                    { :class => "title" } -%>
                  </td>                
                  <% end -%>
                </tr>
              </table>
            </td>
          </tr>
        </table>      
      </div>
      
      <div class="panel">
        <%= render :partial => 'filenames' -%>
      </div>
      
    </td>
    
    <td>
      <div style="width:42em;">
        <%= render :partial => 'editor' -%>
        <%= render :partial => 'output' -%>
      </div>
    </td>
  </tr>

</table>

<%= render :partial => 'hidden_file_contents' -%>

  

