
<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {
  rebuildFilenameList();
  createLineNumbersForEditor();
  loadFile("<%=@current_file-%>");
});

//--></script>

<table>
  <tr valign="top">
    <td>
      <div class="panel">
        <div class="small_title">
          <%= link_to "#{@dojo.name}", 
               { :controller => :dojo, :action => :dashboard, :dojo_name => "#{@dojo.name}" }, 
               { :class => "title", :target => "_blank" } -%>
        </div>
        <div class="small_title">
          <%= @kata.language -%>,
          <%= @kata.name -%>
        </div>
        
        <div>
          <%= avatar_image(@avatar.name, 65) -%>
        </div>
      </div>
           
      <div class="panel">
        <table>
          <tr>
            <td>
              <table>
                <tr>
                  <td>
                    <%= render :partial => 'prev_increment_button' -%>
                  </td>                
                  <td>
                    <% if @increments.length != 0 -%>
                      <%= traffic_light(@dojo.name, @avatar.name, @increments.last) -%>
                    <% end -%>
                  </td>
                  <td>
                    <div id="increment_number">
                       <%= @increments.length.to_s -%> / <%= @avatar.increments.length -%>
                    </div>
                  </td>                
                  <td>
                    <%= render :partial => 'next_increment_button' -%>                      
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>      
      </div>
      
      <div class="panel">
        <%= render :partial => 'filenames' -%>
      </div>
      
    </td>
    
    <td>
      <div style="width:42em;">
        <%= render :partial => 'editor' -%>
        <%= render :partial => 'output' -%>
      </div>
    </td>
  </tr>

</table>

<%= render :partial => 'hidden_file_contents' -%>

  

