
<table class="rounded panel" 
       cellpadding="3px">
  <% result = gapper(@kata.avatars) -%>
  <% @kata.avatars.each do |avatar| -%>
  <tr>
    <td nowrap>
      <%= avatar_image(avatar.name) {|i| i} -%>
      <%= avatar_image(avatar.name) {|i| i} -%>
    </td>
    <td>
      <table cellpadding="1px">
        <tr>
          <% avatar.increments.each do |increment| -%>
          <% increment[:gap].to_i.times do -%>
          <td>
            <a style="visibility:hidden;" 
               class="passed_prediction passed rounded increment" 
               href="">
              &thinsp;
              <span></span>
            </a>
          </td>
          <% end -%>
          <td>
            <a class="<%= increment[:prediction]-%>_prediction <%= increment[:outcome] -%> rounded increment" 
               href="/kata/see_one_increment/<%=h @dojo.id -%>?kata_id=<%=CGI::escape(@kata.id) -%>&avatar=<%=h avatar.name-%>&increment=<%=h increment[:number]-%>&ordinal=<%=h increment[:ordinal]-%>">
              &thinsp;
              <span></span>
            </a>
          <td>
          <% end -%>
        </tr>
      </table>
    </td>
  </tr>
  <% end -%>
</table>


