
<table class="dojo panel box">
<tr><td>
<table cellpadding="3px">
  <% @avatars.each do |avatar_name,avatar_increments| -%>
   <tr>
     <td nowrap>

        <a href="/kata/see_one_increment/<%= @kata_id -%>?avatar=<%= avatar_name-%>" target="_blank">
           <%= avatar_image(avatar_name) {|i| i} -%>
        </a>
        <a href="/kata/see_one_increment/<%= @kata_id -%>?avatar=<%= avatar_name-%>" target="_blank">
           <%= avatar_image(avatar_name) {|i| i} -%>
        </a>
     </td>
     <td nowrap>
       <table cellpadding="1px">
         <tr>
           <% avatar_increments.each do |increment| -%>
           <td>
             <a class="<%= increment[:prediction]-%>_prediction <%= increment[:outcome] -%> increment box" 
                href="/kata/see_one_increment/<%= @kata_id -%>?avatar=<%= avatar_name-%>&increment=<%= increment[:number]-%>">
               <span><%= increment[:number] -%></span>
             </a>
           <td>
           <% end -%>
         </tr>
       </table>
     </td>

   </tr>
  <% end -%>
</table>

