
<table class="dojo panel box">
<tr><td>
<table cellpadding="3px">
  <% @kata.avatars.each do |avatar| -%>
   <tr>
     <td nowrap>

        <a href="/kata/see_one_increment/<%= @kata.id -%>?avatar=<%= avatar.name-%>" target="_blank">
           <%= avatar_image(avatar.name) {|i| i} -%>
        </a>
        <a href="/kata/see_one_increment/<%= @kata.id -%>?avatar=<%= avatar.name-%>" target="_blank">
           <%= avatar_image(avatar.name) {|i| i} -%>
        </a>
     </td>
     <td nowrap>
       <table cellpadding="1px">
         <tr>
           <% avatar.increments.each do |increment| -%>
           <td>
             <a class="<%= increment[:prediction]-%>_prediction <%= increment[:outcome] -%> increment box" 
                href="/kata/see_one_increment/<%= @kata.id -%>?avatar=<%= avatar.name-%>&increment=<%= increment[:number]-%>">
               &thinsp;
               <span><%= increment[:number] -%></span>
             </a>
           <td>
           <% end -%>
         </tr>
       </table>
     </td>

   </tr>
  <% end -%>
</table>

