
<%= render :partial => 'js_caret_pos' -%>
<%= render :partial => 'js_editor_menu' -%>
<%= render :partial => 'js_file_load_save' -%>
<%= render :partial => 'js_file_new_rename_delete' -%>
<%= render :partial => 'js_line_numbers' -%>
<%= render :partial => 'js_on_dom_loaded' -%>
<%= render :partial => 'js_run_tests' -%>

<% form_remote_tag :url => { :action => 'run_tests',
                             :dojo_name => @dojo.name,
                             :kata_name => @kata.name,
                             :avatar_name => @avatar.name
                           }, 
                   :before   => 'preRunTests();',
                   :complete => 'postRunTests();' do -%> 

  <span class="title"><%= @dojo.name -%>,
                      <%= @kata.name -%></span>

  <%= render :partial => 'view_panel' -%>
  <%= render :partial => 'hidden_file_contents' -%>
  <%= render :partial => 'run_tests_output' -%>
<% end -%>



