<!DOCTYPE 
  html PUBLIC 
  "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
  <head>
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="content-type"  content="text/html;charset=UTF-8" />
    <meta name="description" content="Free Online Coding Dojo" />
    <meta name="keywords" content="Free Online Coding Dojo Kata Deliberate Software Team Practice" />
    <meta name="author" content="Jon Jagger" />
    <title><%= @title %></title>  
    
    <%= csrf_meta_tag %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag :application %>
    <%= javascript_include_tag :application %>
    <script type="text/javascript">var cd = cyberDojo;</script>
  </head>
  
  <body>
    <div id="cyber_dojo_page">
      <%= yield %>
      <%= render "shared/locales" %>
    </div>
  </body>
</html>


